{% extends "default.html" %}

{% block title %}
<title>Ruqqus - The independent social platform</title>
<meta name="description" content="Terms of Service.">
{% endblock %}

{% block content %}
{% filter markdown %}

# Terms of Service

By using Ruqqus you agree to these terms of service.

Content on this page displayed in blockquotes is not officially part of the terms of service.

## Conduct and content

You will follow the content policy [here](/about/rules). 

## Legal

You warrant that you are at least 13 years old. You warrant that you are at least 18 years old, if you indicate as such in your user settings.

You will not hold Ruqqus liable for damages arising from: the use of Ruqqus, the failure of Ruqqus, administrative actions by Ruqqus staff, or the unauthorized access of a third party to your account.

You will not hold Ruqqus liable for damages arising from a loss or breach of Ruqqus data.

You accept full liability for all content you upload to, or embed within, Ruqqus, and indemnify Ruqqus from all such liability.

> You are responsible for everything you do with your Ruqqus account. Don't use Ruqqus to store important data, and don't let anyone else into your Ruqqus account.

## Intellectual Property

You grant Ruqqus a permanent, transferrable, and irrevocable license to store, modify, copy, and distribute all content that you submit to Ruqqus.

You retain all other intellectual property rights, including ownership.

> We need to be able to store, copy, and distribute your content, because that's just how websites work. We also need to be able to modify it for security purposes (Usually, though, we won't).

## Enforcement

Ruqqus retains sole discretion in all determinations regarding content policy violations.

Ruqqus reserves the right to remove content that violates content policy, and to deactivate accounts responsible for such violations.

##GDPR

Ruqqus is operated entirely within the United States and is not subject to European law. That said, you can see the data associated with your user account [here](/my_info).

{% endfilter %}
{% endblock %}