{% extends "docs_default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Ruqqus - Help</title>
<meta name="description" content="Ruqqus Help">
{% endblock %}

{% block content %}
{% filter markdown %}
# Admin Tools

## Content

* [Flagged Posts](/admin/flagged/posts)
* [Flagged Comments](/admin/flagged/comments)
* [Image Feed](/admin/image_posts)

## Account Cosmetics

* [Badges](/admin/badge_grant)

## Data

* [Content Stats](/admin/content_stats)

## Abuse Prevention

* [Single item vote insight](/admin/vote_info)
* [Multivote Analysis](/admin/alt_votes)

{% endfilter %}
{% endblock %}
