{% extends "docs_default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>API App Administration</title>
<meta name="description" content="Ruqqus Help">
{% endblock %}

{% block content %}

<div class="row">
	<div class="col col-lg-8">
		<div class="settings">

<div class="settings-section rounded">
	<div class="d-lg-flex">
	    <div class="title w-lg-25">
            <label for="over18">{{ app.app_name }}</label>
        </div>
        <div class="body w-lg-100">
			<input type="hidden" name="formkey" value="{{ v.formkey }}">
			<label for="edit-{{ app.id }}-name" class="mb-0 w-lg-25">App Name</label>
			<input id="edit-{{ app.id }}-name" class="form-control" type="text" name="name" value="{{ app.app_name }}" readonly=readonly>

			{% if app.client_secret %}
			<label for="edit-{{ app.id }}-client-id" class="mb-0 w-lg-25">Client ID</label>
			<input id="edit-{{ app.id }}-client-id" class="form-control copy-link" type="text" name="name" value="{{ app.client_id }}" data-clipboard-text="{{ app.client_id }}" role="button" readonly="readonly">
			<label for="edit-{{ app.id }}-client-secret" class="mb-0 w-lg-25">Client Secret</label>
			<a href="javascript:void(0)" id="secret-{{ app.id }}-click" class="btn btn-secondary d-block" onclick="x=document.getElementById('secret-{{ app.id }}-click');x.classList.add('d-none');x.classList.remove('d-block');document.getElementById('edit-{{ app.id }}-client-secret').classList.remove('d-none');">Click to show</a>
			<input class="d-none form-control copy-link" id="edit-{{ app.id }}-client-secret" type="text" name="name" value="{{ app.client_secret }}" data-clipboard-text="{{ app.client_secret }}" role="button" readonly="readonly">
			{% endif %}


			<label for="edit-{{ app.id }}-redirect" class="mb-0 w-lg-25">Redirect URI</label>
			<input id="edit-{{ app.id }}-redirect" class="form-control" type="text" name="redirect_uri" value="{{ app.redirect_uri }}" readonly="readonly">
			<label for="edit-{{ app.id }}-desc" class="mb-0 w-lg-25">Description</label>
			<textarea form="edit-app-{{ app.id }}" class="form-control" name="description" id="edit-{{ app.id }}-desc" maxlength="256" readonly="readonly">{{ app.description }}</textarea>
		</div>
	</div>
	<div class="footer">
		<div class="d-flex">
			{% if not app.client_secret%}

			<form action="/admin/app/approve/{{ app.base36id }}" method="post">
				<input type="hidden" name="formkey" value="{{ v.formkey }}">
				<input type="submit" class="btn btn-primary ml-auto" value="Approve">
			</form>

			{% else %}
			<form action="/admin/app/revoke/{{ app.base36id }}" method="post">
				<input type="hidden" name="formkey" value="{{ v.formkey }}">
				<input type="submit" class="btn btn-primary ml-auto" value="Revoke">
			</form>
			{% endif %}
		</div>
	</div>
</div>

</div>
</div>
</div>





{% endblock %}