{% extends "guild/guild_settings.html" %}

{% block title %}
<title>+{{ b.name }} Contributors</title>
{% endblock %}

{% block pagetitle %}+{{ b.name }} Contributors{% endblock %}
{% block subtitle %}Exile or pardon users from +{{ b.name }}{% endblock %}

{% block content %}


                                <div class="body">


                                <label for="title">Approved Contributors</label>
                                <div class="form-text">Users who are approved contributors in +{{ b.name }}</div>

				<form action="/+{{ b.name }}/mod/contributors" method="get">
				<input class="form-input" name="user" type="text" value="{{ request.args.get('user','') }}">
				<input type="submit" class="btn btn-primary" value="Find Users">
				</form>

				{% for user in users %}
				<div class="body"><a href="{{ user.permalink }}">@{{ user.username }}</a> - {% if b.has_contributor(user) %}approved - <a href="javascript:void(0)" class="btn btn-primary" onclick="post('/mod/unapprove/{{ b.base36id }}/{{ user.username }}', callback=function(){window.location.reload(true)})">Remove Contributor</a>{% else %}<a href="javascript:void(0)" class="btn btn-primary" onclick="post('/mod/approve/{{ b.base36id }}/{{ user.username }}', callback=function(){window.location.reload(true)})">Add Contributor</a>{% endif %}
				</div>
				{% else %}
				<div class="body">Search for a user to see if they are an approved user.</div>
				{% endfor %}

				
				</div>


                            </div>

                            <div class="footer">

                                <div class="d-flex">

                                    {% if error %}
                                    <p class="mb-0">
                                        <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                                    </p>
                                    {% endif %}

                                </div>

                            </div>


{% endblock %}