{% extends "guild/guild_settings.html" %}

{% block pagetitle %}+{{ b.name }} CSS - Ruqqus Guildmaster Tools{% endblock %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/dark.css">
{% else %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/main.css">
{% endif %}

{% endblock %}

{% block content %}
<div class="row justify-content-around">

  <div class="col h-100">

    {% if request.args.get('error') or error %}
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-exclamation-circle my-auto"></i>
      <span>
        {{ error if error else request.args.get('error') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}
    {% if request.args.get('msg') or msg %}
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
      <span>
        {{ msg if msg else request.args.get('msg') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}

    <script>
      function mod_post(url, type, id) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        var form = new FormData()
        form.append("formkey", "{{ v.formkey }}");
        item=document.getElementById(type);
        button=document.getElementById(id);
        if (item.type=="checkbox") {
          form.append(item.name, item.checked)
          if (item.checked) {
           form.append(item.name, true);
         } else {
           form.append(item.name, false);
         }
        }
        else {
        form.append(item.name, item.value);
      }
      xhr.withCredentials=true;
      xhr.onprogress=function(){
        button.classList.add("btn-primary");
        button.disabled = true;
        button.innerHTML = `<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Saving`;
      }
      xhr.onload=function(){
        button.classList.remove("btn-danger");
        button.classList.add("btn-success");
        button.innerHTML = `<i class="fas fa-check mr-2"></i>Saved`;
      }
      xhr.onerror=function(){
        button.disabled = false;
        button.classList.add("btn-danger");
        button.innerHTML = `<i class="fas fa-times mr-2"></i>Setting not saved. Try again.`;
      }
      xhr.send(form);
    }

    function detect_change(id, button) {

      var new_val = id.value;

      var original_val = id.defaultValue;

      var save_button = document.getElementById(button);

      if (original_val !== new_val) {
        save_button.disabled = false;
      }
      else {
        save_button.disabled = true;
      }

    }
  </script>

  <div class="row">

    <div class="col col-md-8">

      <div class="settings">

        <div id="description">

          <h2 class="h5" id="guild-css-block" name="guild_css">Guild Styling</h2>


          {% set mod = b.has_mod(v) %}
          {% if mod and mod.perm_config and mod.perm_appearance %}
          <p class="text-small text-muted">Edit the guild's css file.</p>

          <div class="settings-section rounded">

            <div class="body d-lg-flex">

              <label for="css" class="text-black w-lg-25">CSS</label>

              <div class="w-lg-100">
                <div class="input-group mb-2">
                  <textarea class="form-control rounded" id="css" aria-label="With textarea" placeholder="custom_css" rows="{{ b.css | lines }}" name="css" form="profile-settings" maxlength="1000" style="font-family:monospace">{{ b.css }}</textarea>
                </div>

                <small>Limit of 50000 characters</small>

              </div>

            </div>

            <div class="footer">

              <div class="d-flex justify-content-end">

                {% if error %}
                <p class="mb-0">
                  <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                </p>
                {% endif %}

                <button class="btn btn-primary ml-auto" id="save-css" onclick="mod_post('/mod/{{ b.base36id }}/settings/css', 'css', 'save-css');">Save</button>

              </div>

            </div>

          </div>
          {% else %}
          <p class="text-small text-muted">This is the guild's custom CSS file.</p>

          <div class="settings-section rounded">

            <div class="body d-lg-flex">

              <label for="css" class="text-black w-lg-25">CSS</label>

              <div class="w-lg-100">
                <div class="input-group mb-2">
                  <textarea class="form-control rounded" id="css" aria-label="With textarea" placeholder="custom_css" rows="{{ b.css | lines }}" name="description" form="profile-settings" maxlength="1000" style="font-family:monospace;"readonly>{{ b.css }}</textarea>
                </div>

              </div>

            </div>

          </div>

          {% endif %}
        </div>

  </div>

</div>

</div>

</div>

</div>

</div>
{% endblock %}
