{% extends "guild/guild_settings.html" %}

{% block pagetitle %}+{{ b.name }} Settings - Ruqqus Guildmaster Tools{% endblock %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/dark.css">
{% else %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/main.css">
{% endif %}

{% endblock %}

{% block content %}
<div class="row justify-content-around">

  <div class="col h-100">


    {% if v and b.has_mod(v) %}
      {% for ma in actions %}
        <div class="row">

          <p class="py-1 my-0"><i class="fas {{ ma.icon }} fa-fw mx-1"></i><span>{{ ma.age_string }}</span>, {{ ma.str_mod | safe }}</p>

        </div>

      {% endfor %}
    {% else %}
      {% for ma in actions %}
        <div class="row">

          <p class="py-1 my-0"><i class="fas {{ ma.icon }} fa-fw mx-1"></i><span>{{ ma.age_string }}</span>, {{ ma.str_user | safe }}</p>

        </div>

      {% endfor %}
    {% endif %}


    <nav aria-label="Page navigation" class="mb-5">
      <ul class="pagination pagination-sm mb-0">
        {% if page>1 %}
        <li class="page-item">
          <small><a class="page-link" href="page={{ page-1 }}" tabindex="-1">Prev</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Prev</span></li>
        {% endif %}
        {% if next_exists %}
        <li class="page-item">
          <small><a class="page-link" href="?page={{ page+1 }}">Next</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
{% endblock %}
