{% extends "guild/guild_settings.html" %}

{% block pagetitle %}+{{ b.name }} Moderation Log{% endblock %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/dark.css">
{% else %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/main.css">
{% endif %}

{% endblock %}

{% block content %}
<div class="row justify-content-around">

  <div class="col h-100">

    <div class="d-md-flex justify-content-between mb-3">

      <div>
        <h2 class="h5" name="guild_name">+{{ b.name }} Moderation Log</h2>
        <p class="text-small text-muted mb-md-0">This is a log of moderator actions performed in +{{ b.name }}.</p>
      </div>
      <div class="mt-auto">
        <button class="btn btn-primary" data-toggle="modal" data-target="#guildmasterExileModal">Exile user</button>
      </div>
    </div>
    <table class="mx-auto">

      {% for ma in actions %}
        <tr>
          <td class="px-2">{{ ma.age_string }}</td>
          <td class="px-2"><a href="{{ ma.user.permalink }}">{{ ma.user.username }}</td>
          <td class="px-2"><i class="fas {{ ma.icon }} fa-fw"></i></td>
          <td class="px-2">{{ ma.str | safe }}</td>
          <td class="px-2>"><a href="{{ ma.permalink }}"><i class="fas fa-link text-muted"></i></a></td>
        </tr>
      {% else %}
      <tr>
        <td>Nothing here right now.</td>
      </tr>
      {% endfor %}

    </table>

    <nav aria-label="Page navigation" class="mb-5">
      <ul class="pagination pagination-sm mb-0">
        {% if page>1 %}
        <li class="page-item">
          <small><a class="page-link" href="page={{ page-1 }}" tabindex="-1">Prev</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Prev</span></li>
        {% endif %}
        {% if next_exists %}
        <li class="page-item">
          <small><a class="page-link" href="?page={{ page+1 }}">Next</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
{% endblock %}
