{% extends "guild/guild_settings.html" %}

{% block pagetitle %}+{{ b.name }} Settings - Ruqqus Guildmaster Tools{% endblock %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/dark.css">
{% else %}
<link id="css-link" rel="stylesheet" href="/+{{ p.board.name }}/main.css">
{% endif %}

{% endblock %}

{% block content %}
<div class="row justify-content-around">

  <div class="col h-100">

    {% if request.args.get('error') or error %}
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-exclamation-circle my-auto"></i>
      <span>
        {{ error if error else request.args.get('error') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}
    {% if request.args.get('msg') or msg %}
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
      <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
      <span>
        {{ msg if msg else request.args.get('msg') }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}

    <script>
      function mod_post(url, type, id) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        var form = new FormData()
        form.append("formkey", "{{ v.formkey }}");
        item=document.getElementById(type);
        button=document.getElementById(id);
        if (item.type=="checkbox") {
          form.append(item.name, item.checked)
          if (item.checked) {
           form.append(item.name, true);
         } else {
           form.append(item.name, false);
         }
       }
       else {
        form.append(item.name, item.value);
      }
      xhr.withCredentials=true;
      xhr.onprogress=function(){
        button.classList.add("btn-primary");
        button.disabled = true;
        button.innerHTML = `<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Saving`;
      }
      xhr.onload=function(){
        button.classList.remove("btn-danger");
        button.classList.add("btn-success");
        button.innerHTML = `<i class="fas fa-check mr-2"></i>Saved`;
      }
      xhr.onerror=function(){
        button.disabled = false;
        button.classList.add("btn-danger");
        button.innerHTML = `<i class="fas fa-times mr-2"></i>Setting not saved. Try again.`;
      }
      xhr.send(form);
    }

    function detect_change(id, button) {

      var new_val = id.value;

      var original_val = id.defaultValue;

      var save_button = document.getElementById(button);

      if (original_val !== new_val) {
        save_button.disabled = false;
      }
      else {
        save_button.disabled = true;
      }

    }
  </script>

  <div class="row">

    <div class="col col-md-8">

      <div class="settings">

        <div id="name">

          <h2 class="h5" name="guild_name">Guild Name</h2>

          <p class="text-small text-muted">Change the capitilization of your guild's name.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guild_name">Name</label>
              </div>

              <div class="body w-lg-100">

                <input type="text" class="form-control copy-link" id="guild_name" name="guild_name" value="{{ b.name }}">

                <div class="text-small-extra text-muted mt-3">Only the guild name capitalization can be changed.</div>

              </div>

            </div>

            <div class="footer">

              <div class="d-flex justify-content-end">

                {% if error %}
                <p class="mb-0">
                  <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                </p>
                {% endif %}
                <button class="btn btn-primary ml-auto" id="save-guild-name" onclick="mod_post('/mod/{{ b.base36id }}/settings/name', 'guild_name', 'save-guild-name');">Save</button>

              </div>

            </div>

          </div>
        </div>

        <div id="description">

          <h2 class="h5" id="guild_description" name="guild_description">Guild Description</h2>

          <p class="text-small text-muted">Edit the guild's public description. All visitors to the guild will see this.</p>

          <div class="settings-section rounded">

            <div class="body d-lg-flex">

              <label for="bio" class="text-black w-lg-25">Description</label>

              <div class="w-lg-100">
                <div class="input-group mb-2">
                  <textarea class="form-control rounded" id="bio" aria-label="With textarea" placeholder="What's this guild all about?" rows="3" name="description" form="profile-settings" maxlength="1000">{{ b.description }}</textarea>
                </div>

                <small>Limit of 1000 characters</small>

              </div>

            </div>

            <div class="footer">

              <div class="d-flex justify-content-end">

                {% if error %}
                <p class="mb-0">
                  <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                </p>
                {% endif %}

                <button class="btn btn-primary ml-auto" id="save-bio" onclick="mod_post('/mod/{{ b.base36id }}/settings/description', 'bio', 'save-bio');">Save</button>

              </div>

            </div>

          </div>
        </div>

        <div id="nsfw">

          <h2 class="h5">Age-Restricted Content</h2>

          <p class="text-small text-muted">Designate whether your guild contains mature content.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="over18">NSFW Content</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="over18" name="over_18"{% if b.over_18 %} checked{% endif %} onchange="mod_post('/mod/{{ b.base36id }}/settings/over_18','over18')">
                  <label class="custom-control-label" for="over18"></label>
                </div>

                <span class="text-small-extra text-muted">Enable if your guild contains NSFW content suitable only for 18+ users.</span>

              </div>

            </div>

          </div>

        </div>

        <div id="restricted">

          <h2 class="h5">Restricted Posting</h2>

          <p class="text-small text-muted">Restrict submission posting in +{{ b.name }} to approved contributors only.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="restrictswitch">Restrict Posting</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="restrictswitch" name="restrictswitch"{% if b.restricted_posting %} checked{% endif %} onchange="mod_post('/mod/{{ b.base36id }}/settings/restricted','restrictswitch')">
                  <label class="custom-control-label" for="restrictswitch"></label>
                </div>

                <span class="text-small-extra text-muted">Restrict posting in +{{ b.name }} to approved users only. (Anyone will still be able to comment).</span>

              </div>

            </div>

          </div>

        </div>

        <div id="privacy">

          <h2 class="h5">Guild Privacy</h2>

          <p class="text-small text-muted">Make submissions to +{{ b.name }} private. Posts will only be visible to approved Guild Members.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guildprivacy">Toggle Privacy</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="guildprivacy" name="guildprivacy"{% if b.is_private %} checked{% endif %} onchange="mod_post('/mod/{{ b.base36id }}/settings/private','guildprivacy')">
                  <label class="custom-control-label" for="guildprivacy"></label>
                </div>

                <span class="text-small-extra text-muted">Restrict viewing, posting, and commenting in +{{ b.name }} to approved members only. (You will also be unable to yank posts from +general into +{{ b.name }}, unless the post was originally made in +{{ b.name }}) </span>

              </div>

            </div>

          </div>

        </div>

        <div id="optout">

          <h2 class="h5">Opt Out of All/Trending</h2>

          <p class="text-small text-muted">Don't show +{{ b.name }} content in All or Trending for users that aren't members of the guild.</p>

          <div class="settings-section rounded">

            <div class="d-lg-flex">

              <div class="title w-lg-25">
                <label for="guildoptout">Toggle Opt-Out</label>
              </div>

              <div class="body w-lg-100">

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="guildoptout" name="opt_out"{% if b.all_opt_out %} checked{% endif %} onchange="mod_post('/mod/{{ b.base36id }}/settings/opt_out','guildoptout')">
                  <label class="custom-control-label" for="guildoptout"></label>
                </div>

                <span class="text-small-extra text-muted">Don't show +{{ b.name }} content in All or Trending for users that aren't members of the guild. (You will also be unable to yank posts from +general into +{{ b.name }}, unless the post was originally made in +{{ b.name }}) </span>

              </div>

            </div>

          </div>

        </div>

  </div>

</div>

</div>

</div>

</div>
{% endblock %}
