{% extends "errors/default.html" %}

{% block title %}
<title>502 Bad Gateway</title>

{% endblock %}

{% block pagetype %}error-502{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			<i class="fad fa-helmet-battle text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">502 Bad Gateway</h1>
            <h2 class="d-none">::CLOUDFLARE_ERROR_500S_BOX::</h2>
			<p class="text-muted mb-5">Don't go this way, stranger. The gate is closed, and the guards are saying:</p>
            <p class="text-muted mb-5">"We're restarting the server right now, try again in a few moments."</p>

		</div>
	</div>
</div>
{% endblock %}