{% extends "default.html" %}

{% block title %}
<title>{{ p.title }}</title>
<meta name="description" content="{{ p.title }}">
{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=1 and v.admin_level > p.author.admin_level%}
{% if p.is_banned %}
<form action="/api/unban_post/{{ p.id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Approve Post">
</form>
{% else %}
<form action="/api/ban_post/{{ p.id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Remove Post">
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{% if p.url %}<a href="{{ p.url }}">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}</h1>{% if p.url %}<h6>({{ p.domain }})</h6>{% endif %}
<p>{% if p.author %}{% if p.distinguish_level %}{% include "tags/d.html" %}| {% endif %}<a href="{{ p.author.url }}">{{ p.author.username }}</a>{% else %}[deleted]{% endif %} at {{ p.created_str }}</p>
<hr>
<p>comments will go here</p>
{% endblock %}
