{% extends "default.html" %}

{% block title %}
<title>{{ p.title }}</title>
<meta name="description" content="{{ p.title }}">
{% endblock %}

{% block adminpanel %}

{% if v.admin_level >=3 and v.id==p.author_id %}
<form action="/api/distinguish/{{ p.base36id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="{% if p.distinguish_level %}Un-distinguish{% else %}Distinguish{% endif %}">
{% endif %}
{% if v.admin_level >=1 and v.admin_level > p.author.admin_level %}
{% if p.is_banned %}
<form action="/api/unban_post/{{ p.base36id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Approve Post">
</form>
{% else %}
<form action="/api/ban_post/{{ p.base36id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Remove Post">
</form>
{% endif %}
{% endif %}
<p>Score: +{{ p.ups }}/-{{ p.downs }}</p>
{% block admininfo %}
{% endblock %}
{% endblock %}

{% block content %}
<h1>{% if p.url %}<a href="{{ p.url }}">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}</h1>{% if p.url %}<h6>({{ p.domain }})</h6>{% endif %}
<p class="post_tagline">{% if p.author %}{% if p.distinguish_level %}{% include "tags/d.html" %}| {% endif %}<a href="{{ p.author.url }}">{{ p.author.username }}</a>{% else %}[deleted]{% endif %} at {{ p.created_str }} | {{ p.score_fuzzed }} points</p>
{% if v %}
{% set voted=v.vote_status_on_post(p) %}
<form action="/api/vote/post/{{ p.base36id }}/{% if voted==1 %}0{% else %}1{% endif %}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" class="{% if voted==1 %}upvoted_arow{% else %}upvote_arrow{% endif %}" value="↑"{% if voted==1 %}style="color:red"{% endif %}>
</form>
<form action="/api/vote/post/{{ p.base36id }}/{% if voted==-1 %}0{% else %}-1{% endif %}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" class="{% if voted==-1 %}downvoted_arow{% else %}downvote_arrow{% endif %}"" value="↓" {% if voted==-1 %}style="color:blue"{% endif %}>
{% else %}
<form>
<input type="submit" class="upvote_arrow" value="↑" disabled>
</form>
<form>
<input type="submit" class="downvote_arrow" value="↓" disabled>
</form>
{% endif %}
<hr>
{% for c in p.replies %}
{{ c.rendered_comment | safe}}
{% endfor %}
{% endblock %}
