{% extends "default.html" %}

{% block title %}
<title>{{ u.name }}</title>
<meta name="description" content="on Tee_Dee">
{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=3 and v.admin_level > u.admin_level %}
{% if u.is_banned %}
<form action="/api/unban_user/{{ u.id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Unban User">
</form>
{% else %}
<form action="/api/ban_user/{{ u.id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Ban User">
</form>
{% endif %}
{% endif %}
{% if v.admin_level >=4 and v.admin_level > u.admin_level %}
<table>
 <tr>
  <th>Key</th>
  <th>Value</th>
 </tr>
 <tr>
  <td>Account Creation IP</td>
  <td>{{ u.creation_ip }}</td>
 </tr>
 <tr>
  <td>Most Recent IP</td>
  <td>{{ u.most_recent_ip }}</td>
 </tr>
</table>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ u.username }}</h1>
<p>{% if u.admin_level or u.username_verified %}{% if u.admin_level %}{% include "tags/a.html" %}{% endif %}{% if u.admin_level and u.username_verified %}|{% endif %}{% if u.username_verified %}{% include "tags/v.html" %}{% endif %}| {% endif %}Member since {{ u.created_date }}</p>
<hr>
{% endblock %}
