{% extends "default.html" %}

{% block title %}
<title>{{ u.name }}</title>
<meta name="description" content="on Tee_Dee">
{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=3 and v.admin_level > u.admin_level %}
<form action="/api/ban-user/{{ u.id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Ban User">
</form>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ u.username }}</h1>
{% if u.admin_level or u.username_verified %}
<p>
	{% if u.admin_level %}{% include "tags/a.html" %}{% endif %}
	{% if u.admin_level and u.username_verified %}|{% endif %}
	{% if u.username_verified %}{% include "tags/v.html" %}{% endif %}
</p>
{% endif %}
<hr>
{% endblock %}
