{% extends "legal_default.html" %}

{% block content%}
<h1>Content Takedown Request</h1>
<form id="takedownform" action="/legal/final" method="post" enctype="multipart/form-data">
	{% for k in request.form %}
		<input type="hidden" name="{{ k }}" value="{{ request.form[k] }}">
	{% endfor %}

	<div class="h6 mt-5">Provide link(s) to the illegal ruqqus.com content</div>
	<textarea class="form-control" form="takedownform" name="links" required></textarea>

	<div class="h6 mt-5">Which category of non-First-Amendment-protected speech does this content fall into?</div>
	<input type="radio" name="nonprotected_type" value="threats_and_intimidation" checked required> Threats or intimidation<br>
	<input type="radio" name="nonprotected_type" value="obscenity"> Obscenity<br>
	<input type="radio" name="nonprotected_type" value="advocacy_of_lawlessness"> Advocacy of imminent lawless behavior<br>
	<input type="radio" name="nonprotected_type" value="fraud"> Fraudulent misrepresentation<br>
	<input type="radio" name="nonprotected_type" value="defamation"> Defamation.<br>
	<input type="radio" name="nonprotected_type" value="nondisclosure"> Violation of a non-disclosure order issued by a United States court<br>
	<input type="radio" name="nonprotected_type" value="export"> Violation of United States information export law<br>
	<input type="radio" name="nonprotected_type" value="other"> Other<br>

	<div class="h6 mt-5">Cite the statute that this content violates.</div>
	<input class="form-control" name="statute_citation" required>

	<div class="h6 mt-5">Why is this content illegal?</div>
	<div class="body">Provide any additional context necessary to evaluate the legality of the linked content.</div>
	<textarea class="form-control" form="takedownform" name="context" required></textarea>

	<div class="h6 mt-5">Supporting documentation</div>
	<div class="body">If the content is to be removed in response to a court order, or if the content violates a court order, upload a copy of it. The court order must be in English or be accompanied by an official English translation.</div>
	<input type="file" name="file">

	<div class="h6 mt-5">Required Statement</div>
	<input type="checkbox" name="swear_perjury" required> I swear, under penalty of perjury, that the information in this Request is accurate.</br>

	<input class="btn btn-primary mt-5" type="submit" value="Submit">	
</form>
{% endblock %}
