<!-- Announcements Modal -->
<div class="modal fade" id="announcementsModalScrollable" tabindex="-1" role="dialog" aria-labelledby="announcementsModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="announcementsModalScrollableTitle">What's new</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="p-3"><small class="font-weight-bold text-muted text-uppercase align-top">27 June 2020</small>
          <div class="d-flex my-2">
            <img src="https://ruqqus.com/assets/images/icons/eye_open.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">New frontpage algorithm</div>
              <p class="mb-0">Due to increased demand for more variety, we've developed new frontpage algorithms which improves diversity on the front pages. The global Trending listing has a hard cap of two posts per guild, and personal Home pages will now be less dominated by larger guilds.</p>
            </div>
          </div>
        </div>
      	<div class="p-3"><small class="font-weight-bold text-muted text-uppercase align-top">17 May 2020</small>
          <div class="d-flex my-2">
            <img src="https://ruqqus.com/assets/images/icons/trash_gif.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Account deletion</div>
              <p class="mb-0">You can now delete your Ruqqus account. Visit your security settings if you wish to do this. (We hope you don't though).</p>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-purple" data-dismiss="modal">Okay, thanks</button>
        </div>
      </div>
    </div>
  </div>
