<!-- Announcements Modal -->
<div class="modal fade" id="announcementsModalScrollable" tabindex="-1" role="dialog" aria-labelledby="announcementsModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="announcementsModalScrollableTitle">What's new</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 31, 2020</small>
          <div class="d-flex my-2">
            <img src="https://i.imgur.com/8PVr3Ks.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Search for guilds</div>
              <p class="mb-0">You can now search for Ruqqus guilds by adding &quot;+&quot; before your search term. +1 for guild exploration!</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 31, 2020</small>
          <div class="d-flex my-2">
            <img src="https://i.imgur.com/xz53Shn.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Lights out. Dark mode for everyone!</div>
              <p class="mb-0">Dark mode is now available to all ruqqies (ruqquteers or ruqqusians??). You can still unlock sweet profile badges by referring your friends.</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 31, 2020</small>
          <div class="d-flex my-2">
            <img src="https://i.imgur.com/eNHXvOu.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">User-controlled slur filter</div>
              <p class="mb-0">We understand not everyone wants to see all 1A-protected speech such as racial slurs. You can now hide comments and posts including words found <a href="/slurs.txt" target="_blank" rel="noopener noreferrer">here</a>. This setting is user-controlled and toggled off by default.</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 21, 2020</small>

          <div class="d-flex my-2">
            <img src="https://i.imgur.com/GOgKFPq.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Copy/paste to create a post</div>
              <p class="mb-0">To make posting easier, you can now paste links into Ruqqus. You'll be redirected to the submission page with the link and title fields automagically filled in!</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 7, 2020</small>

          <div class="d-flex my-2">
            <img src="https://i.imgur.com/hRPx47m.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Performance upgrades</div>
              <p class="mb-0">We apologize for the sluggish load times. We've been hard at work diagnosing and improving quirks in our code to make Ruqqus faster.</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 7, 2020</small>

          <div class="d-flex my-2">
            <img src="https://i.imgur.com/4c4wl7t.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">GIF keyboard</div>
              <p class="mb-0">Who doesn't like GIFS? Now you can easily add animated images to your comments with a new tool we call the GIF keyboard.</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 7, 2020</small>

          <div class="d-flex my-2">
            <img src="https://i.imgur.com/0pxp4t1.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Expanding images</div>
              <p class="mb-0">Don't want to leave Ruqqus to view an article screenshot or meme? Expandable post images on desktop are now a thing!</p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Mar 7, 2020</small>

          <div class="d-flex my-2">
            <img src="https://i.imgur.com/Qi53rCR.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Dedicated donations page</div>
              <p class="mb-0">After numerous requests, we've made it easier to support Ruqqus through donations. Crypto accepted. <a href="/help/donate" target="_blank" rel="noopener noreferrer">Learn more.</a></p>
            </div>
          </div>
        </div>
        <div class="p-3 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Jan 20, 2020</small>

          <div class="d-flex my-2">
            <img src="https://imgur.com/xoYMRSZ.gif" class="mr-3" style="width: 25px; height: 100%;">
            <div>
              <div class="h5 d-inline-block align-bottom">Say hello to Guilds!</div>
              <p class="mb-0">We're excited to finally bring you early adopters topic-specific boards. Guilds are Ruqqus communities that users can create and run.
                <a href="/post/sk">Learn more.</a></p>
              </div>
            </div>
          </div>
          <div class="p-3 mt-2 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Jan 20, 2020</small>
            <div class="d-flex my-2">
              <img src="https://imgur.com/mByZu7n.gif" class="mr-3 rounded-circle" style="width: 25px; height: 100%;">
              <div>
                <div class="h5 d-inline-block align-bottom">Custom profile pics</div>
                <p class="mb-0">You can now set a custom profile pic for your Ruqqus account. And yes, GIFs are supported!</p>
              </div>
            </div>
          </div>
          <div class="p-3 mt-2 border-bottom"><small class="font-weight-bold text-muted text-uppercase align-top">Jan 20, 2020</small>
            <div class="d-flex my-2">
              <img src="https://imgur.com/UyzLXDC.gif" class="mr-3" style="width: 25px; height: 100%;">
              <div>
                <div class="h5 d-inline-block align-bottom">Subscriptions</div>
                <p class="mb-0">In addition to joining guilds, you can now subscribe to users. Subscribing lets you see their content in your homepage feed.</p>
              </div>
            </div>
          </div>
          <div class="p-3 mt-2"><small class="font-weight-bold text-muted text-uppercase align-top">Jan 20, 2020</small>
            <div class="d-flex my-2">
              <img src="https://imgur.com/QnsK1Cw.gif" class="mr-3" style="width: 25px; height: 100%;">
              <div>
                <div class="h5 d-inline-block align-bottom">Automagically-generated thumbnails</div>
                <p class="mb-0">Automagically-generated thumbnails are live. When you submit a link, Ruqqus servers will capture a screenshot and generate a thumbnail for your post.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-purple" data-dismiss="modal">Okay, thanks</button>
        </div>
      </div>
    </div>
  </div>