{% extends "default.html" %}

{% block sidebarLeftblock %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block customPadding %}{% endblock %}



{% block title %}
<title>+{{ b.name }} - Ruqqus</title>
<meta name="description" content="This guild is banned.">
{% endblock %}

{% block enlargeThumbJS %}
<script src="/assets/js/enlarge_thumb.js"></script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
<span class="fa-stack fa-5x text-muted mb-5">
    <i class="fad fa-chess-rook fa-stack-1x"></i>
    <i class="far text-danger fa-ban fa-stack-2x"></i>
</span>

			<h1 class="h5">+{{ b.name }} is banned.</h1>
			{% if b.ban_reason %}<p class="text-muted mb-5">Reason: {{ b.ban_reason }}</p>{% endif %}
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}