{% extends "home.html" %}

{% block PseudoSubmitForm %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block leftsidebar %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<div class="col col-md-8 col-xl-6 mx-auto">
  <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
    <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
    <span>Welcome to Ruqqus! Pick some topics that interest you to get started. (You can always change these later.)</span>
  </div>
  <div class="card-columns">
  {% for cat in categories %}
    <div class="card rounded-lg text-primary border-0 overflow-hidden onboarding-card text-white" onclick="cattoggle('{{ cat.base36id }}')" id="cat-card-{{ cat.base36id }}">
      <img src="/assets/images/categories/{{ cat.name | lower }}.gif" class="card-img h-100" alt="...">
      <div class="card-img-overlay onboarding-card-overlay d-flex justify-content-center align-items-center">
        <h5 class="card-title h4 mb-0">{{ cat.name }}</h5>
      </div>
    </div>
    <input type="checkbox" class="d-none" id="group-{{ cat.base36id }}">
    <div class="d-none">
      <ul class="list-group list-group-flush">
      {% for subcat in cat.subcats %}
        <li class="list-group-item">
          <input type="checkbox" class="cat-check group-{{ cat.base36id }}" id="cat-{{ subcat.base36id }}" data-cat="{{ subcat.id }}">
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
  </div>
  <div class="row">
    <div class="mr-3 ml-auto">
      <a href="javascript:void(0)" onclick="var x=document.getElementsByClassName('cat-check');for(i=0;i<x.length;i++){x[i].checked=true};togglecat('hot', reload=true)" class="btn btn-secondary ml-auto mr-2">No thanks</a>
      <a href="javascript:void(0)" onclick="togglecat('hot', reload=true)" class="btn btn-primary">Apply Selections</a>
    </div>
  </div>
</div>
{% endblock %}
