{% extends "help.html" %}

{% block content %}
<div class="row justify-content-around">

    <div class="col-12 col-md-4 scrollspy left-sidebar-sticky d-none d-lg-block">

        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#legal-section">Legal</a>
          <a class="list-group-item list-group-item-action" href="#safety-section">Safety</a>
          <a class="list-group-item list-group-item-action" href="#sensitive-content-section">Sensitive Content</a>
        </div>

      </div>

    <div class="col-12 col-md-7 h-100">

        <div class="mt-3 mt-md-0">

            <h1 class="h3">The Ruqqus Rules</h1>

            <p>By using Ruqqus you agree to abstain from posting or submitting to any of the following. Additionally, you warrant that anything posted or submitted by you complies with this code of conduct.</p>

            <hr>

            <h2 id="h4 legal-section">Legal</h2>

            <p><u>Copyright:</u>You may not post anything copyrighted by another party or material not properly licensed to you. You may not post anything not legal to publish within or export from the United States of America.</p>

        </div>

    </div>

</div>
{% endblock %}
