<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="author" content="">

  {% block title %}
  <title>Ruqqus - The social platform for uncensored discourse</title>
  <meta name="description" content="The independent social platform">
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- iOS webapp -->
  <link rel="apple-touch-icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Ruqqus">
  <script src="/assets/js/ios.js"></script>

  <!-- Ruqqus CSS -->

  {% if v and v.referral_count and session.get("dark_mode_enabled") %}
  <link id="css-link" rel="stylesheet" href="/assets/style/main_dark.css">
  {% else %}
  <link id="css-link" rel="stylesheet" href="/assets/style/main.css">
  {% endif %}

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  {% block fixedMobileBarJS %}
  {% endblock %}

  {% if v %}

  <script>
    function post(url, callback, errortext) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      var form = new FormData()
      form.append("formkey", "{{ v.formkey }}");
      xhr.withCredentials=true;
      xhr.onload=callback
      xhr.onerror=function(){alert(errortext)}
      xhr.send(form);
    }
    function formkey() {
      return '{{ v.formkey }}';
    }
  </script>

  <script src="/assets/js/voting.js"></script>
  <script src="/assets/js/comment_replies.js"></script>

  {% if v.admin_level %}
  <script src="/assets/js/comment_modding.js"></script>
  <script src="/assets/js/post_modding.js"></script>
  {% endif %}

  {% endif %}

</head>

<body id="{% block pagetype %}frontpage{% endblock %}" class="">

  {% include "header.html" %}
  <!-- Page Content -->

  <div class="container">
    <div class="row justify-content-around" id="main-content-row">

      <!-- Left Sidebar (hidden on devices smaller than "large") -->

      <div class="col sidebar sidebar-left d-none d-lg-block mr-3">

        {% block sidebarLeftblock %}

        {% if not v %}
        <div class="sidebar-section sidebar-alert">
        <div class="body">
            <img src="/assets/images/illustrations/ruckus.png" class="empty-state-img mb-3" alt="empty state">
            <h5>Join the discourse.</h5>
            <p class="text-small">Internet freedom of speech has a new home. Use your voice. Make a Ruqqus.</p>
            <a href="/signup" class="btn btn-primary btn-block">Sign up</a>
          </div>
        </div>
        {% endif %}

        {% if v %}

        <div class="sidebar-section sidebar-dashboard">
          <div class="title">Dashboard</div>
          <div class="body">
            <ul class="no-bullets filter-list pl-0">
              <li class="filter-item">
                <a class="filter-link" href="{{ v.permalink }}"><i class="fas fa-user-circle fa-width-rem"></i>Profile</a>
              </li>
              <li class="filter-item">
                <a class="filter-link " href="{{ v.permalink }}/posts"><i class="fas fa-feather-alt fa-width-rem"></i>Your posts</a>
              </li>
              <li class="filter-item">
                <a class="filter-link " href="{{ v.permalink }}/comments"><i class="fas fa-comment-dots fa-width-rem"></i>Your comments</a> 
              </li>
              <li class="filter-item">
                <a class="filter-link " href="/settings"><i class="fas fa-cog fa-width-rem"></i>Settings</a>
              </li>
            </ul>
          </div>
        </div>

        {% endif %}

        {% endblock %}

      </div>

      <div class="col h-100 custom-gutters" id="main-content-col">

        {% block PseudoSubmitForm %}
        {% endblock %}

        {% block searchText %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagenav %}
        {% endblock %}

      </div>

      <!-- Right Sidebar (hidden on devices smaller than "large") -->

      <div class="col sidebar text-left d-none d-lg-block ml-3">
        {% block sidebarblock %}
        <div class="sidebar-section sidebar-about">
          <div class="title">About Ruqqus</div>
          <div class="body">
            <p>Ruqqus lets you share and discover content from around the web in one place. Vote on what you like or dislike and engage in uncensored discussion with the community.</p>
            <small><a href="/help/about">Learn more →</a></small>
            {% if v and not v.is_banned %}
            <div class="mt-3"><a class="btn btn-primary btn-block" href="/submit">Create post</a></div>
            {% endif %}
            {% if not v %}
            <div class="mt-3"><a class="btn btn-primary btn-block" href="/login">Create post</a></div>
            {% endif %}
          </div>
        </div>
        {% endblock %}

        {% if v and v.referral_count==0 %}
        <div class="sidebar-section sidebar-dark-promo text-white bg-black">
          <div class="title" style="
          color: #fff;
          border-color: rgba(230, 230, 230, 0.1);
          ">Announcement</div>
          <div class="body">
            <div class="text-center my-3">
              <i class="fad fa-moon-stars text-warning" style="font-size: 4rem"></i>
            </div>

            <div class="mb-2">
              <span class="h5">Refer a friend. Get dark mode.</span>
            </div>
            <p class="text-small">When you invite a friend to make a Ruqqus, you'll unlock dark mode. Copy your referral code to get started.</p>
            <label for="referral_code" class="text-white">Referral code</label>
            <input type="text" readonly="" class="form-control copy-link" id="referral_code" value="https://ruqqus.com/signup?ref={{ v.username }}" data-clipboard-text="https://ruqqus.com/signup?ref={{ v.username }}">
          </div>
        </div>
        {% endif %}

        {% if v %}
        {% if v.admin_level %}
        <div class="sidebar-section sidebar-adminpanel">
         <div class="title">Admin Panel</div>
         <div class="body">
           {% block adminpanel %}
           <p class="text-center text-small text-muted mb-0">No admin actions available</p>
           {% endblock %}
         </div>
       </div>
       {% endif %}
       {% endif %}

       <div class="sidebar-section sidebar-trending d-none">
        <div class="title">What's Hot</div>
        <div class="body">
          <p>Here are the most popular tags from the last 24 hours.</p>
          <div class="hashtag">
            <a href="#">#Mueller</a>
            <div class="text-muted text-small font-weight-normal">2.3K posting about this</div>
          </div>
          <div class="hashtag">
            <a href="#">#MemeWar2</a>
            <div class="text-muted text-small font-weight-normal">1.2K posting about this</div>
          </div>
          <div class="hashtag">
            <a href="#">#AskTrumpSupporters</a>
            <div class="text-muted text-small font-weight-normal">900 posting about this</div>
          </div>
          <div class="hashtag">
            <a href="#">#DNCDebates</a>
            <div class="text-muted text-small font-weight-normal">600 posting about this</div>
          </div>
          <div class="hashtag">
            <a href="#">#DNCDebates</a>
            <div class="text-muted text-small font-weight-normal">600 posting about this</div>
          </div>
        </div>
      </div>
      <!--
      <div class="sidebar-section sidebar-rules">
        <div class="title">Ruqqus Rules</div>
        <div class="body">
          <ol class="pl-0">
            <li>No racism</li>
            <li>No doxxing, threats, or calls to violence</li>
            <li>No trolling</li>
            <li>No solicitation</li>
          </ol>
        </div>
      </div>
      <!--
      <div class="sidebar-section sidebar-rules">
        <div class="title">Ruqqus Rules</div>
        <div class="body">
          <ol class="pl-0">
            <li>No racism</li>
            <li>No doxxing, threats, or calls to violence</li>
            <li>No trolling</li>
            <li>No solicitation</li>
          </ol>
        </div>
      </div>
    -->
  </div>

</div>
</div>

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

<footer class="footer py-5 d-none d-md-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <ul class="list-inline text-center text-small text-muted font-weight-bold mb-0">
          <li class="list-inline-item"><a href="/help/about">About</a></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item"><a href="/help/terms">Terms</a></li>
          <li class="list-inline-item"><a href="/help/privacy">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#">Donate</a></li>
          <li class="list-inline-item"><a href="#">Press</a></li>
          <li class="list-inline-item"><a href="#">Help</a></li>
          <li class="list-inline-item"><a href="https://www.twitter.com/ruqqus">Twitter</a></li>
          <li class="list-inline-item"><a href="https://discord.gg/U57jqnn">Discord</a></li>
          <li class="list-inline-item"><a href="https://github.com/ruqqus/ruqqus">Github</a></li>
          <li class="list-inline-item">&copy; 2019 Ruqqus</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Clipboard Toast -->

<div class="toast clipboard" id="toast-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center text-white">
    <i class="fas fa-check-circle mr-2"></i>Link copied to clipboard
  </div>
</div>

<div class="toast clipboard" id="toast-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white">
    <i class="fas fa-exclamation-circle mr-2"></i>Unable to copy link
  </div>
</div>

{% include "flag_post_modal.html" %}
{% include "flag_comment_modal.html" %}

{% include "bootstrap.html" %}

<script src="/assets/js/collapse.js"></script>
<script src="/assets/js/comment_form.js"></script>

{% if v %}
<script src="/assets/js/comment_form.js"></script>
{% endif %}

<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-error').toast('show');
    })
    console.log(e);
  });
</script>

<!-- Initialize BS 4 tool tips -->

<script src="/assets/js/tooltips.js"></script>

<!-- Search bar icon JS -->

<script src="/assets/js/search_icon.js"></script>

<!-- BS Spinner JS -->

<script src="/assets/js/spinner.js"></script>

{% if v and v.referral_count %}
<!-- Ruqqus Dark Mode Toggle -->
<script src="/assets/js/dark_mode.js"></script>
{% endif %}

{% if v %}
<!-- Ruqqus Flag Comment & Submission -->
<script src="/assets/js/flag.js"></script>
{% endif %}

{% block enlargeThumbJS %}
{% endblock %}

{% block toggleView %}
{% endblock %}

{% block progressbarJS %}
{% endblock %}

{% block embedJS %}
{% endblock %}

{% block formatJS %}
{% endblock %}

</body>

</html>