<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="author" content="">

  {% block title %}
  <title>Ruqqus: Awesome online communities, without censorship</title>
  <meta name="description" content="The independent social platform">
  {% endblock %}
  
  <link rel="icon" type="image/png" href="/assets/images/logo/favicon.png">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- iOS webapp -->
  <link rel="apple-touch-icon" href="/assets/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Ruqqus">


  <!-- Ruqqus CSS -->

  <link id="css-link" rel="stylesheet" href="/assets/style/main.css">

  <!-- Font Awesome -->
  <link href="https://fa.ruqqus.com/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

	<script>
		function formkey() {
			return '{{ v.formkey }}';
		}
	</script>
</head>

<body id="{% block pagetype %}article{% endblock %}">

  {% include "docs_header.html" %}

  <!-- Page Content -->

  <div class="jumbotron jumbotron-fluid" style="background-image: url(/assets/images/jumbotron/docs_jumbotron_bg.jpg); background-position: center;">
    <div class="container">
      <form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search" method="get">
        <input class="form-control bg-white w-100" type="search" placeholder="Search" aria-label="Search" name="q">
        <span class="input-group-append">
          <span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </span>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around" id="main-content-row">

      <!-- Left Sidebar -->

{% block sidebarLeftblock %}

	<div class="col sidebar d-none d-lg-block p-3">

	<div class="sidebar-section">
			<div class="title">Help</div>
      <div class="body">
{% filter markdown %}	
**General Information**

* [About](/help/about)	
* [FAQ](/help/faq)	
* [Our third-party service providers](/help/services)	
* [Guild Siege](/help/siege)
* [Contact](/help/contact)

**Account Cosmetics**

* [Badges](/help/badges)	
* [Titles](/help/titles)	

**Ruqqus Policies**	

* [Terms of service](/help/terms)	
* [Content Policy](/help/rules)	
* [Privacy Policy](/help/privacy)	
* [Legal Policies](/help/legal)	

**Legal Requests**	

* [Submit a Legal Request](/legal)	
* [Submit a DMCA takedown request](/help/dmca)	
* [Submit a DMCA counter-request](/help/counter_dmca)	

**Press**

* [Press Resources](/help/press)

{% endfilter %}	
      </div>
	</div>

	</div>

{% endblock %}


      <div class="col-11 col-lg-8 p-3" id="main-content-col">

        {% block postNav %}
        {% endblock %}

        {% block PseudoSubmitForm %}
        {% endblock %}

        {% block searchText %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagenav %}
        {% endblock %}

      </div>

    </div>
  </div>

</div>
</div>

{% include "footer_article.html" %}

<!-- Clipboard Toast -->

<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center">
    <i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
  </div>
</div>

<div class="toast clipboard" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body text-center">
    <i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
  </div>
</div>

{% include "bootstrap.html" %}

<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-error').toast('show');
    })
    console.log(e);
  });
</script>


<script src="/assets/js/all_js.js"></script>

</body>

</html>
