<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="author" content="">

  {% block title %}
  <title>Ruqqus - The social platform for uncensored discourse</title>
  <meta name="description" content="The independent social platform">
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- iOS webapp -->
  <link rel="apple-touch-icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Ruqqus">
  <script src="/assets/js/ios.js"></script>


  <!-- Ruqqus CSS -->

  <link id="css-link" rel="stylesheet" href="/assets/style/main.css">

  <!-- Font Awesome -->
  <link href="/assets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  <script src="/assets/js/post.js">
</head>

<body id="{% block pagetype %}article{% endblock %}">

  {% include "docs_header.html" %}

  <!-- Page Content -->

  <div class="jumbotron jumbotron-fluid" style="background-image: url(/assets/images/jumbotron/docs_jumbotron_bg.jpg); background-position: center;">
    <div class="container">
      <form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search" method="get">
        <input class="form-control bg-white w-100" type="search" placeholder="Search" aria-label="Search" name="q">
        <span class="input-group-append">
          <span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </span>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around" id="main-content-row">

      <!-- Left Sidebar -->

        {% block sidebarLeftblock %}
        {% endblock %}

      <div class="col p-3" id="main-content-col">

        {% block postNav %}
        {% endblock %}

        {% block PseudoSubmitForm %}
        {% endblock %}

        {% block searchText %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagenav %}
        {% endblock %}

      </div>

    </div>
  </div>

</div>
</div>

<footer class="footer border-top py-5 mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <img src="/assets/images/logo/ruqqus_logo.png" style="width: 35px" class="mb-3">
        <p>The social platform for uncensored discourse.</p>
      </div>
      <div class="col-12 col-md-9">
        <div class="row d-inline-block d-md-flex">
          <div class="col">
            <h6>The Platform</h6>
            <ul class="no-bullets pl-0">
              <li><a href="/about">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Press</a></li>
            </ul>
          </div>
          <div class="col">
            <h6>Connect</h6>
            <ul class="no-bullets pl-0">
              <li><a href="https://www.twitter.com/ruqqus">Twitter</a></li>
              <li><a href="https://ruqqus.org/contribute">Github</a></li>
            </ul>
          </div>
          <div class="col">
            <h6>Get involved</h6>
            <ul class="no-bullets pl-0">
              <li><a href="#">Donate</a></li>
              <li><a href="https://www.ruqqus.org">Contribute</a></li>
            </ul>
          </div>
          <div class="col">
            <h6>Legal</h6>
            <ul class="no-bullets pl-0">
              <li><a href="/about/terms">Terms</a></li>
              <li><a href="/about/privacy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="text-muted text-small-extra">© 2019 Ruqqus, LLC</span>
      </div>
    </div>
  </div>
</footer>

<!-- Clipboard Toast -->

<div class="toast clipboard" id="toast-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center text-white">
    <i class="fas fa-check-circle mr-2"></i>Link copied to clipboard
  </div>
</div>

<div class="toast clipboard" id="toast-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white">
    <i class="fas fa-exclamation-circle mr-2"></i>Unable to copy link
  </div>
</div>

{% include "bootstrap.html" %}

<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript">
  var clipboard = new ClipboardJS('.copy-link');
  clipboard.on('success', function(e) {

    jQuery(function($) {
      $('#toast-success').toast('show');
    })
    console.log(e);
  });
  clipboard.on('error', function(e) {

    jQuery(function($) {
      $('#toast-error').toast('show');
    })
    console.log(e);
  });
</script>

<!-- Initialize BS 4 tool tips -->

<script src="/assets/js/tooltips.js"></script>

<!-- Search bar icon JS -->

<script src="/assets/js/search_icon.js"></script>

</body>

</html>