<!-- Emoji Selection Modal -->
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div style="overflow-y: scroll;">
                <div class="modal-body p-0" id="emoji-modal-body">

                    <div id="no-emojis-found">
                    </div>

                    <div class="emoji-columns pt-3 px-3 pb-0" id="EMOJIS"></div>
                </div>
            </div>
        </div>
    </div>

</div>
