<!-- Emoji Selection Modal -->
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
		<div class="modal-content" id="emojiTabs">
			<div class="modal-header">
				<div>
					<h5 class="modal-title">
						Select an emoji
					</h5>
					<ul class="nav nav-pills py-2">
						<li class="nav-item">
							<a class="nav-link active btn-sm" data-toggle="tab" href="#emoji-tab-ruqqus">Ruqqus</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-memes">Meme</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-gaming">Gaming</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-tv">TV</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-other">Other</a>
						</li>
					</ul>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times text-muted"></i>
				</button>
			</div>
			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="emoji-modal-body">
					<div id="no-emojis-found"></div>
					<div class="tab-content">
						<div class="tab-pane" id="emoji-tab-ruqqus">
							<div class="d-flex flex-wrap p-3" id="EMOJIS_RUQQUS"></div>
						</div>
						<div class="tab-pane" id="emoji-tab-memes">
							<div class="d-flex flex-wrap p-3" id="EMOJIS_MEMES"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
