<!-- Expand Desktop Image Modal -->
<div class="modal" id="expandImageModal" tabindex="-1" role="dialog" aria-labelledby="expandImageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-black">

      <div class="modal-body text-center p-3">
        <img src="" class="img-fluid" id="desktop-expanded-image">
        <div class="d-flex justify-content-between align-items-center mt-3">
          <div id="modal-image-attribution"></div>
          <a href="" target="_blank" class="text-muted font-weight-bold" id="desktop-expanded-image-link">View original</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
