{% extends "flagged_posts.html" %}

{% block adminscripts %}
<script src="/assets/js/comment_modding.js"></script>
{% endblock %}

{% block title %}
<title>Flagged comments on Ruqqus</title>
<meta name="description" content="Comments">
{% endblock %}

{% block sidebarLeftblock %}
<div class="sidebar-section sidebar-filters sticky-63">
  <div class="title">Viewing</div>
  <div class="body">
    <ul class="no-bullets filter-list pl-0">
      <li class="filter-item">
        <a class="filter-link" href="/flagged/posts"><i class="fas fa-feather-alt fa-width-rem"></i>Posts</a>
      </li>
      <li class="filter-item">
        <a class="filter-link active" href="/flagged/comments"><i class="fas fa-comment-dots fa-width-rem"></i>Comments</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}


{% block content %}
<!-- Post filters bar visible only on medium devices or larger-->

<div class="row fixed-top bg-white border-0 shadow d-inline-flex d-md-none p-3" id="filter-bar-mobile" style="z-index: 3; top: 48px; transition: top 0.3s ease 0s;">

  <div class="col">

    <div class="d-flex flex-row flex-nowrap justify-content-between">

      <div class="post-filter">
        <span>Show:</span>
        <span class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comments</a>

          <span class="dropdown-menu border-0 shadow" id="dropdownMenuSortBy" aria-labelledby="dropdownSortBy">
            <a class="dropdown-item" href="/u/flagged/posts">Posts</a>
            <a class="dropdown-item" href="/u/flagged/comments">Comments</a>
          </span>
        </span>

      </div>

    </div>

  </div>

</div>

<div class="row justify-content-around mx-lg-5 d-block d-lg-none no-gutters">
  <div class="col bg-light border-bottom rounded-md p-3">
    <div class="profile-details">
      <div class="media">
      <div class="media-body">
        <h1 class="h6 d-inline-block">Flagged Comments</h1>

      </div>

    </div>

  </div>
</div>
</div>


<div class="flex-row tab-bar sticky d-none d-md-flex">

  <ul class="nav post-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/flagged/posts"><i class="fas fa-feather-alt" aria-hidden="true"></i>Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/flagged/comments"><i class="fas fa-comment-dots" aria-hidden="true"></i>Comments</a>
    </li>

  </ul>

</div>

<div class="row no-gutters">

  <div class="col">

    {% if listing | length ==0 %}
    <div class="text-center py-5">

      <img src="/assets/images/illustrations/searching.png" class="empty-state-img mb-3" alt="empty state">
      <div class="font-weight-bold text-muted">Queue is empty</div>

    </div>
    {% endif %}

    <div class="posts p-3">
     {% for c in listing %}
     {{ c.rendered_comment(v=v, render_replies=False, standalone=True) | safe }}
     {% endfor%}

   </div>
 </div>
</div>
{% endblock %}

{% block pagenav %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm py-3 pl-3 mb-0">
    {% if page>1 %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page-1 }}" tabindex="-1">Prev</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Prev</span></li>
    {% endif %}
    {% if next_exists %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page+1 }}">Next</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}