
<!-- Report Post Modal -->
<div class="modal fade" id="reportPostModal" tabindex="-1" role="dialog" aria-labelledby="reportPostModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Report post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
      </div>
      <!-- Before report is made, show this -->
      <div class="" id="reportPostFormBefore">
      <form>
              <div class="modal-body">
                <div class="h6">We're sorry something here is wrong.</div>
                <small class="form-text text-muted">Please select a reason for flagging below.</small>
                <select class="custom-select mt-3" name="reportReason">
                  <option value="Spam">This post is spam</option>
                  <option value="Contains copyrighted material">Contains copyrighted material</option>
                  <option value="Contains personal information or harassment">Contains personal information or harassment</option>
                  <option value="Contains or links to pornographic material">Contains or links to pornographic material</option>
                  <option value="Contains a threat or involves minors">Contains a threat or involves minors</option>
                  <option value="Promotes sale of illicit substances">Promotes sale of illicit substances</option>
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
            <button id="reportPostButton" class="btn btn-danger">Report post</button>
        </div>
        </form>
</div>
<!-- After report is made, show this -->
<div class="d-none" id="reportPostFormAfter">
  <div class="modal-body">
    <div class="h6">Thank you for reporting this post!</div>
    <small class="form-text text-muted">We'll take it from here.</small>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link text-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>
