
    <footer class="footer py-5 d-none d-md-block">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col">
          <ul class="list-inline text-center text-small text-muted font-weight-bold mb-0">
            <li class="list-inline-item"><a href="/help/about">About</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="/help/terms">Terms</a></li>
            <li class="list-inline-item"><a href="/help/privacy">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Donate</a></li>
            <li class="list-inline-item"><a href="#">Press</a></li>
            <li class="list-inline-item"><a href="#">Help</a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/ruqqus">Twitter</a></li>
            <li class="list-inline-item"><a href="https://ruqqus.org/contribute">Github</a></li>
            <li class="list-inline-item">&copy; 2019 Ruqqus</li>
          </ul>
        </div>
        </div>
        </div>
  </footer>

