<footer class="footer bg-primary py-5">
    <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-md-3 mb-4 mb-md-0">
              <?xml version="1.0" encoding="utf-8"?>
              <svg class="mb-3" style="width: 32px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 197.8 234.9" style="enable-background:new 0 0 197.8 234.9;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#FFFFFF;}
            </style>
            <path class="st0" d="M194.1,31.9c-1.6-13.6-14.6-26.6-28.2-28.2c-44.5-4.9-89.5-4.9-134,0C18.3,5.2,5.2,18.3,3.7,31.9
            c-4.9,44.5-4.9,89.5,0,134c1.6,13.6,14.6,26.6,28.2,28.2c15.1,1.7,30.2,2.7,45.3,3.3l21.7,37.5l21.7-37.5
            c15.1-0.5,30.2-1.6,45.3-3.3c13.6-1.6,26.6-14.6,28.2-28.2C199,121.4,199,76.4,194.1,31.9z M82.1,64.4l4.5,9.7
            c1.9-9.5,8.9-17.2,20.1-22.5l9.1,19.6c-1.8,0.7-3.2,1.2-4.9,1.9c-11.7,5.5-16.5,15.5-9.9,29.5l16.1,34.5L95.9,147L61.8,73.8
            L82.1,64.4z"/>
        </svg>
        <p class="text-white">Awesome online communities, without censorship</p>
    </div>
    <div class="col-12 col-md-9">
      <div class="row d-inline-block d-md-flex">
          <div class="col">
              <h6 class="text-white">The Platform</h6>
              <ul class="no-bullets text-small pl-0">
                <li><a href="/help/about">About</a></li>
                <li><a href="mailto:info@ruqqus.com">Contact</a></li>
                <li><a href="/help/press">Press</a></li>
            </ul>
        </div>
        <div class="col">
            <h6 class="text-white">Connect</h6>
            <ul class="no-bullets text-small pl-0">
                <li><a href="https://www.twitter.com/ruqqus">Twitter</a></li>
                <li><a href="https://github.com/ruqqus/ruqqus">Github</a></li>
                <li><a href="/discord">Discord</a></li>
            </ul>
        </div>
        <div class="col">
            <h6 class="text-white">Get involved</h6>
            <ul class="no-bullets text-small pl-0">
                <li><a href="/help/donate">Donate</a></li>
                <li><a href="https://github.com/ruqqus/ruqqus">Contribute</a></li>
            </ul>
        </div>
        <div class="col">
            <h6 class="text-white">Legal</h6>
            <ul class="no-bullets text-small pl-0">
                <li><a href="/help/terms">Terms</a></li>
                <li><a href="/help/privacy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col">
        <span class="text-white text-small-extra opacity-50">&copy; 2020 Ruqqus, LLC</span>
    </div>
</div>
</div>
</footer>