<ul class="list-inline text-center font-weight-bold text-muted">
   <li class="list-inline-item">About</li>
   <li class="list-inline-item"><a href="/terms"Terms</a></li>
   <li class="list-inline-item">Privacy</li>
   <li class="list-inline-item">Donate</li>
   <li class="list-inline-item">Press</li>
   <li class="list-inline-item">Help</li>
</ul>
<ul class="list-inline text-center text-muted h4">
  <li class="list-inline-item px-1"><i class="fab fa-twitter"></i></li>
  <li class="list-inline-item px-1"><i class="fab fa-facebook-square"></i></li>
</ul>
<div class="h4 text-muted text-center"><i class="fas fa-paw"></i> ruqqus</div>
