<footer class="footer bg-dark py-5">
    <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-md-3 mb-4 mb-md-0">
              <img src="/assets/images/logo/ruqqus_logo_white.png" style="width: 35px" class="mb-3">
              <p class="text-white">The social platform for uncensored discourse.</p>
          </div>
          <div class="col-12 col-md-9">
              <div class="row d-inline-block d-md-flex">
                  <div class="col">
                      <h6 class="text-white">The Platform</h6>
                      <ul class="no-bullets text-small pl-0">
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white">Connect</h6>
                    <ul class="no-bullets text-small pl-0">
                        <li><a href="https://www.twitter.com/ruqqus">Twitter</a></li>
                        <li><a href="https://ruqqus.org/contribute">Github</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white">Get involved</h6>
                    <ul class="no-bullets text-small pl-0">
                        <li><a href="#">Donate</a></li>
                        <li><a href="https://www.ruqqus.org">Contribute</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white">Legal</h6>
                    <ul class="no-bullets text-small pl-0">
                        <li><a href="/about/terms">Terms</a></li>
                        <li><a href="/about/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="text-white text-small-extra opacity-25">&copy; 2019 Ruqqus</span>
        </div>
    </div>
</div>
</footer>