<div class="modal fade" id="guildRulesModal" tabindex="-1" role="dialog" aria-labelledby="guildRulesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Guild rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div>
          <div class="modal-body">
            <ol class="pl-0 mb-0">   
              <li>
                <span class="text-black font-weight-bold">Comply with US law</span>
                <p style="padding: 0 0 0 22px;">Do not post copyrighted material that you are not authorized to distribute. Do not post anything not legal to publish within, or export from, the United States of America.
                </p>
              </li>
              <li>
                <span class="text-black font-weight-bold">Do not harass other users</span>
                <p style="padding: 0 0 0 22px;">
                  Do not harass or threaten others on Ruqqus. You are not allowed to share or publish personal information, either yours or another person.
                </p>
              </li>
              <li>
                <span class="text-black font-weight-bold">No inciting violence</span>
                <p style="padding: 0 0 0 22px;">
                  No incitement, planning or execution of unlawful or violent activity. This does not include the exercise of human rights that may be considered unlawful in a user's home country but protected in the United States.
                </p>
              </li>
              <li>
                <span class="text-black font-weight-bold">Check for duplicates</span>
                <p style="padding: 0 0 0 22px;">
                  Nobody likes reposts. Please make sure the content you're posting hasn't been posted on Ruqqus before.
                </p>
              </li>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay, got it</button>
          </div>
      </div>
    </div>
  </div>
</div>



