<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <div class="flex-grow-1"><a href="/" class="navbar-brand">ruqqus</a></div>
    <div class="flex-grow-1 d-fl d-none d-md-block">
      <form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search" method="get">
        <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" name="q">
        <span class="input-group-append">
          <span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </span>
      </form>
    </div>
    {% if v %}
    <a class="mobile-nav-icon text-white text-lg d-block d-md-none" href="/submit"><i class="far fa-feather-alt align-middle"></i></a>
    {% else %}
    <a class="mobile-nav-icon text-white text-lg d-block d-md-none" href="/login"><i class="far fa-feather-alt align-middle"></i></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fal fa-bars text-white" style="font-size: 2rem;"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto d-none d-md-flex">

      {% if v %}
      <li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
        <a class="nav-link" href="/submit" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"0"}' title="Create post"><i class="far fa-feather-alt"></i></a>
      </li>

      {% if v.notifications_count %}

      <li class="nav-item d-flex align-items-center text-center justify-content-center mx-1">
        <a class="nav-link position-relative" href="/notifications" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class="far fa-bell" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"0"}' title="{{ v.notifications_count }} notifications"></i><span class="badge-count">{{ v.notifications_count }}</span></a>
      </li>

      {% elif v.notifications_count > 9 %}

      <li class="nav-item d-flex align-items-center text-center justify-content-center mx-1">
        <a class="nav-link position-relative" href="/notifications" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class="far fa-bell" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"0"}' title="9+ notifications"></i><span class="badge-count" style="width: 26px;">9+</span></a>
      </li>

      {% else %}

      <li class="nav-item d-flex align-items-center text-center justify-content-center mx-1">
        <a class="nav-link" href="/notifications?all=true" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"0"}' title="Notifications"><i class="far fa-bell"></i></a>
      </li>

      {% endif %}

      <li class="nav-item d-flex align-items-center justify-content-center text-center">
        <div class="dropdown">
          <a class="nav-link bg-transparent py-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="d-inline-block my-auto text-right pr-2">
            <span class="text-white text-small-extra font-weight-bold">Hi, {{ v.username }}</span>
          </div>
          <div class="profile-pic" style="background-color:#{{ v.color }}"><span class="letter">{{ v.username[0] }}</span></div>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left border-0 shadow fade px-0 mt-2"
        aria-labelledby="dropdownMenuButton">
        <div class="px-2">
          <div class="dropdown-meta">
            <div class="font-weight-bold mb-2">{{ v.username }}</div>
            <div class="text-small text-primary"><i class="fad fa-medal mr-2"></i>{{ v.energy }} Rep</div>
          </div>
        </div>
        <hr class="my-2">
        <div class="px-2">
          <a class="dropdown-item" href="{{ v.permalink }}"><i class="fas fa-user-circle fa-width-rem text-left mr-3"></i>My
            profile</a>
            {% if v.notifications_count %}
            <a class="dropdown-item" href="/notifications"><i class="fas fa-inbox fa-width-rem text-left mr-3"></i>Inbox<span
              class="badge badge-danger align-top ml-1">{{ v.notifications_count }}</span></a>
              {% else %}
              <a class="dropdown-item" href="/notifications?all=true"><i class="fas fa-inbox fa-width-rem text-left mr-3"></i>Inbox</a>
              {% endif %}
              <a class="dropdown-item" href="/settings"><i class="fas fa-cog fa-width-rem text-left mr-3"></i>Settings</a>
              {% if v and v.referral_count and session.get("dark_mode_enabled")%}
              <a class="dropdown-item" href="javascript:void(0)" onclick="switch_css()"><i class="fad fa-toggle-on fa-width-rem text-left mr-3" id="dark-switch"></i>Dark mode</a>
              {% elif v and v.referral_count %}
              <a class="dropdown-item" href="javascript:void(0)" onclick="switch_css()"><i class="fad fa-toggle-off fa-width-rem text-left mr-3" id="dark-switch"></i>Dark mode</a>
              {% else %}
              <a class="dropdown-item" href="/settings/profile#referral"><i class="fad fa-toggle-off fa-width-rem text-left mr-3"></i>Dark mode</a>
              {% endif %}
            </div>
            <hr class="my-2">
            <div class="px-2">
              <a class="dropdown-item" href="javascript:void(0)", onclick="post('/logout', callback=function(){window.location.reload(true)})">Log out</a>
            </div>
          </div>
        </div>
      </li>
      {% else %}
      <li class="nav-item d-flex align-items-center justify-content-center mx-1">
       <a class="btn btn-primary" href="/login?redirect={{ request.path | urlencode}}">Sign In</a>
     </li>
     <li class="nav-item d-flex align-items-center justify-content-center mx-1">
       <a class="btn btn-white" href="/signup?redirect={{ request.path | urlencode}}">Sign Up</a>
     </li>
     {% endif %}
   </ul>

   <!-- Mobile Nav Menu -->
   <ul class="navbar-nav ml-auto d-flex d-md-none mt-3">
     <li class="nav-item pb-3">
      <form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search" method="get">
        <input class="form-control form-control-sm w-100" type="search" placeholder="Search Ruqqus" aria-label="Search" name="q">
        <span class="input-group-append">
          <span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </span>
      </form>
    </li>
    {% if v %}
    <li class="nav-item">
      <a class="nav-link" href="{{ v.permalink }}"><i class="fas fa-user-circle fa-width-rem mr-3"></i>@{{ v.username }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/notifications?all=true"><i class="fas fa-envelope fa-width-rem mr-3"></i>Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings"><i class="fas fa-cog fa-width-rem mr-3"></i>Settings</a>
    </li>
    {% if v and v.referral_count and session.get("dark_mode_enabled")%}
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="switch_css()"><i class="fad fa-toggle-on fa-width-rem mr-3" id="dark-switch"></i>Dark mode</a></li>
    {% elif v and v.referral_count %}
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="switch_css()"><i class="fad fa-toggle-off fa-width-rem mr-3" id="dark-switch"></i>Dark mode</a></li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="/settings/profile#referral"><i class="fad fa-toggle-off fa-width-rem mr-3"></i>Dark mode</a></li>
    {% endif %}
    <li class="nav-item nav-item border-top mt-2 pt-2">
      <a class="nav-link" href="javascript:void(0)", onclick="post('/logout', callback=function(){window.location.reload(true)})">Log out</a>
    </li>
    <li class="nav-item nav-item border-top mt-2 pt-2">
      <a class="nav-link text-small-extra" href="/about">About</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="/help/conduct">Terms</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="/about/privacy">Privacy</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="#">Contact</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="https://github.com/ruqqus/ruqqus">Github</a>
    </li>
    {% else %}
    <li class="nav-item d-flex align-items-center justify-content-center pb-3">
      <a class="btn btn-outline-white btn-block" href="/login?redirect={{ request.path | urlencode}}">Sign in</a>
    </li>
    <li class="nav-item d-flex align-items-center justify-content-center">
      <a class="btn btn-white btn-block" href="/signup?redirect={{ request.path | urlencode}}">Sign up</a>
    </li>
    <li class="nav-item nav-item mt-2">
      <a class="nav-link text-small-extra" href="/about">About</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="/help/conduct">Terms</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="/about/privacy">Privacy</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="#">Contact</a>
    </li>
    <li class="nav-item nav-item">
      <a class="nav-link text-small-extra" href="https://github.com/ruqqus/ruqqus">Github</a>
    </li>
    {% endif %}
  </ul>

</div>
</div>
</nav>
