{% extends "default.html" %}

{% block adminpanel %}
<div>
  <p><a href="/admin">Admin Home</a></p>
</div>
{% endblock %}

{% block desktopBanner %}

<div class="row border-bottom bg-white sticky d-none d-md-block guild-border-top" style="overflow: visible;">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">

      {% block navbar %}
      <div class="font-weight-bold py-3">Ruqqus {% if request.path=="/all" %}All{% else %}Homepage{% endif %}</div>

      <div class="d-flex align-items-center">
        <div class="text-small font-weight-bold mr-2">Filter by</div>
        <div class="dropdown dropdown-actions">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if time_filter=="day" %}<i class="fas fa-calendar-day mr-1"></i>{% endif %}
            {% if time_filter=="week" %}<i class="fas fa-calendar-week mr-1"></i>{% endif %}
            {% if time_filter=="month" %}<i class="fas fa-calendar-alt mr-1"></i>{% endif %}
            {% if time_filter=="year" %}<i class="fas fa-calendar mr-1"></i>{% endif %}
            {% if time_filter=="all" %}<i class="fas fa-infinity mr-1"></i>{% endif %}
            {{ time_filter | capitalize }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
            {% if not time_filter=="day" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=day"><i class="fas fa-calendar-day mr-2"></i>Day</a>{% endif %}
            {% if not time_filter=="week" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=week"><i class="fas fa-calendar-week mr-2"></i>Week</a>{% endif %}
            {% if not time_filter=="month" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=month"><i class="fas fa-calendar-alt mr-2"></i>Month</a>{% endif %}
            {% if not time_filter=="year" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=year"><i class="fas fa-calendar mr-2"></i>Year</a>{% endif %}
            {% if not time_filter=="all" %}<a class="dropdown-item" href="?sort={{ sort_method }}"><i class="fas fa-infinity mr-2"></i>All</a>{% endif %}
          </div>
        </div>

        <div class="text-small font-weight-bold ml-3 mr-2">Sort by</div>
        <div class="dropdown dropdown-actions">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if sort_method=="hot" %}<i class="fas fa-fire mr-1"></i>{% endif %}
            {% if sort_method=="top" %}<i class="fas fa-arrow-alt-circle-up mr-1"></i>{% endif %}
            {% if sort_method=="new" %}<i class="fas fa-sparkles mr-1"></i>{% endif %}
            {% if sort_method=="disputed" %}<i class="fas fa-bullhorn mr-1"></i>{% endif %}
            {% if sort_method=="activity" %}<i class="fas fa-comments mr-1"></i>{% endif %}
            {{ sort_method | capitalize }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
            {% if not sort_method=="hot" %}<a class="dropdown-item" href="?sort=hot"><i class="fas fa-fire mr-2"></i>Hot</a>{% endif %}
            {% if not sort_method=="top" %}<a class="dropdown-item" href="?sort=top"><i class="fas fa-arrow-alt-circle-up mr-2"></i>Top</a>{% endif %}
            {% if not sort_method=="new" %}<a class="dropdown-item" href="?sort=new"><i class="fas fa-sparkles mr-2"></i>New</a>{% endif %}
            {% if not sort_method=="disputed" %}<a class="dropdown-item" href="?sort=disputed"><i class="fas fa-bullhorn mr-2"></i>Disputed</a>{% endif %}
            {% if not sort_method=="activity" %}<a class="dropdown-item" href="?sort=activity"><i class="fas fa-comments mr-2"></i>Activity</a>{% endif %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

{% block PseudoSubmitForm %}
<!-- Link to submission page from homepage, only visible on home -->

<div class="row no-gutters d-none d-lg-flex mt-3 {% if not v %}mb-3{% endif %}">

  <div class="col">
    <div class="card pseudo-submit-form">
      <div class="card-header bg-gray-100">
        <div class="mb-0">Create post</div>
        <ul class="list-inline no-bullets mb-0 d-none">
          <li class="list-inline-item active mr-4"><i class="fas fa-align-left text-gray-400"></i></li>
          <li class="list-inline-item"><i class="fas fa-link text-gray-400"></i></li>
        </ul>
      </div>
      <div class="card-body">
        {% if v %}
        <a href="/submit">
          <input type="text" class="form-control"
          placeholder="Share something with the Ruqqus community..." aria-label="Username"
          aria-describedby="basic-addon1">
        </a>
        {% else %}
        <a href="/signup">
          <input type="text" class="form-control"
          placeholder="Share something with the Ruqqus community..." aria-label="Username"
          aria-describedby="basic-addon1">
        </a>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

<!-- Left Sidebar (navigation-purposes, hidden on devices smaller than "large") -->

{% block leftSidebarBlock %}
{% include "sidebar-left.html" %}
{% endblock %}

{% block content %}

<!-- View toggle visible only on large devices or larger -->

<div class="flex-row justify-content-end d-none">


  {% block listcardBlock %}
  <div class="p-3">
    <ul class="nav toggle-view">
      <li class="nav-item">
        <button class="btn nav-link pr-3 active" id="toggle-list-view-btn" onclick="toggle_list_view()">
          <i class="fas fa-list"></i>List</button>
        </li>
        <li class="nav-item" style="">
          <button class="btn nav-link" id="toggle-card-view-btn" onclick="toggle_card_view()">
            <i class="fas fa-th-large"></i>Card</button>
          </li>
        </ul>
      </div>
      {% endblock %}

    </div>


    <div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

      <div class="col-12">

        <div class="posts" id="posts">

          {% include "submission_listing.html" %}

        </div>
      </div>
    </div>

    <div class="row fixed-top bg-white border-top d-inline-flex d-md-none py-2 px-3" id="fixed-bar-mobile" style="z-index: 100; top: 49px; transition: top 220ms cubic-bezier(0, 0, 0.2, 1);">

      <div class="col">

        <div class="d-flex flex-row flex-nowrap justify-content-between">

          <div class="post-filter">

            <div class="d-flex align-items-center">

              <div class="dropdown dropdown-actions">
                <button class="btn btn-link text-capitalize text-muted font-weight-normal dropdown-toggle px-0" type="button" id="dropdownMenuButtonMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if sort_method=="hot" %}<i class="fas fa-fire mr-1"></i>{% endif %}
                  {% if sort_method=="top" %}<i class="fas fa-arrow-alt-circle-up mr-1"></i>{% endif %}
                  {% if sort_method=="new" %}<i class="fas fa-sparkles mr-1"></i>{% endif %}
                  {% if sort_method=="disputed" %}<i class="fas fa-bullhorn mr-1"></i>{% endif %}
                  {% if sort_method=="activity" %}<i class="fas fa-comments mr-1"></i>{% endif %}
                  {{ sort_method | capitalize }}
                </button>
                <div class="dropdown-menu" id="mobileSortDropdown" aria-labelledby="dropdownMenuButtonMobile" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
                  {% if not sort_method=="hot" %}<a class="dropdown-item" href="?sort=hot"><i class="fas fa-fire text-primary mr-3"></i>Hot</a>{% endif %}
                  {% if not sort_method=="top" %}<a class="dropdown-item" href="?sort=top"><i class="fas fa-arrow-alt-circle-up text-primary mr-3"></i>Top</a>{% endif %}
                  {% if not sort_method=="new" %}<a class="dropdown-item" href="?sort=new"><i class="fas fa-sparkles text-primary mr-3"></i>New</a>{% endif %}
                  {% if not sort_method=="disputed" %}<a class="dropdown-item" href="?sort=disputed"><i class="fas fa-bullhorn text-primary mr-3"></i>Disputed</a>{% endif %}
                  {% if not sort_method=="activity" %}<a class="dropdown-item" href="?sort=activity"><i class="fas fa-comments text-primary mr-3"></i>Activity</a>{% endif %}
                </div>
              </div>

              <div class="dropdown dropdown-actions ml-2">
                <button class="btn btn-link text-capitalize text-muted font-weight-normal dropdown-toggle px-0" type="button" id="dropdownMenuButtonMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if time_filter=="day" %}<i class="fas fa-calendar-day mr-1"></i>{% endif %}
                  {% if time_filter=="week" %}<i class="fas fa-calendar-week mr-1"></i>{% endif %}
                  {% if time_filter=="month" %}<i class="fas fa-fa-calendar-alt mr-1"></i>{% endif %}
                  {% if time_filter=="year" %}<i class="fas fa-calendar mr-1"></i>{% endif %}
                  {% if time_filter=="all" %}<i class="fas fa-infinity mr-1"></i>{% endif %}
                  {{ time_filter | capitalize }}
                </button>
                <div class="dropdown-menu" id="mobileSortDropdown" aria-labelledby="dropdownMenuButtonMobile" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
                  {% if not time_filter=="day" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=day"><i class="fas fa-calendar-day text-primary mr-3"></i>Day</a>{% endif %}
                  {% if not time_filter=="week" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=week"><i class="fas fa-calendar-week text-primary mr-3"></i>Week</a>{% endif %}
                  {% if not time_filter=="month" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=month"><i class="fas fa-calendar-alt text-primary mr-3"></i>Month</a>{% endif %}
                  {% if not time_filter=="year" %}<a class="dropdown-item" href="?sort={{ sort_method }}&t=year"><i class="fas fa-calendar text-primary mr-3"></i>Year</a>{% endif %}
                  {% if not time_filter=="all" %}<a class="dropdown-item" href="?sort={{ sort_method }}"><i class="fas fa-infinity text-primary mr-3"></i>All</a>{% endif %}
                </div>
              </div>

            </div>

          </div>

          <div class="post-filter d-none">
            <span>From:</span>
            <span class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownFrom" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Time</a>

              <span class="dropdown-menu border-0 shadow" id="dropdownMenuFrom" aria-labelledby="dropdownFrom">
                <a class="dropdown-item" href="#">Past Day</a>
                <a class="dropdown-item" href="#">Past Month</a>
                <a class="dropdown-item" href="#">Past Year</a>
                <a class="dropdown-item" href="#">All Time</a>
              </span>
            </span>

          </div>

        </div>

      </div>

    </div>

    {% endblock %}
    
    {% block pagenav %}
    {% if listing %}
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm mb-0">
        {% if page>1 %}
        <li class="page-item">
          <small><a class="page-link" href="?sort={{ sort_method }}&page={{ page-1 }}&t={{ time_filter }}{% if only %}&only={{ only }}{% endif %}" tabindex="-1">Prev</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Prev</span></li>
        {% endif %}
        {% if next_exists %}
        <li class="page-item">
          <small><a class="page-link" href="?sort={{ sort_method }}&page={{ page+1 }}&t={{ time_filter }}{% if only %}&only={{ only }}{% endif %}">Next</a></small>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    {% endblock %}

    {% block sidebarblock %}
    {% if v and v.can_make_guild %}
    <div class="sidebar-section sidebar-guildmake">
      <div class="title"><i class="fas fa-chess-rook mr-2"></i>Guilds</div>
      <div class="body">
        <p>Create a community for something you love.</p>
        <a href="/create_guild" class="btn btn-primary btn-block">Create Guild</a>
      </div>
    </div>
    {% elif v and not v.can_make_guild %}
    <div class="sidebar-section sidebar-guildmake">
      <div class="title"><i class="fas fa-chess-rook mr-2"></i>Guilds</div>
      <div class="body">
        <p class="text-muted">{% if not v.can_join_gms %}You already lead the maximum of 10 guilds.{% else %}You need 250 rep to create a guild. Rep can be earned by commenting and posting.{% endif %}</p>
        <a href="#" class="btn btn-primary btn-block disabled">Create Guild</a>
      </div>
    </div>
    {% endif %}

    <div class="sidebar-section">
      <div class="title">
        <i class="fas fa-heart mr-2"></i>Support Ruqqus
      </div>
      <div class="body">
        <p>Exclusive patron titles, merch, and more. Support Ruqqus today!</p>

        {% if v %}

        <a href="/settings#patreon" class="btn btn-block btn-link text-purple text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #D6BCFA!important; font-size: 2rem!important;"></i>
            <i class="fas fa-star fa-stack-1x text-primary text-base fa-inverse"></i>
          </span>Unlock Patron Titles
        </a>

        {% else %}

        <a href="https://patreon.com/ruqqus" target="blank" class="btn btn-block btn-link text-purple text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #D6BCFA!important; font-size: 2rem!important;"></i>
            <i class="fas fa-star fa-stack-1x text-primary text-base fa-inverse"></i>
          </span>Become a Patron
        </a>

        {% endif %}

        <a href="https://www.bonfire.com/store/ruqqus/" target="blank" class="btn btn-block btn-link text-info text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #BEE3F8!important; font-size: 2rem!important;"></i>
            <i class="fas fa-tshirt fa-stack-1x text-info text-base fa-inverse"></i>
          </span>Awesome T-Shirts
        </a>

        <a href="https://gumroad.com/l/XpCXQ" target="blank" class="btn btn-block btn-link text-success text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #9AE6B4!important; font-size: 2rem!important;"></i>
            <i class="fas fa-laugh fa-stack-1x text-success text-base fa-inverse"></i>
          </span>Custom Stickers
        </a>

        <a href="https://github.com/ruqqus/ruqqus" target="blank" class="btn btn-block btn-link text-black text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x text-gray-300" style="font-size: 2rem!important;"></i>
            <i class="fab fa-github fa-stack-1x text-black text-base fa-inverse"></i>
          </span>Contribute Code
        </a>

        <a href="https://github.com/ruqqus/ruqqus#sponsors" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0" style="color: #F7931A!important">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #FEEBC8!important; font-size: 2rem!important;"></i>
            <i class="fab fa-bitcoin fa-stack-1x text-base fa-inverse" style="color: #F7931A!important;"></i>
          </span>Donate Crypto
        </a>

      </div>
    </div>

    {% endblock %}
