{% extends "default.html" %}

{% block content %}

        <!-- Post filters bar visible only on medium devices or larger-->

        <div class="flex-row filter-bar sticky d-none d-md-flex">

          <div class="post-filter pb-2 d-none">
            <span>Sort By:</span>
            <span class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Time
              </a>

              <span class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Day</a>
                <a class="dropdown-item" href="#">Month</a>
                <a class="dropdown-item" href="#">Year</a>
                <a class="dropdown-item" href="#">All Time</a>
              </span>
            </span>

          </div>

          <ul class="nav post-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link{% if sort_method=="hot" %} active{% endif %} text-uppercase" href="/">Hot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if sort_method=="top" %} active{% endif %} text-uppercase" href="/?sort=top">Top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if sort_method=="new" %} active{% endif %} text-uppercase" href="/?sort=new">New</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link{% if sort_method=="fiery" %} active{% endif %} text-uppercase" href="/?sort=fiery">Fiery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if sort_method=="based" %} active{% endif %}text-uppercase" href="#">Based</a>
            </li>
          </ul>

        </div>

        <div class="row no-gutters">

          <div class="col-12">

            <div class="posts">

		{% include "submission_listing.html" %}
              
            </div>
          </div>
        </div>

{% endblock %}