{% extends "home.html" %}


{% block fixedMobileBarJS %}{% endblock %}

{% block pagetype %}{% endblock %}

{% block PseudoSubmitForm %}{% endblock %}

{% block navbar %}
<div class="font-weight-bold py-3">Direct Messages</div>
{% endblock %}

{% block gifKeyboard %}
<script src="/assets/js/get_gif.js"></script>
{% endblock %}






{% block content %}

<div class="p-3 p-md-0">

  <h1 class="h3 d-md-none">Inbox</h1>

<div class="post-info mt-5 mb-1">
  <span class="align-top font-weight-bold">{% if convo.board %}<a href="{{ convo.board.permalink }}" class="d-inline-block"><img src="{{ convo.board.profile_url }}" class="profile-pic-20 mr-1">+{{ convo.board.name }}</a> | {% endif %}{{ convo.subject or "Direct Message" }}</span>
</div>
  <div id="convo-messages-{{ convo.fullname }}">
  {% for m in convo.messages %}
    {% include "dms.html" %}
  {% endfor %}

  </div>
    
  <div id="comment-form-space-{{ convo.fullname }}" class="comment-write collapsed child">
    <form id="reply-to-{{ convo.fullname }}" action="/reply_message" method="post" class="input-group"> 
      <input type="hidden" name="formkey" value="{{ v.formkey }}"> 
      <input type="hidden" name="convo_id" value="{{ convo.id }}"> 
      <textarea name="message" form="reply-to-{{ convo.fullname }}" class="comment-box form-control rounded" id="reply-text-{{ convo.fullname }}" aria-label="With textarea" placeholder="Add your reply..." rows="3"></textarea> 
      <div class="comment-format" id="comment-format-bar-{{ convo.base36id }}"> 
        <small class="format pl-0">
          <i class="fas fa-bold" aria-hidden="true" onclick="makeBold('reply-form-body-{{ convo.fullname }}')" data-toggle="tooltip" data-placement="bottom" title="Bold"></i>
        </small> 
        <small class="format"><i class="fas fa-italic" aria-hidden="true" onclick="makeItalics('reply-form-body-{{ convo.fullname }}')" data-toggle="tooltip" data-placement="bottom" title="Italicize"></i>
        </small> 
        <small class="format">
          <i class="fas fa-quote-right" aria-hidden="true" onclick="makeQuote('reply-form-body-{{ convo.fullname }}')" data-toggle="tooltip" data-placement="bottom" title="Quote"></i>
        </small> 
        <small class="format d-none">
          <i class="fas fa-link" aria-hidden="true"></i>
        </small> 
        <small class="format">
          <span class="font-weight-bolder text-uppercase" onclick="getGif();commentForm('reply-form-body-{{ convo.fullname }}')" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom" title="Add GIF">GIF</span>
        </small> 
        <a href="javascript:void(0)" onclick="document.getElementById('reply-to-{{ convo.base36id }}').classList.add('d-none')" class="btn btn-link text-muted ml-auto cancel-form">Cancel</a> 
        <a id="save-reply-to-{{ convo.fullname }}" class="btn btn-primary text-white ml-2" onclick="post_message('{{ convo.base36id }}');" href="javascript:void(0)">Reply</a> 
      </div> 
    </form> 
  </div>


<div class="toast" id="toast-comment-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center text-white">
    <i class="fas fa-comment-alt-smile mr-2"></i>Reply posted!
  </div>
</div>
<div class="toast" id="toast-comment-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center text-white">
    <i class="fas fa-exclamation-circle mr-2"></i><span id="comment-error-text"></span>
  </div>
</div>

</div>
{% endblock %}

{% block sidebar %}
    <div class="col sidebar text-left d-none d-lg-block pt-3 bg-white border-left">
      <div class="sidebar-section">
        <div class="title">
          <i class="fas fa-users mr-2"></i>Participants
        </div>
        <div class="body">
          <ul class="no-bullets pl-0">
          {% for cm in convo.members %}
            <li class="guild-recommendations-item">
              <a href="{{ cm.user.permalink }}">
                <div class="d-flex">
                  <div>
                    <img src="{{ cm.user.profile_url }}" class="profile-pic profile-pic-28 ml-1 mr-2">
                  </div>
                  <div class="my-auto">
                    <div class="text-black font-weight-normal">@{{ cm.user.username }}</div>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

      {% include "footer.html" %}

    </div>
{% endblock %}