{% extends "login.html" %}

{% block content %}

<div id="auth-form" class="">

    <h1 class="h2">{{ application.app_name}}</h1>

    <p class="mb-md-5">wants to access your Ruqqus account.</p>
    <p>It will be able to:</p>
    <ul>
    {% for scope in scopes %}
        <li>{{ SCOPES[scope] }}</li>
    {% endfor %}
    </ul>


    <form action="/oauth/authorize" method="post" class="mt-md-3" id="login">

        <input type="hidden" name="formkey" value="{{ v.formkey }}">
        <input type="hidden" name="scopes" value="{{ scopes_txt }}">
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
        <input type="hidden" name="permanent" value="{{ permanent}}">

        <input type="submit" class="btn btn-primary" id="auth_button" value="Authorize {{ application.app_name }}"<>
        <a href="/"><button class="btn btn-secondary">No, back to Ruqqus</button></a>

    </form>

</div>

{% endblock %}