<!-- Delete Post Modal -->
<div class="modal fade modal-sm-bottom" id="publishPostModal" tabindex="-1" role="dialog" aria-labelledby="publishPostModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-none d-md-flex">
        <h5 class="modal-title">Publish now?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      
      <div class="modal-body text-center">

        <div class="py-4">
          <i class="fad fa-feather-alt text-muted d-none d-md-block" style="font-size: 3.5rem;"></i>
          
          <span class="fa-stack fa-2x text-muted d-md-none">
            <i class="fas fa-calendar-check text-muted opacity-25 fa-stack-2x"></i>
            <i class="fas text-muted fa-calendar-check fa-stack-1x"></i>
          </span>
        </div>

        <div class="h4 d-md-none">Publish now?</div>

        <p class="d-none d-md-block">Your post will be published immediately.</p>

        <p class="text-muted d-md-none">Your post will be published immedietly.</p>

        <div class="d-md-none">

          <button type="button" id="deletePostButton-mobile" class="btn btn-danger btn-block btn-lg">Publish now</button>

          <button type="button" class="btn btn-secondary btn-block btn-lg" data-dismiss="modal">Cancel</button>

        </div>

      </div>
      
      <div class="modal-footer d-none d-md-flex">
        <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
        <button type="button" id="publishPostButton" class="btn btn-primary">Publish now</button>
      </div>
      
    </div>
  </div>
</div>
