{% extends "default.html" %}

{% filter markdown %}
# Rules

While we strive to keep discourse on this platform as open as possible, there are a few rules.

## Calls to violence

Promotion and support of real-world violence is not allowed and will result in an immediate and permanent ban. Examples include, but are not limited to:

* Encouraging violent protests or mob action
* Threats of violence against another individual
* Calls for violence by other people
* Doxxing other users
* Terroristic threats

There are a few narrow exceptions to this rule. Support of the following is permitted:

* Lawful actions by sworn peace officers
* Actions by the military
* Ethical use of force in self-defense

## Malicious content

The following are cause for an immediate and permanent ban:

* Posting links to phishing sites
* Impersonating site administrators, site moderators, reddit administrators, or other users

## Digital Security

We use a number of technical and cryptographic measures to assure the safety and security of our users. Circumventing these measures outside of approved white-hat penetration testing is forbidden, and will result in an immediate and permanent ban.

Additionally, connecting through proxy networks (such as Tor) is not permitted.

{% endfilter %}
