{% extends "default.html" %}

{% block content %}
{% filter markdown %}

# Code of Conduct

By using Ruqqus you agree to abstain from posting or submitting to any of the following. Additionally, you warrant that anything posted or submitted by you complies with this code of conduct.

## Legal

* Anything copyrighted by another party and not properly licensed to you
* Anything not legal to publish within or export from the United States of America

## Safety

* Anything that harasses, or encourages harassment of, others, either online or offline
* Personal or confidential information
* Anything that solicits transactions
* Anything that is digitally malicious
* Anything that impersonates other Ruqqus users or Ruqqus administrators
* Spam

## Sexuality

* Pornographic material
* Sexual or sexually suggestive material not marked "NSFW"
* Sexual or sexually suggestive material involving minors

{% endfilter %}
{% endblock %}
