{% extends "settings.html" %}

{% block pagetitle %}Premium Settings - Ruqqus{% endblock %}

{% block content %}


<div class="row">

  <div class="col col-lg-8">

    <div class="settings">






                {% if v.negative_balance_cents %}
          <h2 id="ruqqus-premium" class="h5">Payments</h2>

          <div class="settings-section rounded">
            <div class="d-lg-flex border-bottom">
              <div class="title w-lg-25">
                <label for="buypremium">Account Balance</label>
              </div>
              <div class="body w-lg-100">
                  <p class="font-weight-bold text-danger">-${{ v.negative_balance_cents/100 }}</p>
                  <p>Your account balance is negative. You will not be able to participate on Ruqqus until you bring your balance up to zero.</p>
                  <form action="/shop/negative_balance" method="post">
                    <input type="hidden" name="formkey" value="{{ v.formkey }}">
                    <input id="buy-coin-btn" type="submit" class="btn btn-primary mt-2" value="Pay ${{ v.negative_balance_cents/100 }}">
                  </form>
              </div>
            </div>
          </div>
                {% else %}

          <h2 id="ruqqus-premium" class="h5">Ruqqus Premium</h2>

          {% if request.args.get('msg')=="success" %}
          <p>Your purchase was successful. A receipt will be emailed to you from Paypal.</p>
          {% endif %}

          <div class="settings-section rounded">
            <div class="d-lg-flex border-bottom">
              <div class="title w-lg-25">
                <label for="buypremium">Coins</label>
              </div>
              <div class="body w-lg-100">
                  <p>Coins are auto-redeemed for one week of premium account time.</p>
                  {% if v.has_premium and v.coin_balance >=1 %}
                  <p class="text-muted">Current balance: <span class="text-black font-weight-bold">{{ v.coin_balance }} Coin{{ '' if v.coin_balance==1 else 's' }}</span></p>
                  <p class="text-muted">Next renewal after: <span class="text-black font-weight-bold">{{ v.renew_premium_time }} UTC</span></p>

                  {% elif v.has_premium %}
                  <p class="text-muted">Current balance: <span class="text-black font-weight-bold">0 Coins</span></p>
                  <p class="text-muted">Premium expires: <span class="text-black font-weight-bold">{{ v.renew_premium_time }} UTC</span>. Buy some Coins to continue with Premium.</p>

                  {% else %}
                  <p class="text-muted">Current balance: <span class="text-black font-weight-bold">0 Coins</span></p>
                  <p class="text-muted">Buy some Coins to enjoy Ruqqus Premium.</p>
                  {% endif %}
                  <div class="d-none d-md-block"><div class="text-muted">Perks:</div>
                    <ul class="mb-0 pl-0 no-bullets font-weight-bold">
                      <li class="py-1"><span class="fa-stack fa-1x mr-2">
                      <i class="fas fa-square fa-stack-2x" style="color: #a2d2f6!important; font-size: 2rem!important;"></i>
                      <i class="fas fa-unlock fa-stack-1x text-info text-base fa-inverse"></i>
                      </span>Unlock all Rep-gated features
                      </li>
                      <li class="py-1"><span class="fa-stack fa-1x mr-2">
                      <i class="fas fa-square fa-stack-2x" style="color: #dabef9!important; font-size: 2rem!important;"></i>
                      <i class="fas fa-image fa-stack-1x text-primary text-base fa-inverse"></i>
                      </span>Direct image uploads in comments
                      </li>
                      <li class="py-1"><span class="fa-stack fa-1x mr-2">
                      <i class="fas fa-square fa-stack-2x" style="color: #f9efbe!important; font-size: 2rem!important;"></i>
                      <i class="fas fa-file-upload fa-stack-1x text-warning text-base fa-inverse"></i>
                      </span>Increased upload file size limit
                      </li>
                      <li class="py-1">
                        <span class="fa-stack fa-1x mr-2">
                        <i class="fas fa-square fa-stack-2x" style="color: #ffcccc!important; font-size: 2rem!important;"></i>
                        <i class="fas fa-code fa-stack-1x text-danger text-base fa-inverse"></i>
                      </span>Early acccess to new features on <a href="https://dev.ruqqus.com" target="_blank">dev.ruqqus.com</a>
                      </li>
                      <li class="py-1"><span class="fa-stack fa-1x mr-2">
                      <i class="fas fa-square fa-stack-2x" style="color: #bef9cc!important; font-size: 2rem!important;"></i>
                      <i class="fas fa-hand-peace fa-stack-1x text-success text-base fa-inverse"></i>
                      </span>Keeping the Ruqqus servers alive
                      </li>
                    </ul>
                  </div>

                <div class="mt-4 mb-4" data-toggle="tooltip" data-placement="bottom" title="Based on coins redeemed in the last 7 days">
                  <div class="text-center text-small">{{ g.timestamp | coin_goal }}% of goal</div>
                  <div class="progress" style="border-radius: 3px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ g.timestamp | coin_goal }}%;" aria-valuenow="{{ g.timestamp | coin_goal }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                  <form action="/shop/buy_coins" method="post">
                    <input type="hidden" name="formkey" value="{{ v.formkey }}">
                    <select id="select-coins" name="coin_count" class="form-control" onchange="coin_quote()">
                      <option value="1">1 Coin</option>
                      <option value="4" selected>4 Coins</option>
                      <option value="12">11 Coins + 1 Free</option>
                      <option value="26">22 Coins + 4 Free</option>
                      <option value="52">42 Coins + 10 Free</option>
                    </select>
                {% if not v.has_premium %}
                  <p class="text-small-extra text-muted">Note that the first coin of your purchase will be automatically redeemed.</p>
                {% endif %}
                    <input id="buy-coin-btn" type="submit" class="btn btn-primary mt-2" value="Buy Coins">
                  </form>
                <p class="text-small-extra text-muted">Coins have no cash value and cannot be redeemed for anything other than Premium membership time.</p>


              </div>
            </div>
          </div>
                {% endif %}

        </div>

    </div>

  </div>

</div>

</div>

{% endblock %}


{% block onload %}<script>coin_quote()</script>{% endblock %}
