{% extends "default.html" %}

{% block title %}
<title>Settings</title>
<meta name="description" content="Settings">
{% endblock %}

{% block content %}
<h1>Settings</h1>
{% if error %}
<p><span class="red">{{ error }}</span></p>
{% endif %}
{% if msg %}
<p><span class="green">{{ msg }}</span></p>
{% endif %}

<h2>Log Out of Ruqqus</h2>
<form action="/logout" method="post">
<input type="hidden" name="formkey" value="{{ v.formkey }}">
<input type="submit" value="Log out">
</form>

<h2>Username Verification</h2>
{% if v.reddit_username %}
<form action="/api/del_reddit_name" method="post">
Your reddit username "{{ v.reddit_username }}" has been verified with reddit.<br>
<input type="hidden" name="formkey" value="{{ v.formkey }}">
<input type="submit" value="Un-link reddit account.">
</form>

{% else %}
<p>Link your reddit account</p>
<a href="/api/get_reddit_auth"><button>Click here to begin.</button></a>
{% endif %}

<form action="/settings" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">

<h2>Change Password</h2>
<input type="hidden" name="formkey", value="{{ v.formkey }}">
New Password:<br>
<input type="password" name="new_password"><br>
Confirm Password:<br>
<input type="password" name="cnf_password"><br>
Old Password:<br>
<input type="password" name="old_password"><br>
<br>

<h2>Preferences</h2>
<input type="checkbox" name="over18" {% if v.over_18 %}checked{% endif %}>I am over 18 and willing to view adult content.<br>
<input type="submit" value="Save">
</form>


{% endblock %}
