{% extends "settings.html" %}

{% block pagetitle %}Profile Settings - Ruqqus{% endblock %}

{% block content %}


<div class="row">

  <div class="col col-lg-8">

    <div class="settings">


          <h2 id="ruqqus-premium" class="h5">Ruqqus Premium</h2>

          <div class="settings-section rounded">
            <div class="d-lg-flex border-bottom">
              <div class="title w-lg-25">
                <label for="buypremium">Coins</label>
              </div>
              <div class="body w-lg-100">
                <p>Coins are auto-redeemed for one week of premium account time.</p>




                {% if v.negative_balance_cents %}
                  <p class="text-small-extra text-muted">Account balance: -${{ v.negative_balance_cents/100 }}</p>
                  <p class="text-small-extra text-muted">Your account balance is negative. You will not be able to participate on Ruqqus until you bring your balance to current.</p>
                  <form action="/shop/negative_balance" method="post">
                    <input type="hidden" name="formkey" value="{{ v.formkey }}">
                    <input id="buy-coin-btn" type="submit" class="btn btn-primary mt-2" value="Pay ${{ v.negative_balance_cents/100 }}">
                  </form>
                {% else %}
                  {% if v.has_premium and v.coin_balance >=1 %}
                  <p class="text-small-extra text-muted">Current balance: {{ v.coin_balance }} Coin{{ '' if v.coin_balance==1 else 's' }}</p>
                  <p class="text-small-extra text-muted">Next renewal after: {{ v.renew_premium_time }} UTC</p>

                  {% elif v.has_premium %}
                  <p class="text-small-extra text-muted">Current balance: {{ v.coin_balance }} Coin{{ '' if v.coin_balance==1 else 's' }}</p>
                  <p class="text-small-extra text-muted">Premium expires: {{ v.renew_premium_time }} UTC. Buy some Coins to continue with Premium.</p>

                  {% else %}
                  <p class="text-small-extra text-muted">Current balance: 0 Coins</p>
                  <p class="text-small-extra text-muted">Buy some Coins to enjoy Ruqqus Premium.</p>
                  {% endif %}
                  <form action="/shop/buy_coins" method="post">
                    <input type="hidden" name="formkey" value="{{ v.formkey }}">
                    <select id="select-coins" name="coin_count" class="form-control" onchange="coin_quote()">
                      <option value="1">1 Coin</option>
                      <option value="4">4 Coins</option>
                      <option value="12">11 Coins + 1 Free</option>
                      <option value="26">22 Coins + 4 Free</option>
                      <option value="52">42 Coins + 10 Free</option>
                    </select>
                    <input id="buy-coin-btn" type="submit" class="btn btn-primary mt-2" value="Buy Coins">
                  </form>
                {% endif %}
                <p class="text-small-extra text-muted">Coins have no cash value and cannot be redeemed for anything other than Premium membership time. All sales final.</p>
              </div>
            </div>
          </div>

        </div>

    </div>

  </div>

</div>

</div>

{% endblock %}


{% block onload %}<script>coin_quote()</script>{% endblock %}