{% set score=c.score_fuzzed %}
{% if v %}
{% set voted=v.vote_status_on_comment(c) %}
{% else %}
{% set voted=-2 %}
{% endif %}


<div id="comment-{{ c.base36id }}" name="comment-{{ c.base36id }}" class="comment rounded">

<span class="toggle-collapse"></span>

<div class="comment-body">

    <div class="user-info">{% if c.is_banned %}[comment removed by adminstrators]{% elif c.is_deleted %}[comment deleted by owner]{% endif %}</div>


  {% for reply in c.replies %}
  <div style="padding-left:10px">
  {{ reply.rendered_comment(v=v) | safe }}
  </div>
  {% endfor %}
</div>
</div>
