{% extends "home.html" %}

{% block PseudoSubmitForm %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

    <div class="row no-gutters mt-md-3">

      <div class="col-12">

        {% if error %}
          <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
            <i class="fas fa-exclamation-circle my-auto"></i>
            <span>
              {{ error }}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
        {% endif %}
        {% if msg %}
          <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
            <span>
              {{ msg }}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
        {% endif %}

        <div class="posts" id="posts">

          {% include "txn_listing.html" %}

        </div>
      </div>
    </div>
{% endblock %}

{% block pagenav %}
{% if page %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm mb-0">
    {% if page>1 %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page-1 }}" tabindex="-1">Prev</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Prev</span></li>
    {% endif %}
    {% if next_exists %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page+1 }}">Next</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}