{% set score=c.score_fuzzed %}
{% if v %}
{% set voted=v.vote_status_on_comment(c) %}
{% set adjust = voted %}
{% else %}
{% set voted=-2 %}
{% set adjust=0 %}
{% endif %}


<div id="comment-{{ c.base36id }}" name="comment-{{ c.base36id }}" class="comment rounded">

<span class="toggle-collapse"></span>


<div class="comment-body">

  <div id="comment-{{ c.base36id }}-only" class="{% if c.is_banned %} banned{% endif %} {% if c.distinguish_level >=4 %} distinguish-admin{% elif c.distinguish_level >=1 %} distinguish-mod{% endif %}">


    <div class="user-info">
        <a class="dropdown-toggle user-name" href="{{ c.author.url }}" class="font-weight-bold text-small user-name">{{ c.author.username }}</a> | <span id="comment-{{ c.base36id }}-score-up" {% if not voted==1 %}class="noshow"{% endif %}>{{ score+1-adjust }}</span><span id="comment-{{ c.base36id }}-score-none" {% if voted not in [0,-2] %}class="noshow"{% endif %}>{{ score-adjust }}</span><span id="comment-{{ c.base36id }}-score-down" {% if not voted==-1 %}class="noshow"{% endif %}>{{ score-1-adjust }}</span> point{{ 's' if score+adjust != 1 else '' }} <span class="time-stamp">{{ c.age_string }}</span>
    </div>
    
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left profile-menu p-0 fade mt-3"
            aria-labelledby="dropdownMenuButton">

            <div class="user-stats text-center">
                <div class="p-3">
                    <div class="font-weight-bold">{{ c.author.username }}</div>

                    <div class="text-small text-muted">{{ c.author.energy }} energy</div>
                </div>
                <div class="btn-group bg-light p-3" role="group" aria-label="mini-profile buttons">
                    <a href="{{ c.author.url }}" class="btn btn-secondary btn-sm rounded mr-2" role="button"><i class="fas fa-paper-plane"
                            aria-hidden="true"></i></a>
                    <a href="{{ c.author.url }}" class="btn btn-primary btn-sm rounded" role="button">View Profile</a>
                </div>

            </div>
        </div>

    <div class="comment-body">{{ c.body_html | safe }}</div>

    <div id="comment-{{ c.base36id }}-voting" class="comment-actions {% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
        <ul class="list-inline text-left">

            <li id="comment-{{ c.base36id }}-up" class="list-inline-item arrow-up" {% if voted==1 %}onclick="vote_comment('{{ c.base36id }}','0')"{% elif voted > -2 %}onclick="vote_comment('{{ c.base36id }}','1')"{% endif %}>
            </li>
            <li id="comment-{{ c.base36id }}-down" class="list-inline-item arrow-down" {% if voted==-1 %}onclick="vote_comment('{{ c.base36id }}','0')"{% elif voted > -2 %}onclick="vote_comment('{{ c.base36id }}','-1')"{% endif %}>
            </li>

            <li class="list-inline-item text-muted text-small"><a href="javascript:void(0)" onclick="addReplyForm('{{ c.base36id }}', '{{ c.post.base36id }}')"><i class="fas fa-reply"
                    aria-hidden="true"></i><span class=""><span
                        class="comments-number"></span> Reply</span></a>
            </li>
            <li class="list-inline-item text-muted"><a href="#"><i class="fas fa-share-alt"
                    aria-hidden="true"></i><span class="share"> Share</span></a>
            </li>
            <li class="list-inline-item text-muted"><i class="fas fa-save"
                    aria-hidden="true"></i><span class="save">
                    Save</span></li>
            <li class="list-inline-item text-muted"><a href="#"><i class="fas fa-flag"
                    aria-hidden="true"></i><span class="flag">
                    Flag</span></a></li>
{% if v %}
{% if v.admin_level>=1 and v.id==c.author_id %}
{% if c.distinguish_level %}

	    <li class="list-inline-item text-muted"><a id="distinguish-{{ c.base36id }}" href="javascript:void(0)" onclick="undistinguish{% if v.admin_level>=4 %}Admin{% else %}Mod{% endif %}Comment('{{ c.base36id }}')">undistinguish</a></li>
{% else %}
	    <li class="list-inline-item text-muted"><a id="distinguish-{{ c.base36id }}" href="javascript:void(0)" onclick="distinguish{% if v.admin_level>=4 %}Admin{% else %}Mod{% endif %}Comment('{{ c.base36id }}')">distinguish</a></li>

{% endif %}
{% endif %}
{% if v.admin_level>=1 and v.admin_level > c.author.admin_level %}
{% if not c.is_banned %}
	    <li class="list-inline-item text-muted"><a id="moderate-{{ c.base36id }}" href="javascript:void(0)" onclick="removeComment('{{ c.base36id }}')">remove</a></li>
{% else %}
	    <li class="list-inline-item text-muted"><a id="moderate-{{ c.base36id }}" href="javascript:void(0)" onclick="approveComment('{{ c.base36id }}')">approve</a></li>
{% endif %}
{% endif %}
{% endif %}
        </ul>
    </div>

  </div>

  <div id="reply-to-{{ c.base36id }}"></div>

  {% for reply in c.replies %}
  <div style="padding-left:10px">
  {{ reply.rendered_comment(v=v) | safe }}
  </div>
  {% endfor %}
</div>
</div>
