
{% set score=c.score_fuzzed %}
{% if v %}
{% set voted=v.vote_status_on_comment(c) %}
{% else %}
{% set voted=-2 %}
{% endif %}


<div id="comment-{{ c.base36id }}" class="comment rounded">


    <span class="comment-collapse"></span>

    <div class="comment-body">

        <div id="comment-{{ c.base36id }}-only" class="">

            <div class="user-info">{% if standalone and c.over_18 %}<span class="badge badge-danger">NSFW</span> {% endif %}
                {% if c.is_banned %}[Removed by administrators]{% else %}[Deleted by author]{% endif %}
            </div>


            <div id="comment-banned-warning" class="comment-text text-danger text-small">
                {% if c.is_banned and c.ban_reason %}Reason: {{ c.ban_reason }}{% endif %}
            </div>

	</div>

	<div id="reply-to-{{ c.base36id }}"></div>

{% if render_replies %}
{% if level==8 and c.replies %}


<div id="morecomment-{{ c.base36id }}" class="mt-2 more-comments text-small">
    <a href="{{ c.permalink }}">More comments →</a>
</div>

{% else %}
{% for reply in c.replies %}
<div class="">
    {{ reply.rendered_comment(v=v, level=level+1) | safe }}
</div>
{% endfor %}
{% endif %}
{% endif %}
</div>


</div>
