{% extends "default.html" %}

{% set score=p.score_fuzzed %}
{% if v %}
{% set voted=v.vote_status_on_post(p) %}
{% set adjust=voted %}
{% else %}
{% set voted=-2 %}
{% set adjust=0 %}
{% endif %}

{% block title %}
{% if linked_comment and not linked_comment.is_banned and not linked_comment.is_deleted %}
<title>@{{ linked_comment.author.username }} comments on "{{ p.title }}"</title>
<meta name="description" content="{{ linked_comment.body }}">
{% else %}
<title>{{ p.title | safe}}</title>
<meta name="description" content="submitted by @{{ p.author.username }}">
{% endif %}
{% endblock %}

{% block pagetype %}thread{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=3 %}
<form action="/api/sticky/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" value="{% if p.stickied %}Un-sticky{% else %}Sticky{% endif %}">
</form>
{% endif %}
{% if v.admin_level >=3 and v.id==p.author_id %}
<form action="/api/distinguish/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" value="{% if p.distinguish_level %}Un-distinguish{% else %}Distinguish{% endif %}">
</form>
{% endif %}
{% if v.admin_level >=1 and v.admin_level > p.author.admin_level %}
{% if p.is_banned %}
<form action="/api/unban_post/{{ p.base36id }}" method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" value="Approve Post">
</form>
{% else %}
<form action="/api/ban_post/{{ p.base36id }}", method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" value="Remove Post">
</form>
{% endif %}
{% endif %}
<p>Score: +{{ p.ups }}/-{{ p.downs }}</p>
{% endblock %}

{% block adminscripts %}
<script src="/assets/js/comment_modding.js"></script>
{% endblock %}

{% block progressbarJS %}
<script src="/assets/js/progressbar.js" defer></script>
{% endblock %}

{% block embedJS %}
<script src="/assets/js/yt_embed.js"></script>
{% endblock %}

{% block formatJS %}
<script src="/assets/js/txt_formatting.js"></script>
{% endblock %}

{% block actionsModal %}
<!-- Post Actions Modal -->
<div class="modal fade d-md-none" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h6">More options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group post-actions">
          <li class="list-group-item d-none"><a href="#" class="d-block"><i class="fas fa-save"></i>Save</a></li>
          {% if v and not v.id==p.author_id %}
          <li class="list-group-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" onclick="report_postModal('{{ p.base36id }}')" class="d-block"><i class="fas fa-flag"></i>Flag</a></li>
          {% endif %}
          {% if v %}
          {% if v.admin_level >=3 %}
          {% if p.is_banned %}
          <li class="list-group-item"><a class="d-block" id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="approvePost('{{ p.base36id }}')"><i class="fas fa-clipboard-check"></i>Approve</a></li>
          {% else %}
          <li class="list-group-item"><a class="d-block" id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="removePost('{{ p.base36id }}')"><i class="fas fa-trash-alt"></i>Remove</a></li>
          {% endif %}
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebarLeftblock %}

{% if v %}

<div class="sidebar-section sidebar-dashboard">
  <div class="title">Dashboard</div>
  <div class="body">
    <ul class="no-bullets filter-list pl-0">
      <li class="filter-item">
        <a class="filter-link " href="{{ v.permalink }}"><i class="fas fa-feather-alt fa-width-rem"></i>Your posts</a>
      </li>
      <li class="filter-item">
        <a class="filter-link " href="{{ v.permalink }}/comments"><i class="fas fa-comment-dots fa-width-rem"></i>Your comments</a> 
      </li>
      <li class="filter-item">
        <a class="filter-link " href="/settings"><i class="fas fa-cog fa-width-rem"></i>Settings</a>
      </li>
    </ul>
  </div>
</div>

{% endif %}

{% if not v %}
<div class="sidebar-section sidebar-alert">
<div class="body">
    <img src="/assets/images/illustrations/ruckus.png" class="empty-state-img mb-3" alt="empty state">
    <h5>Join the discourse.</h5>
    <p class="text-small">Internet freedom of speech has a new home. Use your voice. Make a Ruqqus.</p>
    <a href="/signup" class="btn btn-primary btn-block">Sign up</a>
  </div>
</div>
{% endif %}


{% endblock %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-post-meta">
  <div class="body">
    <div class="score">{{ score }} point{{ 's' if score !=1 else '' }}<span class="score-percent ml-2" id="score-percent"></span></div>
    <div class="progress mt-1" style="height: 6px;">
      <div class="d-none" id="p-ups">{{ p.ups }}</div>
      <div class="d-none" id="p-downs">{{ p.downs }}</div>
      <div class="d-none" id="progressbar-value">{{ p.score_percent }}</div>
      <div class="progress-bar bg-upvote transition-15" role="progressbar" id="progressbar" style=""
      aria-valuenow="{{ p.score_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="submission-date mt-3">Submitted on:<span class="date"> {{ p.created_date }}</span></div>
    <div class="shortlink mt-1">Shortlink:<span class="link"></span> <input type="text" class="form-control form-control-sm copy-link d-md-inline-block" readonly value="https://ruqq.us/{{ p.base36id }}" data-clipboard-text="https://ruqq.us/{{ p.base36id }}"></input></div>
  </div>
</div>

<div class="sidebar-section sidebar-about">
  <div class="title">About Ruqqus</div>
  <div class="body">
    <p>Ruqqus lets you share and discover content from around the web in one place. Vote on what you like or dislike and engage in uncensored discussion with the community.</p>
    <small><a href="/help/about">Learn more →</a></small>
    {% if v and not v.is_banned %}
    <div class="mt-3"><a class="btn btn-primary btn-block" href="/submit">Create post</a></div>
    {% endif %}
    {% if not v %}
    <div class="mt-3"><a class="btn btn-primary btn-block" href="/login">Create post</a></div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row mb-3">

  <div class="col-12">

    <div id="post-{{ p.base36id }}" class="card border-0 mt-3{% if p.is_banned %} banned{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
      <div class="d-flex flex-row-reverse flex-nowrap justify-content-end">
        <div class="card-header bg-transparent border-0 d-flex flex-row flex-nowrap p-0 {% if p.body_html %} mt-4 mb-auto {% else %} my-auto {% endif %} pl-3 ml-auto">
          {% if p.url.endswith((".jpg",".png")) and p.domain_obj and p.domain_obj.show_thumbnail %}<a href="{{ p.url }}" rel="nofollow"><img src="{{ p.url }}" class="post-img d-none d-md-block" alt="Unable to anonymously load image"></a>{% endif %}
          <div class="dropdown show my-auto post-actions ml-4 d-none d-md-block">
            <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </a>

          <div class="dropdown-menu border-0 shadow dropdown-menu-right dropdown-menu-lg-left mt-2"
          aria-labelledby="dropdownMoreLink">
          <a href="javascript:void(0);" role="button" class="dropdown-item copy-link" data-clipboard-text="https://www.ruqqus.com{{ p.permalink }}"><i class="fas fa-link"></i>Copy link</a>
          <a class="dropdown-item d-none" href="#"><i class="fas fa-save"></i>Save</a>
          {% if v and not v.id==p.author_id %}
          <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#reportPostModal" onclick="report_postModal('{{ p.base36id }}')"><i class="fas fa-flag"></i>Flag</a>
          {% endif %}
          {% if v %}
{% if v.id==p.author_id and not v.is_banned %}
	<a class="dropdown-item" href="javascript:void(0)" onclick="togglePostEdit()"><i class="fas fa-edit"></i>Edit</a>
{% endif %}
          {% if v.admin_level >=1 %}
          {% if p.is_banned %}
          <a class="dropdown-item approveDropdownItem" id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="approvePost('{{ p.base36id }}')"><i class="fas fa-clipboard-check"></i>Approve</a>
          {% else %}
          <a class="dropdown-item removeDropdownItem" id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="removePost('{{ p.base36id }}')"><i class="fas fa-trash-alt"></i>Remove</a>
          {% endif %}
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-block my-md-auto">
      <div class="post-meta text-left d-block d-md-none mb-2">{% if p.stickied %}<i class="fas fa-thumbtack text-success fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Sticky post"></i> <span>&#183;</span> {% endif %}<span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_date }}">{{ p.age_string }}</span> by <a href="{{ p.author.permalink }}">{{ p.author.username }}</a>{% if p.distinguish_level %} <i class="fad fa-shield text-admin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ruqqus Administrator, speaking officially"></i>{% endif %} <span>&#183;</span> ({{ p.domain }}){% if p.edited_utc %} &#183; Edited <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ edited_date }}">{{ p.edited_string }}</span>{% endif %}</div>
      <h1 class="card-title post-title text-left mb-2"><a target="_blank" href="{{ p.url }}">{{ p.title | safe }}</a></h1>
      <div class="post-meta text-left d-none d-md-block">{% if p.stickied %}<i class="fas fa-thumbtack text-success fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Sticky post"></i> <span>&#183;</span> {% endif %}<span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ p.created_date }}">{{ p.age_string }}</span> by <a href="{{ p.author.permalink }}">{{ p.author.username }}</a>{% if p.distinguish_level %} <i class="fad fa-shield text-admin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ruqqus Administrator, speaking officially"></i>{% endif %} <span>&#183;</span> ({{ p.domain }}){% if p.edited_utc %} &#183; Edited <span data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="{{ edited_date }}">{{ p.edited_string }}</span>{% endif %}</div>

      <div id="post-body" {% if p.body_html %}class="post-body mt-3"{% endif %}> 
        {{ p.body_html | safe }}
      </div>
      
	{% if v and v.id==p.author_id and not v.is_banned %}
	<div id="edit-post-body" class="d-none comment-write collapsed child">
<form id="post-edit-form-{{ p.base36id }}" action="/edit_post/{{ p.base36id }}" method="post" class="input-group">
				<input type="hidden" name="formkey" value="{{ v.formkey }}">
				<input type="hidden" name="current_page" value="{{ request.path }}">
				<textarea name="body" id="post-edit-box" form="post-edit-form-{{ p.base36id }}" class="comment-box form-control rounded" aria-label="With textarea" placeholder="Add your comment..." rows="3">{{ p.body }}</textarea> 
				<div class="comment-format"> 
					<small class="format pl-0"><i class="fas fa-bold" aria-hidden="true" onclick="makeReplyBold()" data-toggle="tooltip" data-placement="bottom" title="Bold"></i></small> 
					<small class="format"><i class="fas fa-italic" aria-hidden="true" onclick="makeReplyItalics()" data-toggle="tooltip" data-placement="bottom" title="Italicize"></i></small> 
					<small class="format"><i class="fas fa-quote-right" aria-hidden="true" onclick="makeReplyQuote()" data-toggle="tooltip" data-placement="bottom" title="Quote"></i></small> 
					<small class="format"><i class="fas fa-link" aria-hidden="true"></i></small> 
					<a href="javascript:void(0)" onclick="togglePostEdit()" class="btn btn-secondary ml-auto cancel-form">Cancel</a> 
					<button form="post-edit-form-{{ p.base36id }}" class="btn btn-primary ml-2">Save Edit</button> </div> </form>
	</div>
	{% endif %}

    </div>

    <!-- Voting on "medium" devices or larger, hidden on smaller devices -->

    {% if v %}

    <div id="voting" class="voting d-none d-md-block {% if p.body_html %} mb-auto {% else %} my-auto {% endif %} mr-3">
      <div id="post-{{ p.base36id }}-up" class="arrow-up mx-auto" {% if voted==1 %}onclick="vote('{{ p.base36id }}','0')"{% elif voted>-2 %}onclick="vote('{{ p.base36id }}','1')"{% endif %}>
      </div>
      <span id="post-{{ p.base36id }}-score-up" class="score-up text-muted{% if voted!=1 %} d-none{% endif %}">{{ score+1-adjust }}</span>
      <span id="post-{{ p.base36id }}-score-none" class="score text-muted{% if voted!=0 and voted!=-2 %} d-none{% endif %}">{{ score-adjust }}</span>
      <span id="post-{{ p.base36id }}-score-down" class="score-down text-muted{% if voted!=-1 %} d-none{% endif %}">{{ score-1-adjust }}</span>
      <div id="post-{{ p.base36id }}-down" class="arrow-down mx-auto" {% if voted==-1 %}onclick="vote('{{ p.base36id }}','0')"{% elif voted>-2 %}onclick="vote('{{ p.base36id }}','-1')"{% endif %}>
      </div>
    </div>

    {% else %}

    <div id="voting" class="voting d-none d-md-block {% if p.body_html %} mb-auto {% else %} my-auto {% endif %} mr-3">
      <div id="post-{{ p.base36id }}-up" class="arrow-up mx-auto" onclick="location.href='/login';">
      </div>
      <span id="post-{{ p.base36id }}-score-up" class="score-up text-muted{% if voted!=1 %} d-none{% endif %}">{{ score+1-adjust }}</span>
      <span id="post-{{ p.base36id }}-score-none" class="score text-muted{% if voted!=0 and voted!=-2 %} d-none{% endif %}">{{ score-adjust }}</span>
      <span id="post-{{ p.base36id }}-score-down" class="score-down text-muted{% if voted!=-1 %} d-none{% endif %}">{{ score-1-adjust }}</span>
      <div id="post-{{ p.base36id }}-down" class="arrow-down mx-auto" onclick="location.href='/login';">
      </div>
    </div>

    {% endif %}

  </div>

<!-- Disable card-footer for now
                                            <div class="card-footer d-none">
                                    <div class="post-actions">
                    <ul class="list-inline text-right">
      <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none">
                            <span id="arrow-{{ p.base36id }}-mobile-up" class="mr-2 arrow-mobile-up" onclick="vote('{{ p.base36id }}','0')">
                                <i class="fas fa-chevron-up mx-0" aria-hidden="true"></i>
                            </span>


                                
        <span id="post-{{ p.base36id }}-score-mobile-up" class="score-up text-muted d-none">{{ score+1 }}</span>
          <span id="post-{{ p.base36id }}-score-mobile-none" class="score text-muted">{{ score }}</span>
          <span id="post-{{ p.base36id }}-score-mobile-down" class="score-down text-muted d-none">{{ score-1 }}</span>


                            <span id="arrow-{{ p.base36id }}-mobile-down" class="arrow-mobile-down ml-2 my-0" onclick="vote('{{ p.base36id }}','-1')">
                                <i class="fas fa-chevron-down mx-0" aria-hidden="true"></i>
                            </span>
                        </li>


                      <li class="list-inline-item"><a href="{{ p.permalink }}"><i class="fas fa-share-alt"></i>Share</a></li>
                      <li class="list-inline-item">
                        <div class="dropdown show">
                          <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>More
                          </a>

                          <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMoreLink">
                            <a class="dropdown-item d-none" href="#"><i class="fas fa-save"></i>Save</a>
                            <a class="dropdown-item d-none" href="#"><i class="fas fa-flag"></i>Flag</a>
                            {% if v %}
{% if v.id==p.author_id and not v.is_banned %}
	<a class="dropdown-item" href="javascript:void(0)" onclick="togglePostEdit()"><i class="fas fa-edit"></i>Edit</a>
{% endif %}
{% if v.admin_level >=1 %}
    {% if p.is_banned %}
                            <a id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="approvePost('{{ p.base36id }}')"><i class="fas fa-clipboard-check"></i>Approve</a>
                            {% else %}
                            <a id="moderate-post-{{ p.base36id }}" href="javascript:void(0)" onclick="removePost('{{ p.base36id }}')"><i class="fas fa-trash-alt"></i>Remove</a>
                                {% endif %}
{% endif %}

{% endif %}
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              -->


            </div>

            {% if p.embed_url %}
            <div class="post-body mt-3"> 
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="{{ p.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            {% endif %}

          </div>

          <div class="row no-gutters mt-3 d-block d-md-none">
            <div class="col">
             <a target="_blank" href="{{ p.url }}">{% if p.url.endswith((".jpg",".png")) and p.domain_obj and p.domain_obj.show_thumbnail %}<img src="{{ p.url }}" class="img-fluid" alt="Unable to anonymously load image">
               <div class="post-img-overlay d-block d-md-none">{{ p.domain|truncate(30, True) }}<i class="fas fa-external-link-alt text-small ml-2"></i></div>
               {% endif %}
             </a>
           </div>
         </div>

       </div>

       <div class="row mb-3 d-block d-md-none">
        <div class="col-12">

          <div class="post-actions">
            <ul class="list-inline text-right d-flex">

              <li class="list-inline-item mr-auto"><a href="{{ p.permalink }}"><i class="fas fa-comment-dots"></i>{{ p.comment_count }}</a></li>

              <li class="list-inline-item"><a href="javascript:void(0);" role="button" class="copy-link" data-clipboard-text="https://www.ruqqus.com{{ p.permalink }}"><i class="fas fa-link"></i>Share</a></li>
              {% if v %}
              <li class="list-inline-item">
                <a href="#" data-toggle="modal" data-target="#actionsModal">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
              </li>
              {% endif %}
              <li id="voting-{{ p.base36id }}-mobile" class="voting list-inline-item d-md-none">
                {% if v %}
                <span id="arrow-{{ p.base36id }}-mobile-up" class="mr-2 arrow-mobile-up" onclick="vote('{{ p.base36id }}','0')">
                  <i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
                </span>
                {% else %}
                <span id="arrow-{{ p.base36id }}-mobile-up" class="mr-2 arrow-mobile-up" onclick="location.href='/login';">
                  <i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
                </span>
                {% endif %}



                <span id="post-{{ p.base36id }}-score-mobile-up" class="score-up text-muted d-none">{{ score+1 }}</span>
                <span id="post-{{ p.base36id }}-score-mobile-none" class="score text-muted">{{ score }}</span>
                <span id="post-{{ p.base36id }}-score-mobile-down" class="score-down text-muted d-none">{{ score-1 }}</span>

                {% if v %}
                <span id="arrow-{{ p.base36id }}-mobile-down" class="arrow-mobile-down ml-2 my-0" onclick="vote('{{ p.base36id }}','-1')">
                  <i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
                </span>
                {% else %}
                <span id="arrow-{{ p.base36id }}-mobile-down" class="arrow-mobile-down ml-2 my-0" onclick="location.href='/login';">
                  <i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
                </span>
                {% endif %}
              </li>
            </ul>
          </div>

        </div>

      </div>
      <div class="row border-md-0 pb-3">
        <div class="col border-top">
          <div class="comments-count py-3">
            <div class="total"><a href="{{ p.permalink }}">Comments <span class="d-none d-md-inline-block">({{ p.comment_count }})</span></a></div>
            <div class="post-filter ml-auto"><span>Sort By:</span>
              <span class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              </a>
              <span class="dropdown-menu border-0 shadow dropdown-menu-right mt-2" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="?sort=new">New</a>
                <a class="dropdown-item" href="?sort=top">Top</a>
                <a class="dropdown-item" href="?sort=disputed">Disputed</a>
                <a class="dropdown-item d-none" href="#">Based</a>
              </span>
            </span>
          </div>
        </div>

        {% if not p.is_banned %}
        <div class="comment-write mb-3">
          <form id="reply-to-{{ p.fullname }}" class="input-group" action="/api/comment" method="post">
            <input type="hidden" name="formkey" value="{{ v.formkey }}">
            <input type="hidden" name="parent_fullname" value="t2_{{ p.base36id }}">
            <input type="hidden" name="submission" value="{{ p.base36id }}">
            {% if v %}
            <textarea class="comment-box form-control rounded" id="comment-form" name="body" form="reply-to-{{ p.fullname }}" aria-label="With textarea" placeholder="Add your comment..." rows="1"></textarea>
            {% else %}
            <textarea class="comment-box form-control rounded" name="body" aria-label="With textarea" placeholder="Add your comment..." rows="1" onclick="location.href='/login';"></textarea>
            {% endif %}
            <div class="comment-format">
              <small class="format pl-0"><i class="fas fa-bold" onclick="makeBold()" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Bold"></i></small>
              <small class="format"><i class="fas fa-italic" onclick="makeItalics()" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Italicize"></i></small>
              <small class="format"><i class="fas fa-quote-right" onclick="makeQuote()" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"700", "hide":"300"}' title="Quote"></i></small>
              <small class="format"><i class="fas fa-link"></i></small>
              <button form="reply-to-{{ p.fullname }}" class="btn btn-primary btn ml-auto">Comment</button>
            </div>
          </form>
        </div>
        {% endif %}

        {% if not v and p.comment_count >= 2 %}
        <div class="card border-0 bg-light mt-4">
          <div class="card-body">
            <h5 class="card-title">Jump in the discussion.</h5>
            <p class="card-text">Become part of the community, no email address required. Make a Ruqqus.</p>
            <div>
              <a href="/signup" class="btn btn-primary">Sign up</a>
              <a href="/login" class="btn btn-link text-muted">Sign in</a>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="comment-section">
         {% for c in p.replies %}
         {{ c.rendered_comment(v=v) | safe }}
         {% endfor %}
       </div>

     </div>

   </div>

   {% endblock %}