{% extends "default.html" %}

{% block title %}
<title>{{ p.title }}</title>
<meta name="description" content="{{ p.title }}">
{% endblock %}

{% block adminscripts %}
<script src="/assets/js/comment_modding.js"></script>
{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=3 %}
<form action="/api/sticky/{{ p.base36id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="{% if p.stickied %}Un-sticky{% else %}Sticky{% endif %}">
</form>
{% endif %}
{% if v.admin_level >=3 and v.id==p.author_id %}
<form action="/api/distinguish/{{ p.base36id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="{% if p.distinguish_level %}Un-distinguish{% else %}Distinguish{% endif %}">
</form>
{% endif %}
{% if v.admin_level >=1 and v.admin_level > p.author.admin_level %}
{% if p.is_banned %}
<form action="/api/unban_post/{{ p.base36id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Approve Post">
</form>
{% else %}
<form action="/api/ban_post/{{ p.base36id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Remove Post">
</form>
{% endif %}
{% endif %}
<p>Score: +{{ p.ups }}/-{{ p.downs }}</p>
<p>URL: {{ p.url }}</p>
{% endblock %}

{% block content %}

{% set score=p.score_fuzzed %}
{% if v %}
{% set voted=v.vote_status_on_post(p) %}
{% set adjust=voted %}
{% else %}
{% set voted=-2 %}
{% set adjust=0 %}
{% endif %}

<div class="container">
        <div class="row justify-content-around mx-lg-5">

            <div class="col bg-white border rounded py-3">

                <div id="post-{{ p.base36id }}" class="row text-center mb-5 banned{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">

                    <div class="col-12">

                        <div class="card d-flex flex-row-reverse flex-nowrap justify-content-end border-0 p-0 banned">
                            <div class="card-header bg-transparent border-0 p-0 ml-auto">
                                {% if p.url.endswith((".jpg",".png")) %}<img src="{{ p.url }}" class="post-img" alt=""> {% endif %}

                            </div>
                            <div class="card-block my-auto">
                                <h5 class="card-title post-title text-left mb-2">{{ p.title }}</h5>
                                <div class="post-meta text-left">{% if v %}{% if v.admin_level %}Posted by <a href="{{ p.author.url }}">{{ p.author.username }}</a> {{ p.age_string }}{% else %}[removed]{% endif %}{% else %}[removed]{% endif %}</div>
			
				{% if p.body_html and v %}
				{% if v.admin_level %}
				<hr>
				<div class="text-left text-muted">
				{{ p.body_html | safe }}
				</div>
				{% endif %}
				{% endif %}

                            </div>

                            <!-- Voting -->

                            <div id="voting" class="d-md-block my-auto mr-3">
                                <div id="post-{{ p.base36id }}-up" class="arrow-up mx-auto">
                                </div>
                                <span id="post-{{ p.base36id }}-score-up" class="score-up text-muted{% if voted!=1 %} noshow{% endif %}">✖</span>
		  		<span id="post-{{ p.base36id }}-score-none" class="score text-muted{% if voted!=0 and voted!=-2 %} noshow{% endif %}">✖</span>
		  		<span id="post-{{ p.base36id }}-score-down" class="score-down text-muted{% if voted!=-1 %} noshow{% endif %}">✖</span>
                                <div id="post-{{ p.base36id }}-down" class="arrow-down mx-auto"}>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-12">


			
                    </div>

                </div>

                <div class="row mt-5">
                    <div class="col">

                        <div class="comments-count">
                            <div class="total">Comments ({{ p.comment_count }})</div>
                            <div class="post-filter ml-auto"><span>Sort By:</span>
                                <span class="dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ sort_type }}
                                    </a>
                                    <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ p.permalink }}?sort=hot">Hot</a>
                                        <a class="dropdown-item" href="{{ p.permalink }}?sort=top">Top</a>
                                        <a class="dropdown-item" href="{{ p.permalink }}?sort=new">New</a>
                                        <a class="dropdown-item" href="{{ p.permalink }}?sort=fiery">Fiery</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="comment-section">

				{% for c in p.replies %}
					{{ c.rendered_comment(v=v) | safe }}
				{% endfor %}

                            
                        </div>
                    </div>
                </div>

            </div>
	</div>
</div>

{% endblock %}
