{% extends "default.html" %}
{% block content
{% filter markdown %}

# Terms of Service

By using Ruqqus you agree to these terms of service.

## Conduct

You will follow the code of conduct [here](/rules). 

## Legal

You warrant that you are at least 13 years old. You warrant that you are at least 18 years old, if you indicate as such in your user settings.

You will not hold Ruqqus liable for damages arising from: the use of Ruqqus, the failure of Ruqqus, administrative actions by Ruqqus staff, loss of data, breach of data, or the unauthorized access of a third party to your account.

You accept full liability for all content you upload to, or embed within, Ruqqus, and indemnify Ruqqus from all such liability.

## Enforcement

Ruqqus reserves the right to remove content that, in its sole discretion, violates the Rules or the Terms of Service. Ruqqus reserves the right to deactivate accounts responsible for such violations.

##GDRP

Ruqqus is operated entirely within the United States and is not subject to European law. That said, you can see the data associated with your user account [here](/my_info).

{% endfilter %}
{% endblock %}