{% extends "help.html" %}

{% block content %}
<div class="row justify-content-around">

    <div class="col-12 col-md-2 scrollspy sidebar-sticky d-none d-lg-block">

        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#legal">Legal</a>
          <a class="list-group-item list-group-item-action" href="#safety">Safety</a>
          <a class="list-group-item list-group-item-action" href="#sensitive-content">Sensative Content</a>
      </div>

  </div>

  <div class="col-12 col-md-8 h-100">

    <div class="mt-3 mt-md-0 scrollspy-example">

        <h1 class="display">The Ruqqus Rules</h1>

        <p>By using Ruqqus you agree to abstain from posting or submitting to any of the following. Additionally, you warrant that anything posted or submitted by you complies with this code of conduct.</p>

        <hr>

        <h2 class="h3">Legal</h2>

        <p><u>Copyright:</u> You may not post anything copyrighted by another party or material not properly licensed to you.</p>

        <p><u>United States Law:</u> You may not post anything not legal to publish within or export from the United States of America.</p>

        <h2 class="h3" id="safety">Safety</h2>

        <p><u>Harrasment:</u> You may not post anything that harasses or encourages of others either online or offline.</p>

        <p><u>Personal Information:</u> Posting or publishing personal or confidential information is stricly prohibited.</p>

        <p><u>Solicitation:</u> You may not post anything that solicits transactions</p>

        <p><u>Malicious material:</u> Anything that is digitally malicious is strictly prohibited from being posted.</p>

        <p><u>Impersonation:</u> You many not post anything that impersonates other Ruqqus users, moderators, or administrations.</p>

        <p><u>Spam:</u> Spam material is strictly prohibited from being posted on Ruqqus.</p>

        <h2 class="h3" id="sensitive-content">Sexuality</h2>

        <p><u>Pornographic material:</u> You may not post anything that is pornographic in nature. We value Ruqqus as an Internet-based public square. And we qualify pornographic material as indecent exposure in such a setting.</p>

        <p><u>Sexual or sexually suggestive material:</u> Any sexual or sexually suggestive material must be marked "NSFW"</p>

        <p><u>Content involving minors:</u> Ruqqus has zero tolerance for sexual or sexually suggestive material involving minors. Any material that violates this rule will result in a permanent ban.</p>

    </div>

    <div class="border-top mt-4">
        <div class="py-3">
            <h3 class="text-small d-inline-block">Was this article helpful?</h3>
            <span class="btn-group" role="group" aria-label="First group">
            <button type="button" id="feedback_yes" class="btn btn-link">Yes</button>
            <button type="button" id="feedback_no" class="btn btn-link">No</button>
            </span>
        </div>
    </div>

</div>

</div>
{% endblock %}
