{% extends "userpage.html" %}

{% block adminscripts %}
<script src="/assets/js/comment_modding.js"></script>
{% endblock %}


{% block content %}
<!-- Post filters bar visible only on medium devices or larger-->

<div class="row fixed-top bg-white border-0 shadow d-inline-flex d-md-none p-3" id="filter-bar-mobile" style="z-index: 3; top: 49px; transition: top 0.3s ease 0s;">

      <div class="col">

        <div class="d-flex flex-row flex-nowrap justify-content-between">

          <div class="post-filter">
            <span>Show:</span>
            <span class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comments</a>

              <span class="dropdown-menu border-0 shadow" id="dropdownMenuSortBy" aria-labelledby="dropdownSortBy">
                <a class="dropdown-item" href="/u/{{ u.username }}">Posts</a>
                <a class="dropdown-item" href="/u/{{ u.username }}/comments">Comments</a>
              </span>
            </span>

          </div>

          <div class="post-filter">
            <span>Sort By:</span>
            <span class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownFrom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</a>

              <span class="dropdown-menu border-0 shadow" id="dropdownMenuFrom" aria-labelledby="dropdownFrom">
                <a class="dropdown-item" href="#">Top</a>
                <a class="dropdown-item" href="#">Disputed</a>
                <a class="dropdown-item" href="#">Based</a>
              </span>
            </span>

          </div>

        </div>

      </div>

    </div>

	<div class="row justify-content-around mx-lg-5 d-block d-lg-none no-gutters">
        <div class="col bg-light border-bottom rounded-md p-3">
            <div class="profile-details">
                <h1 class="h6 d-inline-block mb-0 mr-2" style="color:#{{ u.color }}">@{{ u.username }}</h1>
                <div class="profile-actions d-inline-block">
                    <div class="dropdown show">
                        <a href="#" role="button" id="dropdownProfileActionsLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
			{% if v and v.id != u.id %}
                        <div class="dropdown-menu border-0 shadow py-1" aria-labelledby="dropdownMoreLink">
                            <a class="dropdown-item" href="#"><i class="fas fa-paper-plane"></i>Message</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-flag"></i>Report</a>
                        </div>
			{% endif %}
                    </div>
                </div>
                <div>
                            {% if u.admin_level>=3 %}<span class="badge badge-pill badge-danger text-white">Admin</span>{% endif %}
			    {% if u.real_id %}<span class="badge badge-pill text-white badge-info">{{ u.real_id }}</span>{% endif %}
                </div>
            </div>
        </div>
    </div>


        <div class="flex-row tab-bar sticky d-none d-md-flex">

          <ul class="nav post-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/u/{{ u.username}}"><i class="fas fa-feather-alt" aria-hidden="true"></i>Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/u/{{ u.username}}/comments"><i class="fas fa-comment-dots" aria-hidden="true"></i>Comments</a>
            </li>

          </ul>

        </div>

        <div class="row no-gutters">

          <div class="col-12">

          {% if u.comment_count>=1 %}
          {% else %}
          <div class="text-center py-7 py-md-8">

            <img src="https://imgur.com/7qp4UpX.png" class="mb-3" style="width: 300px; opacity: .35; filter: brightness(0);" alt="empty state">

            {% if v and v.id == u.id %}
            <div class="font-weight-bold text-muted">You haven't made a ruckus.</div>
            <div class="text-small text-muted mb-3">Your comments will show up here.</div>
            <a href="/" class="btn btn-primary">Go to frontpage</a>
            {% else %}
            <div class="font-weight-bold text-muted">Umm, there's nothing here.</div>
            <div class="text-small text-muted">@{{ u.username }} hasn't made a ruckus yet.</div>
            {% endif %}
          </div>
          {% endif %}

            <div class="posts p-3">
	{% for c in listing %}
		{{ c.rendered_comment(v=v, render_replies=False, standalone=True) | safe }}
	{% endfor%}

</div>
</div>
</div>
{% endblock %}

{% block pagenav %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm border-top rounded-0 py-3 pl-3 mb-0">
    <li class="page-item disabled">
      <small><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Back</a></small>
    </li>
    <li class="page-item">
      <small><a class="page-link" href="#">Next</a></small>
    </li>
  </ul>
</nav>
{% endblock %}