{% extends "default.html" %}

{% block pagetype %}userpage{% endblock %}

{% block enlargeThumbJS %}
<script src="/assets/js/enlarge_thumb.js"></script>
{% endblock %}

{% block title %}
<title>{{ u.username }}'s profile - Ruqqus</title>
{% if u.is_private %}
<meta name="robots" content="noindex">
{% endif %}
<meta property="og:article:author" content="@{{ u.username }}" />
<meta property="article:section" content="{{ u.username }}'s profile - Ruqqus" />
<meta property="article:published_time" content="{{ u.created_date }}" />
<meta property="og:description" name="description" content="{{ u.true_score }} Rep · Joined {{ u.created_date }} · {% if u.follower_count >=1 and not u.is_private %}{{ u.follower_count }} Subscribers · {% endif %}{% if not u.is_private %}{{ u.post_count }} Posts · {{ u.comment_count }} Comments · {% endif %}{{u.bio}}" />
<meta property="og:author" name="author" content="@{{ u.username }}" />
<meta property="og:title" content="{{ u.username }}" />
<meta property="og:image" content="{% if u.has_banner %}{{ u.banner_url }}{% else %}{{ '/assets/images/preview-images/ruqqus_og_image.png' | full_link }}{% endif %}" />
<meta property="og:url" content="{{ u.permalink | full_link}}" />
<meta property="og:site_name" content="ruqqus.com" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@ruqqus">
<meta name="twitter:title" content="{{ u.username }}'s profile - Ruqqus" />
<meta name="twitter:creator" content="@{{ u.username }}">
<meta name="twitter:description" content="{{ u.true_score }} Rep · Joined {{ u.created_date }} ·{% if u.follower_count >=1 and not u.is_private %}{{ u.follower_count }} Subscribers ·{% endif %} {% if not u.is_private %} {{ u.post_count }} Posts · {{ u.comment_count }} Comments ·{% endif %} {{u.bio}}" />
<meta name="twitter:image" content="{% if u.has_banner %}{{ u.banner_url }}{% else %}{{ '/assets/images/preview-images/ruqqus_og_image.png' | full_link }}{% endif %}" />
<meta name="twitter:url" content="{{ u.permalink | full_link}}" />
{% endblock %}

<!-- Left Sidebar (navigation-purposes, hidden on devices smaller than "large") -->

{% block leftSidebarBlock %}
{% include "sidebar-left.html" %}
{% endblock %}

{% block desktopUserBanner %}
<!-- Desktop -->
<div class="row d-none d-md-block">
  <div class="col px-0">
    <div class="jumbotron jumbotron-fluid jumbotron-guild d-none d-md-block" style="background-image: url({{ u.banner_url }})">
      <div class="jumbotron-overlay"></div>
      <div class="position-absolute w-100" style="bottom: 1rem;">
        <div class="container-fluid">
          <div class="d-md-flex text-center text-md-left">
            <div>
              <img src="{{ u.profile_url }}" class="profile-pic profile-pic-100 mb-5">
            </div>
            <div class="ml-3 w-100">
              <div class="d-flex align-items-center mt-1 mb-2">
                <h1 class="h3 mb-0">{{ u.username }}</h1>
                {% if u.admin_level > 1 %}
                <span>
                  <i class="fad fa-shield text-admin align-middle ml-2" data-toggle="tooltip" data-placement="bottom" title="Admin"></i>
                </span>
                {% elif u.admin_level == 1 %}
                <span>
                  <i class="fad fa-shield align-middle ml-2" data-toggle="tooltip" data-placement="bottom" title="Former Admin"></i>
                </span>
                {% endif %}
                {% if u.real_id %}<span class="badge badge-pill text-white badge-info ml-2">{{ u.real_id }}</span>
                {% endif %}
                {% if v and v.has_follower(u) %}
                <span class="badge badge-secondary text-small align-middle ml-2">Follows you</span>
                {% endif %}
                <div class="profile-actions align-middle d-none ml-2">
                 {% if v and v.id != u.id %}
                 <div class="dropdown show d-none">
                  <a href="#" role="button" id="dropdownProfileActionsLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-ellipsis-h text-lg align-middle text-gray-600"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right border-0 shadow" aria-labelledby="dropdownMoreLink">
                  <a class="dropdown-item" href="#"><i class="fas fa-paper-plane"></i>Message</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-flag"></i>Report</a>
                </div>
              </div>
              {% endif %}
              {% if v and v.id == u.id %}
              <div class="dropdown show d-none">
                <a href="#" role="button" id="dropdownProfileActionsLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-ellipsis-h text-lg align-middle text-gray-600"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right border-0 shadow" aria-labelledby="dropdownMoreLink">
                <a class="dropdown-item" href="/settings/profile#bio"><i class="fas fa-edit"></i>Edit profile</a>
                <a class="dropdown-item" href="/settings/security"><i class="fas fa-cog"></i>Account details</a>
              </div>
            </div>
            {% endif %}
          </div> 
        </div>

        <div class="font-weight-normal">
          <span class="font-weight-bold">{{ u.true_score }}</span> rep · {% if u.follower_count >=1 %}<span class="font-weight-bold">{{ u.follower_count }}</span> subscriber{{ 's' if u.follower_count != 1 else '' }} · {% endif %}joined <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ u.created_datetime }}" class="font-weight-bold">{{ u.created_date }}</span>
        </div>
          {% if u.bio_html %}
          <p class="text-muted">{{ u.bio_html | safe }}</p>
          {% else %}
          <p class="text-muted">No bio...</p>
          {% endif %}
          {% if u.bio_html and v %}
          {% endif %}

        <div class="d-flex justify-content-between align-items-center">
          <div>
           {% if v and v.id != u.id  %}
           <div id="button-unsub" {% if not is_following %}class="d-none"{% endif %}><a class="btn btn-secondary" href="javascript:void(0)" onclick="post('/api/unfollow/{{ u.username }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');})">Unsubscribe</a></div>
           <div id="button-sub" {% if is_following %}class="d-none"{% endif %}><a class="btn btn-primary" href="javascript:void(0)" onclick="post('/api/follow/{{ u.username }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');})">Subscribe</a></div>
           {% elif v and v.id == u.id %}
           <a href="/settings/profile" class="btn btn-secondary">Edit profile</a>
           {% endif %}
         </div>

          <div>
            {% for b in u.badges %}
            {% include "badge.html" %}
            {% else %}
            {% endfor %}
          </div>

       </div>

     </div>
   </div>
 </div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block mobileUserBanner %}
<!-- Mobile -->
<div class="container-fluid text-center bg-white d-md-none">
  <div class="row">
    <div class="col px-0">
      <img src="{{ u.banner_url }}" style="width: 100%; height: 65px; object-fit: cover;">
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <div style="margin-top: -34px;">
        <a href="{{ u.permalink }}"><img src="{{ u.profile_url }}" class="profile-pic-65 bg-white border-2 border-white mb-2"></a>
      </div>
      <div class="mt-n3 py-3">
        <a href="{{ u.permalink }}" class="text-black">
          <h1 class="h5 d-inline-block">{{ u.username }}
            <!--{% if u.over_18 %}
            <span class="badge badge-danger text-small align-middle mx-1">nsfw</span>
            {% endif %}-->
            {% if v and v.has_follower(u) %}
            <span class="badge badge-secondary text-small align-middle mx-1">Follows you</span>
            {% endif %}
          </h1>
        </a>
        <div class="text-small mb-2">{{ u.true_score }} Rep</div>
        {% if u.bio_html %}
        <p class="text-muted text-break">{{ u.bio_html | safe }}</p>
        {% endif %}
        <p class="font-weight-bold">{{ u.follower_count }} subscriber{{ 's' if u.follower_count != 1 else '' }}</p>
        <div class="mb-3">
            {% for b in u.badges %}
            {% include "badge.html" %}
            {% else %}
            {% endfor %}
        </div>
        {% if v and v.id == u.id %}
           <a href="/settings/profile" class="btn btn-secondary btn-sm">Edit profile</a>
        {% endif %}
        {% if v and v.id != u.id %}
        <div id="button-unsub-mobile" {% if not is_following %}class="d-none"{% endif %}><a class="btn btn-secondary" href="javascript:void(0)" onclick="post('/api/unfollow/{{ u.username }}', callback=function(){document.getElementById('button-unsub-mobile').classList.toggle('d-none');document.getElementById('button-sub-mobile').classList.toggle('d-none');})">Unsubscribe</a></div>
        <div id="button-sub-mobile" {% if is_following %}class="d-none"{% endif %}><a class="btn btn-primary" href="javascript:void(0)" onclick="post('/api/follow/{{ u.username }}', callback=function(){document.getElementById('button-unsub-mobile').classList.toggle('d-none');document.getElementById('button-sub-mobile').classList.toggle('d-none');})">Subscribe</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebarblock %}
<!-- Hide other sidebar content for now
<div class="sidebar-section sidebar-profile-stats">
 <div class="title">Profile</div>
 <div class="body">
   <div class="text-muted text-small"><i class="fas fa-medal fa-width-rem text-muted mr-2"></i><span data-toggle="tooltip" data-placement="bottom" title="Post Rep">{{ u.karma }}</span> • <span data-toggle="tooltip" data-placement="bottom" title="Comment Rep">{{ u.comment_karma }}</span></div>
   <div class="text-muted text-small mt-2"><i class="fas fa-feather-alt fa-width-rem text-muted mr-2"></i>{{ u.post_count }} Post{{ 's' if u.post_count!=1 else '' }}
   </div>
   <div class="text-muted text-small mt-2"><i class="fas fa-comment-dots fa-width-rem text-muted mr-2"></i>{{ u.comment_count }} Comment{{ 's' if u.comment_count !=1 else '' }}
   </div>
   {% if u.follower_count >=1 %}<div class="text-muted text-small mt-2"><i class="fas fa-user-friends fa-width-rem text-muted mr-2"></i>{{ u.follower_count }} Subscriber{{ 's' if u.follower_count !=1 else '' }}
   </div>{% endif %}
   <div class="text-muted text-small mt-2"><i class="fas fa-birthday-cake fa-width-rem text-muted mr-2"></i>User since {{ u.created_date }}
   </div>

   {% if v and v.has_follower(u) %}
   <div class="text-info text-small mt-2"><i class="fas fa-user-friends fa-width-rem text-info mr-2"></i>Subscribed to you</div>
   {% endif %}

 </div>
</div>

<div class="sidebar-section sidebar-profile-badges">
  <div class="title">Badges</div>
  <div class="body">
    {% for b in u.badges %}
    {% include "badge.html" %}
    {% else %}
    <p class="text-small text-muted">Nothing yet!</p>
    {% endfor %}
  </div>
</div>
-->

    <div class="sidebar-section">
      <div class="title">
        <i class="fas fa-heart mr-2"></i>Support Ruqqus
      </div>
      <div class="body">
        <p>Exclusive patron titles, merch, and more. Support Ruqqus today!</p>

        {% if v %}

        <a href="/settings#patreon" class="btn btn-block btn-link text-purple text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #D6BCFA!important; font-size: 2rem!important;"></i>
            <i class="fas fa-star fa-stack-1x text-primary text-base fa-inverse"></i>
          </span>Unlock Patron Titles
        </a>

        {% else %}

        <a href="https://patreon.com/ruqqus" target="blank" class="btn btn-block btn-link text-purple text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #D6BCFA!important; font-size: 2rem!important;"></i>
            <i class="fas fa-star fa-stack-1x text-primary text-base fa-inverse"></i>
          </span>Become a Patron
        </a>

        {% endif %}

        <a href="https://www.bonfire.com/store/ruqqus/" target="blank" class="btn btn-block btn-link text-info text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #BEE3F8!important; font-size: 2rem!important;"></i>
            <i class="fas fa-tshirt fa-stack-1x text-info text-base fa-inverse"></i>
          </span>Awesome T-Shirts
        </a>

        <a href="https://gumroad.com/l/XpCXQ" target="blank" class="btn btn-block btn-link text-success text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #9AE6B4!important; font-size: 2rem!important;"></i>
            <i class="fas fa-laugh fa-stack-1x text-success text-base fa-inverse"></i>
          </span>Custom Stickers
        </a>

        <a href="https://github.com/ruqqus/ruqqus" target="blank" class="btn btn-block btn-link text-black text-left text-decoration-none px-1 mt-0">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x text-gray-300" style="font-size: 2rem!important;"></i>
            <i class="fab fa-github fa-stack-1x text-black text-base fa-inverse"></i>
          </span>Contribute Code
        </a>

        <a href="https://github.com/ruqqus/ruqqus#sponsors" target="blank" class="btn btn-block btn-link text-left text-decoration-none px-1 mt-0" style="color: #F7931A!important">
          <span class="fa-stack fa-1x ml-n1 mr-2">
            <i class="fas fa-square fa-stack-2x" style="color: #FEEBC8!important; font-size: 2rem!important;"></i>
            <i class="fab fa-bitcoin fa-stack-1x text-base fa-inverse" style="color: #F7931A!important;"></i>
          </span>Donate Crypto
        </a>

      </div>
    </div>


{% endblock %}

{% block adminpanel %}
{% if u.is_private %}
<p>User has private mode enabled.</p>
{% endif %}
<p>user id: {{ u.base36id }}</p>
{% if v.admin_level >=3 and v.admin_level > u.admin_level %}
{% if u.is_suspended %}
<form action="/api/unban_user/{{ u.id }}" method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" class="btn btn-success" value="Unban user">
</form>
{% else %}
<form action="/api/ban_user/{{ u.id }}", method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input id="user-ban-message" type="text" class="form-control" name="message" placeholder="Ban Message Reason" onchange="document.getElementById('user-ban-submit').disabled=false">
  <input id="user-ban-reason" type="text" class="form-control" name="reason" placeholder="Ban Reason (public)" onchange="document.getElementById('user-ban-submit').disabled=false">
  <input id="user-ban-days" type="number" class="form-control" name="days" placeholder="Days (blank = permanent)">
  <input id="user-ban-submit" type="submit" class="btn btn-warning" value="Ban user" disabled>
</form>
{% endif %}
{% endif %}
{% if u.is_suspended %}
<p>Banned by: <a href="{{ u.banned_by.permalink}}">@{{ u.banned_by.username }}</a></p>
<p>Reason: {{ u.ban_reason }}</p>
{% endif %}
{% if v.admin_level >=4 %}
<p>Alts:</p>
<ul>
  {% for account in u.alts %}
  <li><a href="{{ account.permalink }}">@{{ account.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<div class="row no-gutters">
  <div class="col">
    <div class="flex-row box-shadow-bottom d-flex justify-content-center justify-content-md-between align-items-center">
      <ul class="nav settings-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/@{{ u.username}}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/@{{ u.username}}/comments">Comments</a>
        </li>    
      </ul>
    </div>
  </div>
</div>

<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

  <div class="col">

    <div class="posts">
      {% include "submission_listing.html" %}
    </div>

  </div>

</div>
{% endblock %}

{% block pagenav %}
{% if listing %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm mb-0">
    {% if page>1 %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page-1 }}" tabindex="-1">Prev</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Prev</span></li>
    {% endif %}
    {% if next_exists %}
    <li class="page-item">
      <small><a class="page-link" href="?page={{ page+1 }}">Next</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}

{% block GIFpicker %}
{% if v %}
{% include "gif_modal.html" %}
{% endif %}
{% endblock %}
