{% extends "default.html" %}

{% block title %}
<title>{{ u.username }}</title>
<meta name="description" content="on Ruqqus">
{% endblock %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-profile-basic">
                    <div class="body">
                        <h1 class="h6 d-inline-block mb-2 mr-2" style="color:#{{ u.color }}">@{{ u.username }}</h1>
                        <div class="profile-actions d-inline-block">
			{% if v and v.id != u.id %}
                            <div class="dropdown show">
                                <a href="#" role="button" id="dropdownProfileActionsLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>

                                <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMoreLink">
                                <a class="dropdown-item" href="#"><i class="fas fa-paper-plane"></i>Message</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-flag"></i>Report</a>
                                </div>
                            </div>
			{% endif %}
                        </div>
                        <div>
                            {% if u.admin_level>=3 %}<span class="badge badge-pill badge-danger text-white">Admin</span>{% endif %}
			    {% if u.real_id %}<span class="badge badge-pill text-white badge-info">{{ u.real_id }}</span>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="sidebar-section sidebar-profile-stats">
                    <div class="body">
			{% if u.bio_html %}
                        <p class="text-muted text-small mb-0">
				{{ u.bio_html | safe }}
                        </p>
                        <hr>
			{% endif %}
                        <div class="text-muted text-small"><i class="fas fa-medal mr-2"></i>{{ u.karma }} Rep</div>
                        <div class="text-muted text-small mt-2"><i class="fas fa-pen text-muted mr-2"></i>{{ u.post_count }} Post{{ 's' if u.post_count!=1 else '' }}
                        </div>
                        <div class="text-muted text-small mt-2"><i class="fas fa-birthday-cake text-muted mr-2"></i>User
                            since {{ u.created_date }}
                        </div>
                    </div>
                </div>


		{% if u.badges %}
		<div class="sidebar-section sidebar-profile-badges">
		<div class="title">Badges</div>
		<div class="col py-3 px-0">
		{% for bp in u.badge_pairs %}
			{% include "badge_pair.html" %}
		{% else %}
			<div class="px-3">Nothing yet!</div>

		{% endfor %}
		</div>
		</div>
		{% endif %}

{% endblock %}

{% block adminpanel %}
{% if v.admin_level >=3 and v.admin_level > u.admin_level %}
{% if u.is_banned %}
<form action="/api/unban_user/{{ u.id }}" method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Unban User">
</form>
{% else %}
<form action="/api/ban_user/{{ u.id }}", method="post">
<input type="hidden" name="formkey", value="{{ v.formkey }}">
<input type="submit" value="Ban User">
</form>
{% endif %}
{% endif %}
{% if v.admin_level >=4 and v.admin_level > u.admin_level %}
<table>
 <tr>
  <th>Key</th>
  <th>Value</th>
 </tr>
 <tr>
  <td>Account Creation IP</td>
  <td>{{ u.creation_ip }}</td>
 </tr>
 <tr>
  <td>Most Recent IP</td>
  <td>{{ u.most_recent_ip }}</td>
 </tr>
</table>
<p>IPs:</p>
<p>
{% set ips = u.ips | sort(attribute="created_utc", reverse=True) %}
{% for ip in ips[0:10] %}
<a href="/ip/{{ ip.ip }}">{{ ip.ip }}</a><br>
{% endfor %}
</p>
{% endif %}
{% endblock %}

{% block content %}
<!-- Post filters bar visible only on medium devices or larger-->

        <div class="flex-row filter-bar sticky d-none d-md-flex">

          <ul class="nav post-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active text-uppercase" href="/u/{{ u.username}}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="/u/{{ u.username}}/comments">Comments</a>
            </li>

          </ul>

        </div>

        <div class="row no-gutters">

          <div class="col-12">

            <div class="posts">
{% include "submission_listing.html" %}
</div>
</div>
</div>
{% endblock %}
