{% extends "userpage.html" %}

{% block adminpanel %}
<p>User has private mode enabled.</p>
<p>user id: {{ u.base36id }}</p>
{% if v.admin_level >=3 and v.admin_level > u.admin_level %}
{% if u.is_banned %}
<form action="/api/unban_user/{{ u.id }}" method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input type="submit" class="btn btn-success" value="Unban user">
</form>
{% else %}
<form action="/api/ban_user/{{ u.id }}", method="post">
  <input type="hidden" name="formkey", value="{{ v.formkey }}">
  <input id="user-ban-reason" type="text" class="form-control" name="reason" placeholder="Ban Reason" onchange="document.getElementById('user-ban-submit').disabled=false">
  <input id="user-ban-submit" type="submit" class="btn btn-warning" value="Ban user" disabled>
</form>
{% endif %}
{% endif %}
{% if u.is_banned %}
<p>Banned by: <a href="{{ u.banned_by.permalink}}">@{{ u.banned_by.username }}</a></p>
<p>Reason: {{ u.ban_reason }}</p>
{% endif %}
{% if v.admin_level >=4 %}
<p>Alts:</p>
<ul>
  {% for account in u.alts %}
  <li><a href="{{ account.permalink }}">@{{ account.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-3">
			<i class="fad fa-user-lock text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">Private History</h1>
			<p class="text-muted mb-5">This user has turned on private mode.</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}

{% block pagenav %}{% endblock %}
