{% extends "email/default.html" %}

{% block preheader %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% filter markdown %}

Hey there, {{ user.username }}

Thanks for using Ruqqus. We're updating the terms of service to cover some rules about new features that have recently been added to Ruqqus. These changes go into effect tomorrow, 28 December 2020.

1. Guild categorization - Guildmasters may not deliberately miscategorize their Guilds. Ruqqus is based on the premise that *you* should decide what you want to see, and accurate Guild categorizations are essential to that.

2. Multiple Accounts - Use of multiple accounts to circumvent account limitations is already against the ToS, but we've added more examples here to give a more complete picture of what this rule covers.

Thanks for using Ruqqus!

-The Ruqqus team

{% endfilter %}
{% endblock %}