{% extends "email/default.html" %}

{% block preheader %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% filter markdown %}

Hey there, {{ user.username }}

Thanks for using Ruqqus. We're updating the terms of service to clarify a few things in response to user feedback. This update goes into effect tomorrow, 27 November 2020.

1. We've added a section dealing with users with multiple accounts. You can have multiple accounts, but you can't use them to cheat. Do the honorable thing and play fair!

2. We've expanded our CSAM policy to cover additional activities that are harmful to minors, which we hadn't yet prohibited.

3. Our bots policy has been tweaked and we now require bots to use OAuth2 authentication wherever possible.

Click [here](https://ruqqus.com/help/terms) to review the full terms, or [here](https://ruqqus.com/help/csam) to review the expanded CSAM policy.

Thanks for using Ruqqus!

-The Ruqqus team

{% endfilter %}
{% endblock %}