{% extends "email/default.html" %}

{% block preheader %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% filter markdown %}

Hey there, {{ user.username }}

We hope you're enjoying your time on Ruqqus. To help keep Ruqqus operational into the future, we're making some terms of service changes, which will go into effect on $date. As a reminder, your continued use of the Ruqqus platform after that date constitutes agreement to these changes.

Here's a summary of the most important changes.

1. **Governing Law clause** - This indicates that we are operating under New Hampshire law, and requires users to consent to the jurisdiction of New Hampshire courts. We added this as a protection against getting sued somewhere we can't easily travel to.

2. **Stronger anti-account-sharing language** - This is an important protection for you, against overly nosy third parties who want to snoop through your social media accounts. 

3. **Rules clarifications** - We've elaborated on a few points in our content policy to help reduce the "grey area" type cases. We recognize the potential for edge cases that end up being open for interpretation and personal judgement, and we want to make sure you have a good idea of what to expect from us in those situations.

If you'd like to read the new terms of service and content policy before they go live, they are available [here](https://github.com/ruqqus/ruqqus/blob/tos-update/ruqqus/templates/help/terms.html) and [here](https://github.com/ruqqus/ruqqus/blob/tos-update/ruqqus/templates/help/rules.html).

Thanks for using Ruqqus!

- The Ruqqus team

{% endfilter %}
{% endblock %}