<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
    <link href="/assets/style/main.css" rel="stylesheet" media="screen">
    <!----<link href="static/css/application.css" rel="stylesheet" media="screen">--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
    var socket = io();
</script>


  </head>
  <body>


  <p>test</p>
  <a id="sockettest" class="btn btn-primary">send json</a>
  <script type="text/javascript" src="/assets/js/jquery-2.0.3.min.js"></script>
  <script>
    $('#sockettest').click(function (event) {

      if (event.which != 1) {
        return
      }
      event.preventDefault();

      socket.emit('my event', {data: 'I\'m connected!'});

    });
  </script>
  </body>
</html>