{% extends "board.html" %}

{% block PseudoSubmitForm %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block sortnav %}{% endblock %}
{% block viewfilters %}{% endblock %}
{% block mobilenavbar %}{% endblock %}

{% block title %}
<title>#{{ b.name }} - Ruqqus</title>
<meta name="description" content="#{{ b.name }} chat">
{% endblock %}

{% block infobar %}
<div class="border-right py-3 px-3">
  <span data-toggle="tooltip" data-placement="bottom" title="people online right now">
    <i class="far fa-user fa-sm text-muted mr-1"></i><span id="chat-count" class="text-muted">{{ b.chat_count }}</span>
  </span>
</div>
{% endblock %}

{% block content %}

{% include "chat/chat_client.html" %}

{% include "expanded_image_modal.html" %}
{% include "bootstrap.html" %}

<script src="/assets/js/all_js.js?v=2.35.39"></script>


<style>
#loading-indicator:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}

.chat-mention {
  background-color: rgba(128, 90, 213, 0.3);
}
</style>
{% endblock %}