<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
    <link href="/assets/{{ b.name }}/main/{{ b.color_nonce }}.css" rel="stylesheet" media="screen">
    <!----<link href="static/css/application.css" rel="stylesheet" media="screen">--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      // Support TLS-specific URLs, when appropriate.
      if (window.location.protocol == "https:") {
        var ws_scheme = "wss://";
      } else {
        var ws_scheme = "ws://"
      };


      var inbox = new ReconnectingWebSocket(ws_scheme + location.host + "/{{ b.name }}/chat_receive");
      var outbox = new ReconnectingWebSocket(ws_scheme + location.host + "/{{ b.name }}/chat_submit");

      inbox.onmessage = function(message) {
        var data = JSON.parse(message.data);
        $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>" + $('<span/>').text(data.handle).html() + "</div><div class='panel-body'>" + $('<span/>').text(data.text).html() + "</div></div>");
        $("#chat-text").stop().animate({
          scrollTop: $('#chat-text')[0].scrollHeight
        }, 800);
      };

      inbox.onclose = function(){
          console.log('inbox closed');
          this.inbox = new WebSocket(inbox.url);

      };

      outbox.onclose = function(){
          console.log('outbox closed');
          this.outbox = new WebSocket(outbox.url);
      };

      $("#input-form").on("submit", function(event) {
        event.preventDefault();
        var handle = $("#input-handle")[0].value;
        var text   = $("#input-text")[0].value;
        outbox.send(JSON.stringify({ handle: handle, text: text }));
        $("#input-text")[0].value = "";
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Python Websockets Chat Demo</h1>
        <hr />
        <p>This is a Python WebSockets Chat Demo. The code lives <a href="https://github.com/heroku-examples/python-websockets-chat">on GitHub</a>. </p>
        <p>You can find the full guide in <a href="https://devcenter.heroku.com/articles/python-websockets">Heroku DevCenter</a>.</p>
      </div>
      <form id="input-form" class="form-inline">
        <div class="form-group">
          <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
        </div>
        <div class="form-group">
          <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
      <div class="page-header">
        <h1>Chat Log</h1>
      </div>
      <div id="chat-text">
      </div>
    </div>

    <a href="https://github.com/heroku-examples/python-websockets-chat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <script type="text/javascript" src="/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </body>
</html>