$theme-colors: (
  "primary": #1486fb,
  "danger": #F45D01
);

// Body styling

$body-color: #344055;  //this is the text color
$body-bg: #F5F7F9; //this is the background color

// Borders

$input-border-color: #DEE2E6;
$border-color: #E0E4E9;

// Text styling

$text-muted: #757a84;

// Fonts

$font-family-sans-serif: Open Sans;

// Colors

$blue: #1486fb;
$red:  #F45D01;
$gray: #898EA2;
$green: #68D16F;

$gray-100: #F5F6F7;
$gray-300: #E0E4E9;

$upvote: #F45D01;
$downvote: #1486fb;
$admin: #F45D01;
$mod: #07c20c;
$banned: #FF9999;

// Font size

$small-font-size: 13px;

// Font weight

$font-weight-bold: 600;
$headings-font-weight: $font-weight-bold;

// Box Shadow

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);

@import "node_modules/bootstrap/scss/bootstrap";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

html {
    font-size: 14px;
}

body {
    padding-top: 100px;
    background-color: $gray-100;
}

// Type

.text-base {
    font-size: $font-size-base;
}

.text-small {
    font-size: $small-font-size;
}

// Links

a.dropdown-toggle:hover {
    text-decoration: none;
}

// list items

.comment-section li {
    list-style-type: none;
}

ol > li {
    list-style-type: none;
    counter-increment: circle-count;
    margin-bottom: .75rem;
}

ol > li::before {
    content: counter(circle-count) " ";
    position: relative;
    top: -1px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    line-height: 1.5rem;
    color: $primary;
    background-color: rgba(60, 173, 243, 0.15);
    border-radius: 50%;
    text-align: center;
    margin-right: .5rem;
}

.footer .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

// Buttons

.btn {
    line-height: 1.3;
    border-radius: .25rem;
    font-weight: 600;
}

.btn-light {
    background-color: $white;
    border-color: $white;
}

.btn.login {
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: .25rem;
}

// Navbar

.navbar {
    border-bottom: 1px solid $border-color;
}

.navbar-brand, .navbar-light .navbar-brand {
    color: $primary;
    font-weight: $font-weight-bold;
}

// Nav links

.navbar-light .navbar-nav .nav-link {
    color: $gray;
}

.navbar-light .navbar-nav .btn-primary.nav-link {
    color: $white;
}

.navbar-light .navbar-nav .btn-outline-primary.nav-link {
    color: $primary;
}

.navbar-light .navbar-nav .btn-outline-primary.nav-link:hover {
    color: $white;
}

.post-nav .nav-link {
    color: $gray;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
}

.post-nav > .nav-item > .nav-link.active {
    color: $red;
    border-bottom: 3px solid $red;
}

.post-nav .nav-link:hover, .nav-link:focus {
    color: $red;
}

// Navbar icons and search box

// Inputs

.form-control {
    color: $gray;
    border-color: $gray-300;
}

label {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $text-muted;
}

.user-profile > .dropdown-toggle::after {
    display:none;
}

// Font Awesome

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-icon-circle {
    font-size: 1rem;
    height: 35px;
    width: 35px;
    line-height: 1.5rem;
    text-align: center;
    border: 1px solid $gray-300;
    border-radius: 50%;
    padding: 0.5rem;
}

.fa-bold:hover {
    color: $gray;
}

.fa-italic:hover {
    color: $gray;
}

.fa-quote-right:hover {
    color: $gray;
}

.fa-link:hover {
    color: $gray;
}

// Voting

.voting {
    position: relative;
    z-index: 2;
    font-weight: $font-weight-bold;
    text-align: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid $gray-300;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid $gray-300;
}

.upvoted .arrow-up {
  border-bottom: 10px solid $upvote;
}

.downvoted .arrow-down {
  border-top: 10px solid $downvote;
}

.score-up {
    color: $upvote !important;
}

.score-down {
    color: $downvote !important;
}

.banned .score {
    color: $gray-300 !important;
}

// Custom Borders

.border-1 {
    border-width: 1px;
    border-style: solid;
}

.border-2 {
    border-width: 2px;
    border-style: solid;
}

.border-3 {
    border-width: 3px;
    border-style: solid;
}

.border-4 {
    border-width: 4px;
    border-style: solid;
}

.border-5 {
    border-width: 5px;
    border-style: solid;
}

// Main Content

.post-filter {
    display: inline-block;
    color: $body-color;
    font-weight: $font-weight-bold;
}

// Sidebar content

.sidebar {
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    padding-left: 0rem;
    padding-right: 0rem;
}

.sidebar h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.sidebar .sidebar-section .title {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: $font-weight-bold;
    color: $gray-600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sidebar-section {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $white;
    border-radius: .25rem;
    border: 1px solid $border-color;
}

.user-count {
    margin-bottom: .25rem;
}

.online-count {
    margin-bottom: .25rem;
}

// Progress Bar

.progress {
    border-radius: 50rem;
}

// User and Profile

.profile-pic-25 {
    width: 25px;
    height: 25px;
    border-radius: 50rem;
}

.profile-pic-35 {
    width: 35px;
    height: 35px;
    border-radius: 50rem;
}

.profile-pic-40 {
    width: 40px;
    height: 40px;
    border-radius: 50rem;
}

.profile-pic-75 {
    width: 75px;
    height: 75px;
    border-radius: 50rem;
}

// Thread

.post-title a {
    color: $body-color;
}

.post-title a:hover, a:active, a:focus  {
    color: $blue;
    text-decoration: none;
}

.post-meta {
    position: relative;
    z-index: 2;
    color: $gray-600;
    font-size: $small-font-size;
    margin-bottom: .5rem;
    width: fit-content;
}

.post-actions {
    position: relative;
    z-index: 2;
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
    margin-bottom: 0;
    width: fit-content;
}

.post-actions a {
    color: $gray;
}

.post-actions a:hover, a:active, a:focus {
    color: $blue;
    text-decoration: none;
}

.post-img {
    width: 130px;
    height: 90px;
    object-fit: cover;
}

.post-actions .comments, .post-actions .share, .post-actions .save, .post-actions .flag {
    margin-right: .5rem;
    vertical-align: top;

}

.time-stamp, .points {
    color: $text-muted;
}

// Thread Comments

.comments-count {
    display: flex;
}

.comments-count .total {
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
}

.comment:first-child {
    margin-top: 0;
}

.comment {
    display: flex;
    position: relative;
    margin-top: 1rem;
    border: 1px solid $gray-300;
}

.comment .comment-profile {
    margin: 1rem;
    text-align: center;
}

.comment .comment-body {
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    margin-top: auto;
    margin-bottom: auto;
}

.comment .comment-body .user-info {
    font-size: $small-font-size;
    color: $text-muted;
    margin-bottom: .5rem;
}

.comment .comment-body p.text {
    margin-bottom: 1rem;
    word-break: break-word;
}

.comment-actions {
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
    margin-bottom: 0;
}

.comment-actions a {
    color: $gray;
}

.comment-actions a:hover, a:active, a:focus {
    color: $blue;
    text-decoration: none;
}

ul.comment-section {
    padding-left: 0;
}

.comment-count {
    font-size: $h5-font-size;
    color: $body-color;
}

.comment-write {
    position: relative;
}

.comment-write.child {
    margin-top: 1rem;
}

.comment-write textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .5rem .75rem;
}
.comment-write .comment-format {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $gray-300;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    z-index: 3;
}

.comment-write .form-control:hover, .comment-write .form-control:active, .comment-write .form-control:focus {
    border-color: $gray-300;
}

.comment-write .comment-format .format {
    padding: 0 .5rem;
    font-size: $font-size-base;
    color: $gray-500;
}

.comment .user-name, .comment .profile-pic-25, .comment .time-stamp, .comment .points{
    margin-right: .25rem;
}

.comment .toggle-collapse::before {
    position: absolute;
    right: 1rem;
    top: .25rem;
    content: "\2212";
    font-size: $font-size-lg;
    color: $text-muted;
    z-index: 2;
}

.comment.collapsed .toggle-collapse::before {
    position: absolute;
    right: 1rem;
    top: .25rem;
    content: "\002B";
    font-size: $font-size-lg;
    color: $text-muted;
    z-index: 2;
}

.comment.collapsed .comment-profile, .comment.collapsed p.text, .comment.collapsed .comment-actions, .comment.collapsed .comment-write {
    display: none;
}

.comment.collapsed .user-info {
    margin-bottom: 0;
    margin-left: 1rem;
}

.comment.collapsed .comment-body {
    opacity: .5;
}

.dropdown-menu.user-profile-menu {
    padding: 1rem;
    text-align: left;
}

.dropdown-menu.user-profile-menu .fa, .dropdown-menu.user-profile-menu .far, .dropdown-menu.user-profile-menu .fas {
    text-align: center;
    width: 18px;
    padding-right: .25rem;
}

// Thread Reactions

.reactions-count {
    margin-bottom: 3rem;
}

.reactions-count .total {
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
}

.reaction {
    border: 1px solid $gray-300;
    background-color: $white;
    padding: 0.25rem 0.5rem;
    border-radius: .25rem;
    font-weight: $font-weight-bold;
    margin-right: .25rem;
}

.reaction:hover {
    background-color: $gray-200;
}

.reaction .count {
    margin-left: .5rem;
}

.reaction .reacted {
    border-color: $blue;
    background-color: rgba(60, 173, 243, 0.08);
    color: $blue
}

// Sidebar

.sidebar-post-meta .score {
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
}

.sidebar-post-meta .score-percent {
    font-size: $small-font-size;
    color: $gray-600;
    font-weight: $font-weight-normal;
}

.sidebar-post-meta .shortlink, .sidebar-post-meta .submission-date {
    font-size: $small-font-size;
    color: $gray-600;
    font-weight: $font-weight-normal;
    text-transform: lowercase;
}

.sidebar-post-meta .link, .sidebar-post-meta .date{
    font-size: $small-font-size;
    color: $body-color;
    font-weight: $font-weight-normal;
}

// Login Page

#login {
    padding-top: 0;
    height: 100%;
    overflow: hidden;
}

.splash-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.splash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.35);
}

.splash-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
}

.splash-text {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    color: $white;
    text-shadow: 0 0 2px black;
}

// Footer

.footer a {
    color: $gray-600;
}

.footer a:hover, a:focus, a:active {
    color: $body-color;
}

// Adam's additions

.sidebar-adminpanel input[type="submit"] {
  width:100%
}

.noshow {
  display: none;
}

span.red {
  color: $admin;
}

span.green {
  color: $green;
}

div.banned {
  background-color: $banned;
}

.distinguish-admin .user-name,
.distinguish-mod   .user-name {
  color: white;
  padding: 0px 3px 2px 3px;
  border-radius: 3px;
}

.distinguish-admin .user-name {
  background-color: $admin;
}

.distinguish-mod .user-name {
  background-color: $mod;
}

.distinguish-admin .user-name::before {
 content: "[A] "
}

.distinguish-mod .user-name::before {
 content: "[M] "
}