// Colors

$primary: #6350CC;
$dark: #2E4057;
$secondary: #353A47;
$danger: #FA7921;
$white: #ffffff;
$black: #1E1E24;
$light: #F9FAFC;



$purple: #311C49;
$red:  #FA7921;
$gray: #5F5F5F;
$green: #6350CC;

$gray-100: #F8F8F9;
$gray-200: #EBE9EF;
$gray-300: #E0E4E9;
$gray-400: #C2C2C2;
$gray-500: #adb5bd;
$gray-600: #ACACAC;

$upvote: #FA7921;
$downvote: #3970a2;
$admin: #FA7921;
$banned: #FF9999;
$mod: #07c20c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "dark": $dark,
  "white": $white,
  "black": $black,
  "light": $light,
  "gray": $gray,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-400": $gray-400
);

// Borders

$input-border-color: #ECECEC;
$border-color: #E6E6E6;

$border-radius: .25rem;

// Text styling

$text-muted: #7D7D7D;

// Fonts

@import url('https://rsms.me/inter/inter.css');

$font-family-sans-serif: 'Inter', 'Helvetica Neue', sans-serif;

// Font size

$font-size-base: 1rem;

$small-font-size: 13px;

$extra-small-font-size: 12px;

$display5-size:  3rem !default;

$display5-weight: 400;

$lead-font-size: $font-size-base * 1.325 !default;

// Font weight

$font-weight-medium: 500;

$font-weight-bold: 600;
$font-weight-bolder: 700;
$headings-font-weight: $font-weight-bold;

// Spacing

$spacer: 1rem;
$spacers: (
  6: ($spacer * 3.5),
  7: ($spacer * 5),
  8: ($spacer * 10)
);

// Sizing

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    130: 130%,
    auto: auto
  ),
  $sizes
);

// Box Shadow

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);

// Color contrast

$yiq-contrasted-threshold:  160 !default;

@import "node_modules/bootstrap/scss/bootstrap";

html {
    font-size: 14px;
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }

body {
    color: $black;
    padding-top: 98px;
    background-color: $light;
}

#page {
    padding-top: 49px;
    background-color: $white;
}

// Padding and Margins

#thread .custom-gutters {
    padding: 0 15px;
}

.custom-gutters {
    padding-left: 0;
    padding-right: 0;
}

// Positioning

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 49px;
    height: auto;
    overflow-y: auto;
    z-index: 4;
}

// Type

.text-base {
    font-size: $font-size-base;
}

.text-small {
    font-size: $small-font-size;
}

.text-small-extra {
    font-size: $extra-small-font-size;
}

.display-5 {
    @include font-size($display5-size);
    font-weight: $display5-weight;
    line-height: $display-line-height;
}

.lead {
    font-weight: $font-weight-normal;
}

#page p {
    font-size: 16px;
}

// Links

a.dropdown-toggle:hover {
    text-decoration: none;
}

// list items

ul.no-bullets {
    list-style-type: none;
}

.comment-section li {
    list-style-type: none;
}

ol > li {
    list-style-type: none;
    counter-increment: count;
    margin-bottom: .75rem;
}

ol > li::before {
    content: counter(count) " ";
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 13px;
    font-weight: $font-weight-bold;
    color: $secondary;
    text-align: center;
    margin-right: 0.5rem;
}

.footer .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

// Buttons

.btn {
    font-size: $small-font-size;
    padding: .35rem .75rem;
    border-radius: $border-radius;
}

.btn.disabled, .btn:disabled {
    opacity: .5;
}

.btn-success, .btn-danger {
    color: $white;
}

.btn.login, .btn.register {
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: .25rem;
}

.btn-group.btn-integration {
    border-radius: $border-radius;
    border: 1px solid $border-color;
}

.btn-integration {
    font-weight: $font-weight-bold;
    border-left: 1px solid $border-color;
}

.btn-integration .fab, .btn-integration .fas, .btn-integration .far {
    font-size: $lead-font-size;
    vertical-align: middle;
}

// Navbar and tab Bar

#page .navbar-light .navbar-nav .nav-link {
    color: $dark;
}

#page .navbar-light .navbar-nav .nav-link:hover {
    color: $primary;
}

.navbar-brand, .navbar-light .navbar-brand {
    color: $black;
    font-weight: $font-weight-bold;
}

.tab-bar {
    border-bottom: 1px solid $border-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 1rem 1rem 0 1rem;
    background-color: $white;
}

// Nav links

.navbar-light .navbar-nav .nav-link {
    color: $black;
}

.navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far {
    color: $primary;
    text-align: center;
}

.navbar-light .navbar-nav .btn-primary.nav-link {
    color: $white;
}

.navbar-light .navbar-nav .btn-outline-primary.nav-link {
    color: $primary;
}

.navbar-light .navbar-nav .btn-outline-primary.nav-link:hover {
    color: $white;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

.post-nav .nav-link {
    color: $gray;
    font-size: $extra-small-font-size;
    font-weight: $font-weight-bold;
    padding-top: 0;
}

.settings-nav .nav-link {
    color: $gray;
    font-size: $extra-small-font-size;
    font-weight: $font-weight-bold;
    padding-top: 0;
}

.post-nav > .nav-item > .nav-link.active {
    color: $dark;
    border-bottom: 3px solid $dark;
}


.settings-nav > .nav-item > .nav-link.active {
    color: $dark;
    border-bottom: 3px solid $dark;
}

.post-nav .nav-link:hover, .post-nav .nav-link:focus, .settings-nav .nav-link:hover, .settings-nav .nav-link:focus {

    color: $dark;
}

.post-nav .nav-link:hover .fa , .post-nav .nav-link:focus .fa, .post-nav .nav-link:hover .fas , .post-nav .nav-link:focus .fas {
    color: $dark;
}

.post-nav > .nav-item > .nav-link.active .fa, .post-nav > .nav-item > .nav-link.active .fas {
    color: $dark;

}

.post-nav .fa, .post-nav .fas {
    font-size: $extra-small-font-size;
    margin-right: .5rem;
    color: $gray-600;
}

// Nav pills

#page .nav-pills .nav-link {
    border-radius: 0;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color: $text-muted;
    border-bottom: 2px solid transparent;
    padding: 1rem 1.5rem;
}

#page .nav-pills .nav-link:hover {
    color: $primary;
}

#page .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $primary;
    background-color: transparent;
    transition: ease 0.25s;
    border-bottom: 2px solid $primary;
}

#page .bg-light .nav-pills .nav-link.active, .bg-light .nav-pills .show > .nav-link {
    color: $primary;
    background-color: transparent;
    transition: ease 0.25s;
    border-bottom: 2px solid $primary;
}

// Navbar icons and search box

.form-inline.search .form-control:hover, .form-inline.search .form-control:active, .form-inline.search .form-control:focus {
    border-color: $white;
}

.form-inline.search .form-control:active, .form-inline.search .form-control:focus {
    background-color: $white;
}

.form-inline.search .form-control {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .1);
    font-size: $small-font-size;
}

.form-inline.search .input-group-append .input-group-text .fa.fa-search {
    color: $white;
    opacity: .25;
}

.form-inline.search .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: .25; /* Firefox */
}

.form-inline.search .form-control::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white;
  opacity: .25;
}

.form-inline.search .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $white;
  opacity: .25;
}

// Jumbotron and Backgrounds

.bg-svg {
    background-color: #353A47;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%231c3144' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2319394e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23114158' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23004a62' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300536b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23005c72' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23006579' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23006e7f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23007883' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23008186' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23008a88' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23009388' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23009d87' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2300a585' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2300ae82' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232fb77e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%234abf79' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2362c773' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

// Inputs

.form-control {
    color: $gray-600;
    border-color: $input-border-color;
    transition: none;
}

.home-submission .form-control, .home-submission .input-group-text {
    border-color: $border-color;
    background-color: $white;
}

.home-submission .input-group-prepend .fa, .home-submission .input-group-prepend .fas, .home-submission .input-group-append .fa, .home-submission .input-group-append .fas {
    color: $gray-300;
}

.form-control:hover, .form-control:focus, .form-control:active {
    color: $black;
    background-color: #ffffff;
    outline: 0;
    border-color: $primary;
    box-shadow: none;

}

label {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $text-muted;
}

label.terms {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
    color: $black;
    vertical-align: middle;
    padding: .1rem 0;
}

.user-profile > .dropdown-toggle::after {
    display:none;
}

.dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown .dropdown-menu .dropdown-meta {
    padding: 0.5rem 1rem;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: $white;
    text-decoration: none;
    background-color: $primary;
}

.dropdown-item:hover .fas, .dropdown-item:focus .fas, .dropdown-item:hover .far, .dropdown-item:focus .far {
    color: $white;
}

// Font Awesome

.sidebar-section .fa, .sidebar-section .fas {
    font-size: 12px;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-icon-circle {
    font-size: $font-size-lg;
    text-align: center;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.fa-width-rem {
    width: 1rem;
}

.fa-bold:hover {
    color: $gray;
}

.fa-italic:hover {
    color: $gray;
}

.fa-quote-right:hover {
    color: $gray;
}

.fa-link:hover {
    color: $gray;
}

// Voting

.voting {
    position: relative;
    z-index: 2;
    font-weight: $font-weight-bold;
    text-align: center;
    min-width: 40px;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

    .voting {
    min-width: length;
}
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid $gray-300;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid $gray-300;
}

.upvoted .arrow-mobile-up {
    color: $upvote;
}

.downvoted .arrow-mobile-down {
    color: $downvote;
}

.upvoted .arrow-up {
  border-bottom: 10px solid $upvote;
}

.downvoted .arrow-down {
  border-top: 10px solid $downvote;
}

.score-up {
    color: $upvote !important;
}

.score-down {
    color: $downvote !important;
}

.banned .score {		
    color: $gray-300 !important;		
}

// Link Arrow Symbol

a .link-arrow {
position: relative;
right: 0;
transition: right ease 0.25s;
margin-left: .5rem;
font-size: $small-font-size;
}

a:hover .link-arrow {
right: -.5rem;
color: $dark;
}

// Custom Borders

.border-1 {
    border-width: 1px;
    border-style: solid;
}

.border-2 {
    border-width: 2px;
    border-style: solid;
}

.border-3 {
    border-width: 3px;
    border-style: solid;
}

.border-4 {
    border-width: 4px;
    border-style: solid;
}

.border-5 {
    border-width: 5px;
    border-style: solid;
}

// Opacity

.opacity-25 {
    opacity: .25;
}

.opacity-50 {
    opacity: .5;
}

.opacity-80 {
    opacity: .8;
}

// Main Content

.post-filter {
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    color: $text-muted;

}

.post-filter .fa, .post-filter .fas {
    font-size: $extra-small-font-size;
    margin-right: .5rem;
    opacity: .9;
    color: $primary;
    width: 1rem;
}

// Sidebar content

.sidebar {
    -ms-flex: 0 0 275px;
    flex: 0 0 275px;
    padding-left: 0rem;
    padding-right: 0rem;
}

.sidebar h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.sidebar .sidebar-section .title {
    font-size: $extra-small-font-size;
    font-weight: $font-weight-bold;

    color: $gray;
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid $input-border-color;

    margin-bottom: 1rem;
}

.sidebar-section {
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 1rem;
}

.sidebar-section.sidebar-trending .hashtag {
    margin-bottom: .5rem;
    padding-bottom: .25rem;
    color: $text-muted;
    font-weight: $font-weight-bold;
}

.sidebar-section.sidebar-alert {
    color: $white;
    background-color: $dark;
    border: none;
}

.user-count {
    margin-bottom: .25rem;
}

.online-count {
    margin-bottom: .25rem;
}

// Progress Bar

.progress {
    border-radius: 50rem;
}

// User and Profile

.profile-pic {
    object-fit: cover;
}

.profile-pic-25 {
    width: 25px;
    height: 25px;
    border-radius: 50rem;
}

.profile-pic-35 {
    width: 35px;
    height: 35px;
    border-radius: 50rem;
}

.profile-pic-40 {
    width: 40px;
    height: 40px;
    border-radius: 50rem;
}

.profile-pic-75 {
    width: 75px;
    height: 75px;
    border-radius: 50rem;
}

// Thread

#frontpage .posts .card {
    border-width: 0 0 1px 0;
    border-color: $border-color;
    border-style: solid;
    border-radius: 0;
    padding: 15px;
}

#frontpage .posts .card:hover {
    background-color: $gray-100;
}

#frontpage .posts .card:last-of-type {
    border: none;
    border-radius: $border-radius;
}

.post-title {
    font-size: 16px;
}

.post-title a {
    color: $black;
}

.post-title a:hover, .post-title a:active, .post-title a:focus  {
    text-decoration: none;
}

.stretched-link a:hover {
    color: $purple
}

.post-meta {
    position: relative;
    z-index: 2;
    color: $text-muted;
    font-size: $extra-small-font-size;
    width: fit-content;
}

#frontpage .posts .card .card-footer {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.post-actions {
    position: relative;
    z-index: 3;

    color: $text-muted;
    font-weight: $font-weight-normal;
    font-size: $extra-small-font-size;
}

.post-actions .fa, .post-actions .fas, .post-actions .far {
    font-size: $extra-small-font-size;
    margin-right: .5rem;
    color: $gray-600;
}

.post-actions .dropdown-item:active .fa, .post-actions .dropdown-item:active .fas {
    color: $white;
}

.post-actions .dropdown-item:hover .fa, .post-actions .dropdown-item:hover .fas {
    color: $white;
}

.post-actions a:hover .fa, .post-actions a:hover .fas {
    color: $black;
}

.post-actions .fas.fa-ellipsis-h {
    font-size: $font-size-lg;
    vertical-align: bottom;
}

.post-actions .list-inline {
    margin-bottom: 0;
}

.post-actions .list-inline .list-inline-item {
    margin-right: 1rem;
}

.post-actions .list-inline .list-inline-item:last-child {
    margin-right: 0;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .post-actions .list-inline .list-inline-item {
    margin-right: 1.5rem;
}

.post-actions .list-inline .list-inline-item:last-child {
    margin-right: 0;
}
}

.post-actions .list-inline .list-inline-item .dropdown-item {
    font-size: $small-font-size;
}

.post-actions .list-inline .list-inline-item .dropdown-item:active {
    color: $white;
}

.post-actions a {
    color: $gray;
    text-decoration: none;
}

.post-actions a:hover {
    color: $black;
}

.post-actions .dropdown-item:hover {
    color: $white;
}

.post-img {
    width: 145px;
    height: 100px;
    object-fit: cover;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .post-img {
    width: 80px;
    height: 60px;
}
}

.post-actions .comments, .post-actions .share, .post-actions .save, .post-actions .flag {
    margin-right: .5rem;
    vertical-align: top;

}

.time-stamp, .points {
    color: $text-muted;
}

// Thread Comments

.comments-count {
    display: flex;
}

.comments-count .total {
    font-weight: $font-weight-bold;

    font-size: $small-font-size;

    color: $text-muted;
}

.comment:first-child {
    margin-top: 0;
}

.comment {
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.comment .comment-profile {
    margin: 1rem;
    text-align: center;
}

.comment .comment-body {
    width: 100%;
}

.comment .comment-body .user-info {
    font-size: $small-font-size;
    color: $text-muted;
    margin-bottom: .25rem;
}

.comment .comment-body p.text {
    margin-bottom: 1rem;
    word-break: break-word;
}

.comment-actions {
    font-weight: $font-weight-normal;
    font-size: $small-font-size;
    margin-bottom: 0;
}

.comment-actions .fa, .comment-actions .fas {
    font-size: 12px;
    margin-right: .5rem;
    color: $gray-600;
}

.comment-actions .dropdown-item:active .fa, .comment-actions .dropdown-item:active .fas {
    color: $white;
}

.comment-actions .dropdown-item:hover .fa, .comment-actions .dropdown-item:hover .fas {
    color: $white;
}

.comment-actions a:hover .fa, .comment-actions a:hover .fas {
    color: $black;
}

.comment-actions .fas.fa-ellipsis-h {
    font-size: $font-size-lg;
    vertical-align: bottom;
}

.comment-actions .list-inline {
    margin-bottom: 0;
}

.comment-actions .list-inline .list-inline-item {
    margin-right: 1rem;
}

.comment-actions .list-inline .list-inline-item .dropdown-item {
    font-size: $small-font-size;
}

.comment-actions .list-inline .list-inline-item .dropdown-item:active {
    color: $white;
}

.comment-actions a {
    color: $gray;
    text-decoration: none;
}

.comment-actions a:hover {
    color: $black;
}

.comment-actions .dropdown-item:hover {
    color: $white;
}

ul.comment-section {
    padding-left: 0;
    margin-bottom: 0;
}

.comment-count {
    font-size: $h5-font-size;
    color: $black;
}

.comment-write {
    position: relative;
}

.comment-write.child {
    margin-top: 1.5rem;
}

.comment-write.collapsed textarea {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem .75rem;
    background: $white;
    min-height: 84px;
}

.comment-write textarea {
    background: $white;

}

.comment-write .comment-format {
    display: none;
}

.comment-write.collapsed .comment-format {
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0;
    width: 100%;
    z-index: 3;
}

.comment-write .comment-format .format {
    padding: 0 .5rem;
    font-size: $font-size-base;
    color: $gray-500;
}

.comment .comment-collapse {
    padding-right: 15px;
}

.comment .comment-collapse::before {
    content: "";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    border-left: 2px solid #E0E0E0;
    font-size: $font-size-base;
    color: $purple;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    width: 10px;
}

.comment .comment-collapse:hover::before {
    border-left-color: $primary;
}

.comment.collapsed .comment-collapse::before {
    content: "\f138";
    font-family: "Font Awesome 5 Free";
    border-left: none;
    color: $gray-500;
    top: 3px;
    font-size: 10px;
}

.comment.collapsed .comment-collapse:hover::before {
    color: $primary;
}

.comment.collapsed .comment-profile, .comment.collapsed .comment-body p.text, .comment.collapsed div.comment-text, .comment.collapsed .comment-actions, .comment.collapsed .comment-write,
.comment.collapsed .comment {
    display: none;
}

.comment.collapsed .user-info {
    margin-bottom: 0;
}

.comment.collapsed .comment-body {
    opacity: .5;
}

.comment.collapsed .comment-body:hover {
    opacity: 1;
}

.dropdown-menu.user-profile-menu {
    padding: 1rem;
    text-align: left;
}

.dropdown-menu.user-profile-menu .fa, .dropdown-menu.user-profile-menu .far, .dropdown-menu.user-profile-menu .fas {
    text-align: center;
    width: 18px;
    padding-right: .25rem;
}

// Thread Reactions

.reactions-count {
    margin-bottom: 3rem;
}

.reactions-count .total {
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
}

.reaction {
    border: 1px solid $gray-300;
    background-color: $white;
    padding: 0.25rem 0.5rem;
    border-radius: .25rem;
    font-weight: $font-weight-bold;
    margin-right: .25rem;
}

.reaction:hover {
    background-color: $gray-200;
}

.reaction .count {
    margin-left: .5rem;
}

.reaction .reacted {
    border-color: $purple;
    background-color: rgba(60, 173, 243, 0.08);
    color: $purple
}

// Sidebar

.sidebar-post-meta .score {
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
}

.sidebar-post-meta .score-percent {
    font-size: $extra-small-font-size;
    color: $gray-600;
    font-weight: $font-weight-normal;
}

.sidebar-post-meta .shortlink, .sidebar-post-meta .submission-date {
    font-size: $small-font-size;
    color: $text-muted;
    font-weight: $font-weight-normal;
    text-transform: lowercase;
}

.sidebar-post-meta .link, .sidebar-post-meta .date{
    font-size: $small-font-size;
    color: $black;
    font-weight: $font-weight-normal;
}

// Login Page

#login {
    padding-top: 0;
    height: 100%;
    overflow: hidden;
}

.splash-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.splash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.25);
    background-image: linear-gradient(135deg, rgba(33, 212, 253, 0.15) 0%, rgba(98, 199, 115, 0.7) 76%);

}

.splash-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
}

.splash-text {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    color: $white;
    font-weight: $font-weight-normal;
}

// Settings Page

.settings .settings-section {
    margin-bottom: 3rem;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
}

.settings .settings-section .title, .settings .settings-section .body, .settings .settings-section .footer {
    padding: 1rem;
}

.settings .settings-section .title p:last-of-type {
    margin-bottom: 0;
}

.settings .settings-section .footer {
    background-color: $gray-200;
}

// Profile Page

.profile-actions a {
    color: $gray;
    text-decoration: none;
}

.profile-actions .dropdown-item:hover {
    color: $white;
}

.profile-actions .dropdown-item {
    font-size: 13px;
}

.profile-actions .fa, .profile-actions .fas {
    font-size: 12px;
    margin-right: 0.5rem;
}

.profile-actions .fa, .profile-actions .fas {
    font-size: 12px;
    margin-right: .5rem;
}

.profile-actions .dropdown-item:active .fa, .profile-actions .dropdown-item:active .fas {
    color: $white;
}

.profile-actions .dropdown-item:hover .fa, .profile-actions .dropdown-item:hover .fas {
    color: $white;
}

// Footer

#page .footer h1, #page .footer h2, #page .footer h3, #page .footer h4, #page .footer h5, #page .footer h6 {
    font-weight: $font-weight-bold;
}

.footer .list-inline-item {
    font-weight: $font-weight-bold;
}

.footer a {
    text-decoration: none;
}

.footer a:hover, .footer a:focus, .footer a:active {
    text-decoration: underline;
}

.footer.footer-dark a:hover, .footer.footer-dark a:focus, .footer.footer-dark a:active {
    color: $white;
}

// Responsive Borders

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }

    .border#{$infix} {
      border: $border-width solid $border-color !important;
    }

    .border#{$infix}-0 {
      border: none !important;
    }

// Responsive Border Radius
 
	.rounded#{$infix}        { @include border-radius($border-radius); }
	.rounded#{$infix}-top    { @include border-top-radius($border-radius); @include border-bottom-radius(0); }
	.rounded#{$infix}-right  { @include border-right-radius($border-radius); @include border-left-radius(0); }
	.rounded#{$infix}-bottom { @include border-bottom-radius($border-radius); @include border-top-radius(0); }
	.rounded#{$infix}-left   { @include border-left-radius($border-radius); @include border-right-radius(0); }
	.rounded#{$infix}-circle { border-radius: 50%; }
	.rounded#{$infix}-0 {  border-radius: 0;	}

  }
}

// Submissions

.text-format {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $gray-300;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    z-index: 3;
}

.text-format .format {
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #adb5bd;
}

// Custom Switch (iOS-like toggle)

.custom-switch {
  padding-left: 2.25rem;
  padding-bottom: 1rem; // added for positioning
}

.custom-control-label { // added for alignment with the switch
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    opacity: 1;
    background-color: $success;
    border: $success solid 1px;

}

.custom-control-input:checked ~ .custom-control-label:hover::before {
    opacity: 1;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  height: 1.5rem;
  width: 2.75rem;    // it was 1.75rem before. Sliding way is longer than before.
  pointer-events: all;
  border-radius: 1rem;
  background-color: $gray-500;
  border: $gray-500 solid 1px;
  opacity: .7;
}

.custom-switch .custom-control-label:hover::before {
    opacity: .85;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1.5rem - 4px);   // it was calc(1rem - 4px) before. Oval is bigger than before.
  height: calc(1.5rem - 4px);  // it was calc(1rem - 4px) before. Oval is bigger than before.
  background-color: $white;
  border-radius: 2rem; //   it was 0.5rem before. Oval is bigger than before.
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.25rem); //translateX(0.75rem);
  transform: translateX(1.25rem); //translateX(0.75rem);
}

// Code Prettify

pre.prettyprint {
    padding: 0;
}

pre ol.linenums {
    padding-left: 0;
}

pre ol > li {
    margin-bottom: 0;
}

pre ol > li::before {
    color: $white;
    font-weight: $font-weight-normal;
    background-color: rgba(0, 0, 0, .15);
    right: 1rem;
    padding: .25rem;
    text-align: right;
    margin-right: 0.5rem;
    width: 3rem;
}

pre li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: none;
}

pre .pln, code .pln {
    color: #29b1f3;
}

pre .lit, code .lit {
    color: $dark;
}

pre .kwd, code .kwd {
    color: $green;
}

pre .str, code .str {
    color: $green;
    opacity: .75;
}

pre .com, code .com {
    color: #ab4bc3;
}

pre .typ, code .typ {
    color: $white;
}

pre .clo, pre .opn, pre .pun, code .clo, code .opn, code .pun {
    color: #fff;
}

// Responsive media queries

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

.container {
    width: 100%;
    max-width: none;
}

body {
    padding-top: 49px;
}

.navbar-nav {
    height: 100vh;
}

#thread {
    padding-top: 98px;
    background-color: $white;
}

#frontpage {
    padding-top: 98px;
    background-color: $white;
}

#frontpage .posts .card:last-of-type {
    border-bottom: 1px solid $border-color;
}

.post-title {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: normal;
}

#thread .post-title {
    font-size: 16px;
    font-weight: $font-weight-medium;

}

.comment-write .comment-format .format {
    display: none;
}

.comments-count .total {
    font-weight: $font-weight-normal;
}

.comment-write .comment-format .format {
    display: none;
}

.post-filter {
    font-weight: $font-weight-normal;
}

.post-filter .dropdown-item {
    font-size: $small-font-size;
    font-weight: $font-weight-normal;
}

.user-name {
    color: $text-muted;
}

.footer .list-inline-item {
    font-weight: $font-weight-normal;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px!important;
}

}

// Adam's additions

.sidebar-adminpanel input[type="submit"] {
  width:100%
}

.noshow {
  display: none;
}

span.red {
  color: $admin;
}

span.green {
  color: $green;
}

div.banned {
  background-color: $banned;
}	  
			
.distinguish-admin .user-name, .distinguish-mod   .user-name {		
  color: white;		
  padding: 0px 3px 2px 3px;		
  border-radius: 3px;		
}		
.distinguish-admin .user-name {		
  background-color: $admin;		
}		
.distinguish-mod .user-name {		
  background-color: $mod;		
}		
.distinguish-admin .user-name::before {		
 content: "[A] "		
}		
.distinguish-mod .user-name::before {		
 content: "[M] "		
}